<aspect-button
    *ngIf="elementModel.type === 'button'"
    #elementComponent
    [class.hide-navigation]="!((elementModel | cast: ButtonElement).action |
                            isEnabledNavigationTarget: (elementModel | cast: ButtonElement).actionParam:
                            navigationService.enabledNavigationTargets.value)"
    [elementModel]="elementModel | cast: ButtonElement"
    (buttonActionEvent)="applyButtonAction($event)">
</aspect-button>
<aspect-trigger
  *ngIf="elementModel.type === 'trigger'"
  #elementComponent
  [elementModel]="elementModel | cast: TriggerElement"
  (triggerActionEvent)="applyTriggerAction($event)"
  aspectInViewDetection
  detectionType="top"
  (intersecting)="elementComponent.emitEvent()">>
</aspect-trigger>

