.draggable-element {width: 100%; height: 100%;}

.draggable-element.disabled-drag {cursor: unset;}

.draggable-element:not(.disabled-drag):active {cursor: grabbing}

.temporaryHighlight {z-index: 100; background-color: lightblue;}

.centered-horizontal {display: flex; justify-content: center;}

.centered-vertical {display: flex; align-items: center;}

:host ::ng-deep .prevent-interaction * {pointer-events: none !important;}

:host ::ng-deep .prevent-interaction math-field {pointer-events: none !important;}

:host ::ng-deep .prevent-interaction math-field::part(container) {pointer-events: none !important;}

:host ::ng-deep .prevent-interaction math-field::part(mathfield) {pointer-events: none !important;}
