<div [class]="position === 'floating' ? 'floating-keypad-container' : 'fixed-keypad-container'"
     [style.margin-bottom.px]="inputElement.clientHeight + positionOffset"
     (mousedown)="$event.preventDefault()">
  <div *ngIf="position === 'floating'"
       class="keypad-header">
  </div>
  <div class="keypad-inner-container"
       [class.fixed-keypad-inner-container]="position === 'right'"
       (mousedown)="$event.preventDefault(); $event.stopPropagation()">
    <aspect-keypad-layout
        [inputElement]="inputElement"
        [preset]="preset"
        [position]="position"
        [restrictToAllowedKeys]="restrictToAllowedKeys"
        [hasArrowKeys]="hasArrowKeys"
        [arrows]="arrows"
        [hasReturnKey]="hasReturnKey"
        (backSpaceClicked)="backSpaceClicked.emit()"
        (keyClicked)="evaluateKeyValue($event)">
    </aspect-keypad-layout>
  </div>
</div>
