.floating-keypad-container{
  margin-top: 20px;
  background-color: white;
  border: lightgray solid 1px;
  border-radius: 3px;
  overflow-wrap: break-word;
}

.fixed-keypad-container{
  height: 100%;
  min-width: 300px;
  width: 25vw;
  border-left: lightgray solid 1px;
  background-color: #f1f1f1;
  overflow-wrap: break-word;
  overflow-y: auto;
}

.keypad-header{
  cursor: move;
  height: 40px;
  background-color: #f1f1f1;
  text-align: center;
  border-bottom: lightgray;
}

.keypad-inner-container{
  padding: 10px;
}

.fixed-keypad-inner-container{
  padding-top: 10vh;
}


