:host {
  display: block;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.tooltip {
  box-sizing: border-box;
  position: absolute;
  z-index: 10;
  animation: fade-in 300ms;
  margin-left: 5px;
  pointer-events: none;
  .tooltip-text {
    background-color: #333;
    line-height: 24px;
    border-radius: 4px;
    padding: 6px 10px;
    color: #fff;
    font-size: 18px;
    width: fit-content;
  }
}
