:host {
  display: block;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.tooltip {
  box-sizing: border-box;
  position: absolute;
  z-index: 10;
  animation: fade-in 300ms;
  margin-left: 5px;
  pointer-events: none;
  .tooltip-text {
    background-color: black;
    border-radius: 4px;
    padding: 3px 6px;
    color: #ffffff;
    font-size: 13px;
    width: fit-content;
  }
}
