<!-- Is also a droplist to catch the resize drop and not let it bubble up to the canvas drop handler. -->
<!-- TabIndex is needed to make the div selectable and catch keyboard events (delete). -->
<div class="draggable-element"
     [class.temporaryHighlight]="temporaryHighlight"
     (click)="selectElement($event)"
     (dblclick)="openEditDialog()"
     (keyup.delete)="deleteSelectedElements()" tabindex="-1"
     cdkDrag [cdkDragData]="{dragType: 'move', element: element}"
     (cdkDragStarted)="selectElement()"
     cdkDropList>
  <div *cdkDragPlaceholder></div>
  <!-- Needs extra div because styling can interfere with drag and drop-->
  <div [style.position]="'absolute'"
       [style.outline]="isSelected ? '1px dashed purple' : ''"
       [style.left.px]="element.position.xPosition"
       [style.top.px]="element.position.yPosition"
       [style.z-index]="element.position.zIndex">
    <div *ngIf="isSelected" class="resizeHandle"
         cdkDrag (cdkDragStarted)="resizeDragStart()"
         (cdkDragMoved)="resizeElement($event)"
         (cdkDragEnded)="updateModel($event)"
         cdkDragBoundary=".section-wrapper"
         [style.right.px]="-1"
         [style.bottom.px]="-7"
         [style.z-index]="5">
      <mat-icon>aspect_ratio</mat-icon>
    </div>
    <div class="aspect-inserted-element"
         [class.prevent-interaction]="preventInteraction && element.type !== 'cloze' && element.type !== 'table'"
         [style.outline]="isSelected ? '1px dashed purple' : ''"
         [style.width.px]="element.dimensions.width"
         [style.height.px]="element.dimensions.height"
         [style.overflow]="'auto'">
      <ng-template #elementContainer></ng-template>
    </div>
  </div>
</div>
