<div [class]="elementModel.positionProps?.dynamicPositioning && elementModel.positionProps?.fixedSize ?
         'fixed-size-content-wrapper' : 'element-container'">
  <div [class]="elementModel.positionProps?.dynamicPositioning && elementModel.positionProps?.fixedSize ?
            'fixed-size-content' : 'element-container'"
       [style.width]="elementModel.positionProps?.dynamicPositioning && elementModel.positionProps?.fixedSize ?
                      elementModel.width + 'px' : '100%'"
       [style.height]="elementModel.positionProps?.dynamicPositioning && elementModel.positionProps?.fixedSize ?
                      elementModel.height + 'px' : '100%'">
          <aspect-element-text-input-group
              *ngIf="'textInputGroup' === selectedGroup"
              [elementModel]="elementModel"
              [pageIndex]="pageIndex">
          </aspect-element-text-input-group>
          <aspect-element-media-player-group
              *ngIf="'mediaPlayerGroup' === selectedGroup"
              [elementModel]="elementModel"
              [pageIndex]="pageIndex">
          </aspect-element-media-player-group>
          <aspect-element-input-group
              *ngIf="'inputGroup' === selectedGroup"
              [elementModel]="elementModel"
              [pageIndex]="pageIndex">
          </aspect-element-input-group>
          <aspect-element-compound-group
              *ngIf="'compoundGroup' === selectedGroup"
              [elementModel]="elementModel"
              [pageIndex]="pageIndex">
          </aspect-element-compound-group>
          <aspect-element-text-group
              *ngIf="'textGroup' === selectedGroup"
              [elementModel]="elementModel"
              [pageIndex]="pageIndex">
          </aspect-element-text-group>
          <aspect-element-interactive-group
              *ngIf="'interactiveGroup' === selectedGroup"
              [elementModel]="elementModel"
              [pageIndex]="pageIndex">
          </aspect-element-interactive-group>
          <aspect-element-base-group
              *ngIf="!selectedGroup"
              [elementModel]="elementModel"
              [pageIndex]="pageIndex">
          </aspect-element-base-group>
  </div>
</div>

