<div *ngIf="selectedElements.length > 0"
     class="properties-panel"
     fxLayout="column" fxLayoutAlign="space-between stretch">
  <div class="panel-title" fxLayout="column">
    <ng-container *ngIf="combinedProperties.type">
      {{'toolbox.' + combinedProperties.type | translate}}
      <span>{{combinedProperties.id}}</span>
    </ng-container>
    <ng-container *ngIf="!combinedProperties.type">
      <i>Mehrfachauswahl</i>
    </ng-container>
  </div>
  <mat-divider [style.margin-bottom]="0"></mat-divider>
  <mat-tab-group mat-stretch-tabs>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">build</mat-icon>
      </ng-template>
      <aspect-element-model-properties-component [combinedProperties]="combinedProperties"
                                                 [selectedElements]="selectedElements"
                                                 (updateModel)="updateModel($event.property, $event.value)">
      </aspect-element-model-properties-component>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">format_shapes</mat-icon>
      </ng-template>
      <aspect-element-postion-properties [dimensions]="{ width: combinedProperties.width,
                                                         height: combinedProperties.height,
                                                         dynamicWidth: $any(combinedProperties.dynamicWidth)}"
                                         [positionProperties]="combinedProperties.position"
                                         (updateModel)="updateModel($event.property, $event.value, $event.isInputValid)">
      </aspect-element-postion-properties>
    </mat-tab>

    <mat-tab *ngIf="combinedProperties.styling">
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">palette</mat-icon>
      </ng-template>
      <aspect-element-style-properties [styles]="$any(combinedProperties.styling)"
                                       (updateModel)="updateModel($event.property, $event.value)">
      </aspect-element-style-properties>
    </mat-tab>
  </mat-tab-group>

  <div fxLayout="column" class="button-group">
    <mat-divider></mat-divider>
    <button mat-raised-button
            (click)="duplicateElement()">
      {{'propertiesPanel.duplicateElement' | translate }}
    </button>
    <button mat-raised-button color="warn"
            (click)="deleteElement()">
      {{'propertiesPanel.deleteElement' | translate }}
    </button>
  </div>
</div>
<ng-container *ngIf="selectedElements.length === 0">
  <p>{{'propertiesPanel.noElementSelected' | translate }}</p>
</ng-container>
