/*Make tabs not take more width than needed*/
:host ::ng-deep .mat-tab-label {
  min-width: 0 !important;
}

mat-tab-group {
  overflow: auto;
  padding: 0 10px;
}

.panel-title {
  font-size: x-large;
  text-align: center;
}
.panel-title span {
  font-size: medium;
}

/*prevents small scrolling space around tab content*/
:host ::ng-deep .mat-tab-body-wrapper {height: 100%}

:host ::ng-deep .mat-form-field {
  margin-bottom: -10px;
}

:host ::ng-deep mat-checkbox {
  margin-bottom: 5px;
}

:host ::ng-deep .wide-form-field {
  width: 100%;
}

:host ::ng-deep math-field {
  margin: 0 3px 10px 3px;
}

.fx-column-start-stretch {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
}

.fill {
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  box-sizing: border-box;
}

.fx-flex {
  flex: 1 1 0;
  box-sizing: border-box;
  display: flex;
}

.fx-align-self-center {
  align-self: center;
}
