/*Make tabs not take more width than needed*/
:host ::ng-deep .mat-tab-label {
  min-width: 0 !important;
}

mat-tab-group {
  overflow: auto;
  padding: 0 10px;
}

.panel-title {
  font-size: x-large;
  text-align: center;
}
.panel-title span {
  font-size: medium;
}

/*prevents small scrolling space around tab content*/
:host ::ng-deep .mat-tab-body-wrapper {height: 100%}

:host ::ng-deep .mat-form-field {
  margin-bottom: -10px;
}

:host ::ng-deep mat-checkbox {
  margin-bottom: 5px;
}

:host ::ng-deep .wide-form-field {
  width: 100%;
}
