@mixin slider-active-color() {
  --mat-slider-handle-color: #006064;
  --mat-slider-focus-handle-color: #006064;
  --mat-slider-hover-handle-color: #006064;
  --mat-slider-active-track-color: #006064;
  --mat-slider-inactive-track-color: #006064;
  --mat-slider-with-tick-marks-active-container-color: #fff;
  --mat-slider-with-tick-marks-inactive-container-color: #006064;
  --mat-mdc-slider-ripple-color: #006064;
  --mat-mdc-slider-hover-ripple-color: null;
  --mat-mdc-slider-focus-ripple-color: null;
}

@mixin slider-disabled-color() {
  --mat-slider-disabled-handle-color: #006064;
  --mat-slider-disabled-active-track-color: #006064;
  --mat-slider-disabled-inactive-track-color: #006064;
  --mat-slider-with-tick-marks-disabled-container-color: #006064;
  --mat-mdc-slider-value-indicator-opacity: 1.0;
}

.control-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  z-index: 1;
  background-color: var(--background-color);
}

.control-button {
  height: 50px;
  min-width: 24px;
  border-radius: 0;
  z-index: 1;
  .player-icon {
    font-size: 24px;
    width: 24px;
    height: 24px;
  }
}

.enabled-control:hover{
  color: #006064;
}

.time {
  cursor: pointer;
  white-space: nowrap;
  padding: 0 5px;
  z-index: 1;
}

.runs {
  white-space: nowrap;
  padding: 0 5px;
}

.time:hover {
  color: #006064;
}

.active-control {
  color: #006064 !important;
}

.duration {
  flex-grow: 5;
  min-width: 20%;
  margin-top: 3px;
  margin-right: 20px;
  @include slider-active-color();
  @include slider-disabled-color();
}

.volume {
  flex-grow: 2;
  min-width: 10%;
  margin-top: 3px;
  margin-right: 20px;
  @include slider-active-color();
}

.status-bar {
  padding: 10px;
  color: #f44336;
  font-size: 75%;
}

.hint-border {
  border: 2px #f44336 solid;
}

:host ::ng-deep mat-slider input {
  pointer-events: inherit !important;
}

.display-container {
  position: relative;
}

.correct-position {
  margin-bottom: -6px;
}

.hidden {
  display: none;
}

.image-control {
  max-width: 100%;
  max-height: 100%;
}

.center-image-control {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.enabled-image-control {
  cursor: pointer;
  &:hover {
   filter: brightness(90%)
  }
}

.active-image-control {
  cursor: default;
  filter: contrast(120%);
}

.disabled-image-control {
  cursor: default;
  filter: grayscale(100%);
  opacity: 0.7;
}


