<div class="display-container"
  [class.correct-position]="type === 'video' || playerProperties.imgSrc">
  <ng-content></ng-content>
  @if (playerProperties.imgSrc) {
    <img [src]="playerProperties.imgSrc"
         class="image-control"
         [class.center-image-control]="type === 'video'"
         [class.hidden]="(type === 'video') && (playing || disabled || !active || !dependencyDissolved)"
         [class.enabled-image-control]="!playing && !disabled && active && dependencyDissolved"
         [class.active-image-control]="playing"
         [class.disabled-image-control]="disabled || !active || !dependencyDissolved"
         (click)="!disabled && active && dependencyDissolved ? play() : null">
}
</div>
<div *ngIf="playerProperties.startControl ||
    playerProperties.pauseControl ||
    playerProperties.showRestRuns ||
    playerProperties.progressBar ||
    playerProperties.showRestTime ||
    playerProperties.muteControl ||
    playerProperties.volumeControl"
    class="control-bar"
    [class.hint-border]="displayHint"
    [style.--background-color]="backgroundColor">
  <ng-container *ngIf="playerProperties.startControl">
    <button *ngIf="!playing || !playerProperties.pauseControl"
            type="button"
            mat-button
            class="control-button"
            [class.enabled-control]="!disabled && active && dependencyDissolved"
            [class.active-control]="playing"
            [disabled]="disabled || !active || !dependencyDissolved"
            (click)="play()">
      <mat-icon class="player-icon">play_arrow</mat-icon>
    </button>
  </ng-container>
  <ng-container *ngIf="playerProperties.pauseControl">
    <button *ngIf="playing"
            type="button"
            mat-button
            class="control-button"
            [class.enabled-control]="!disabled && active && dependencyDissolved"
            [class.active-control]="pausing"
            [disabled]="disabled || !active || !dependencyDissolved"
            (click)="pause()">
      <mat-icon class="player-icon">pause</mat-icon>
    </button>
  </ng-container>
  <ng-container *ngIf="playerProperties.maxRuns && playerProperties.showRestRuns">
    <div class="runs mat-typography">
      {{ runCounter === playerProperties.maxRuns ? runCounter : runCounter + 1 }} / {{ playerProperties.maxRuns }}
    </div>
  </ng-container>
  <ng-container *ngIf="playerProperties.progressBar">
    <mat-slider class="duration"
                min="0"
                step="0.01"
                [max]="duration"
                [disabled]="disabled || !playerProperties.interactiveProgressbar || !active || !dependencyDissolved">
      <input matSliderThumb
             [ngModel]="currentTime"
             (ngModelChange)="setCurrentTime($event)"/>
    </mat-slider>
  </ng-container>
  <ng-container *ngIf="playerProperties.showRestTime">
    <div *ngIf="!restTimeMode"
         class="time mat-typography"
         (click)="toggleTime()">
      {{currentTime | mediaPlayerTimeFormat}} / {{duration | mediaPlayerTimeFormat }}
    </div>
    <div *ngIf="restTimeMode"
         class="time mat-typography"
         (click)="toggleTime()">
      {{currentRestTime ? '-' : ''}}{{currentRestTime | mediaPlayerTimeFormat}}
    </div>
  </ng-container>
  <ng-container *ngIf="playerProperties.muteControl">
    <button mat-button
            type="button"
            class="control-button"
            [disabled]="!playerProperties.interactiveMuteControl"
            [class.enabled-control]="playerProperties.interactiveMuteControl"
            (click)="toggleVolume()">
      <mat-icon class="player-icon" *ngIf="!muted">volume_up</mat-icon>
      <mat-icon class="player-icon" *ngIf="muted">volume_off</mat-icon>
    </button>
  </ng-container>
  <ng-container *ngIf="playerProperties.volumeControl">
    <mat-slider class="volume"
                min="0"
                step="0.01"
                max="1">
      <input matSliderThumb
             [(ngModel)]="volume"
             (valueChange)="checkMinVolume($event)"/>
    </mat-slider>
  </ng-container>
</div>
<div *ngIf="(displayHint || (project === 'editor' && playerProperties.showHint)) && playerProperties.hintLabel"
     class="status-bar mat-typography">
  {{playerProperties.hintLabel}}
</div>

