<div [class.fixed-row-container]="position === 'right'">
  <div *ngFor="let row of rows">
    <ng-container *ngFor="let key of row, let lastRowKey = last">
      <aspect-keypad-key
          [key]="key"
          [position]="position"
          [last]="lastRowKey"
          (keyClicked)="keyClicked.emit($event)">
      </aspect-keypad-key>
    </ng-container>
  </div>
  <div class="keypad-capslock-container">
    <button
        type="button"
        class="keypad-capslock"
        mat-mini-fab
        [class.fixed-keypad-key]="position === 'right'"
        (click)="toggleShift()">
      <mat-icon *ngIf="!shift">keyboard_arrow_up</mat-icon>
      <mat-icon *ngIf="shift">keyboard_capslock</mat-icon>
    </button>
  </div>
</div>
