<form class="inline-container"
      [formGroup]="form">
  <aspect-cloze
      *ngIf="elementModel.type === 'cloze'"
      #elementComponent
      [parentForm]="form"
      [elementModel]="elementModel | cast: ClozeElement"
      (childrenAdded)="onChildrenAdded($event)">
  </aspect-cloze>
  <aspect-likert
      *ngIf="elementModel.type === 'likert'"
      #elementComponent
      [parentForm]="form"
      [elementModel]="elementModel | cast: LikertElement"
      (childrenAdded)="onChildrenAdded($event)">
  </aspect-likert>
</form>

<aspect-floating-keyboard
    *ngIf="keyboardService.preset !== 'none'"
    [isKeyboardOpen]="isKeyboardOpen && keyboardService.position === 'floating'"
    [overlayOrigin]="keyboardService.elementComponent"
    [inputElement]="keyboardService.inputElement"
    [position]="keyboardService.position"
    [preset]="keyboardService.preset"
    [positionOffset]="0"
    (deleteCharacter)="keyboardService.deleterCharacters()"
    (enterKey)="keyboardService.enterKey($event)">
</aspect-floating-keyboard>
