button {
  text-align: left;
  font-size: medium;
  margin-bottom: 3px;
  width: 100%;
  display: inline-block;
}

.mat-expansion-panel-header {
  font-size: large;
}
.mat-expansion-panel-header.mat-expanded {
  height: 40px;
}

:host ::ng-deep .mat-expansion-panel-body {
  padding: 0 10px 10px;
}

.fx-row-start-stretch {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
