button {
  text-align: left;
  font-size: medium;
  margin-bottom: 3px;
  width: 100%;
  display: inline-block;
}

.mat-expansion-panel-header {
  font-size: large;
}
.mat-expansion-panel-header.mat-expanded {
  height: 40px;
}

:host ::ng-deep .mat-expansion-panel-body {
  padding: 0 10px 10px;
}

:host ::ng-deep .mat-expansion-panel-body button {
  height: unset;
  min-height: 36px;
}

.fill {
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  box-sizing: border-box;
}

.mat-accordion {
  overflow: auto;
}

.no-overflow {
  overflow: hidden;
}

.button-group {
  border: 3px groove;
}

mat-tab-group {
  overflow: auto;
  padding: 0 5px;
}

:host ::ng-deep .mat-mdc-tab-body-wrapper {height: 100%}

:host ::ng-deep .mdc-tab {
  min-width: unset;
}
