<ng-content></ng-content>
<aspect-player-layout *ngIf="pages?.length"
                      aspectUnitState
                      aspectPlayerState
                      [isVisibleIndexPages]="pagesLayout.isVisibleIndexPages"
                      [currentPageIndex]="pagesLayout.selectedIndex">
  <aspect-pages-layout #pagesLayout
                       [style.height.%]="100"
                       [pages]="pages"
                       [alwaysVisiblePage]="pages | alwaysVisiblePage"
                       [alwaysVisiblePagePosition]="(pages | alwaysVisiblePage)?.alwaysVisiblePagePosition || 'left'"
                       [scrollPages]="pages | scrollPages"
                       [hasScrollPages]="(pages | scrollPages).length > 0"
                       [scrollPageMode]="playerConfig.pagingMode || 'separate'">
  </aspect-pages-layout>
</aspect-player-layout>
