<ng-content></ng-content>
<aspect-player-layout *ngIf="pages?.length"
                      aspectUnitState
                      [presentationProgressStatus]="presentationProgressStatus"
                      aspectPlayerState
                      [isVisibleIndexPages]="pagesLayout.isVisibleIndexPages"
                      [currentPageIndex]="pagesLayout.selectedIndex">
  <aspect-pages-layout #pagesLayout
                       [style.height.%]="100"
                       [sectionNumbering]="sectionNumbering"
                       [pages]="pages"
                       [alwaysVisiblePage]="pages | alwaysVisiblePage"
                       [alwaysVisiblePagePosition]="(pages | alwaysVisiblePage)?.alwaysVisiblePagePosition || 'left'"
                       [scrollPages]="pages | scrollPages"
                       [hasScrollPages]="(pages | scrollPages).length > 0"
                       [scrollPageMode]="playerConfig.pagingMode || 'separate'"
                       [showUnitNavNext]="showUnitNavNext"
                       [isPresentedPagesComplete]="presentationProgressStatus.value === 'complete'">
  </aspect-pages-layout>
</aspect-player-layout>
