<aspect-media-player-control-bar *ngIf="elementModel.src"
                                 [player]="player"
                                 [type]="elementModel.type === 'video' ? 'video' : 'audio'"
                                 [isLoaded]="isLoaded"
                                 [mediaSrc]="elementModel.src"
                                 [project]="project"
                                 [id]="elementModel.id"
                                 [savedPlaybackTime]="savedPlaybackTime"
                                 [playerProperties]="elementModel.player"
                                 [hintDelay]="hintDelay"
                                 [active]="active"
                                 [dependencyDissolved]="dependencyDissolved"
                                 [backgroundColor]="elementModel.styling.backgroundColor"
                                 (mediaPlayStatusChanged)="mediaPlayStatusChanged.emit($event)"
                                 (mediaValidStatusChanged)="mediaValidStatusChanged.emit($event)"
                                 (elementValueChanged)="elementValueChanged.emit($event)"
                                 (hintDelayInitialized)="hintDelayInitialized.emit($event)"
                                 (mediaDurationNotAvailable)="throwError(
                                   'media-duration-error',
                                   mediaDurationNotAvailableMsg)">
  <audio #player
         [style.width.%]="100">
  </audio>
</aspect-media-player-control-bar>
<aspect-spinner [isLoaded]="isLoaded"
                (timeOut)="throwError('audio-timeout', timeoutMsg)">
</aspect-spinner>
