<fieldset class="fx-column-start-stretch">
  <legend>Eingabeelement</legend>
  <!-- DropList label is unused -->
  <mat-form-field *ngIf="combinedProperties.label !== undefined"
                  appearance="fill">
    <mat-label>{{'propertiesPanel.label' | translate }}</mat-label>
    <textarea matInput type="text"
              [value]="$any(combinedProperties.label)"
              [disabled]="$any(combinedProperties.imgSrc)"
              (input)="updateModel.emit({ property: 'label', value: $any($event.target).value })">
        </textarea>
  </mat-form-field>

  <aspect-merged-checkbox [value]="$any(combinedProperties.readOnly)"
                          (valueChange)="updateModel.emit({ property: 'readOnly', value: $event })">
    {{'propertiesPanel.readOnly' | translate }}
  </aspect-merged-checkbox>

  <aspect-merged-checkbox *ngIf="unitService.expertMode" [value]="$any(combinedProperties.required)"
                          (valueChange)="updateModel.emit({ property: 'required', value: $event })">
    {{'propertiesPanel.requiredField' | translate }}
  </aspect-merged-checkbox>

  <mat-form-field *ngIf="unitService.expertMode" appearance="fill">
    <mat-label>{{'propertiesPanel.requiredWarnMessage' | translate }}</mat-label>
    <input matInput type="text" [disabled]="!combinedProperties.required"
           [value]="$any(combinedProperties.requiredWarnMessage)"
           (input)="updateModel.emit({ property: 'requiredWarnMessage', value: $any($event.target).value })">
  </mat-form-field>
</fieldset>
