<aspect-text
    #elementComponent
    [elementModel]="elementModel | cast: TextElement"
    [savedText]="initialValue"
    (markingDataChanged)="applyMarkingData($event)"
    (textSelectionStart)="startTextSelection($event)"
    (elementValueChanged)="unitStateService.changeElementCodeValue($event)">
</aspect-text>
<aspect-floating-marking-bar *ngIf="elementModel.hasSelectionPopup"
    [elementComponent]="elementComponent"
    [isMarkingBarOpen]="isMarkingBarOpen"
    [textComponentRect]="textComponentRect"
    [textComponentContainerScrollTop]="textComponentContainerScrollTop"
    [markingBarPosition]="markingBarPosition"
    (markingDataChanged)="applyMarkingDataToText($event.mode, $event.color)">
</aspect-floating-marking-bar>
