<aspect-text
    #elementComponent
    [elementModel]="elementModel | cast: TextElement"
    [savedText]="savedText"
    (markingDataChanged)="textMarkingSupport.applyMarkingData($event, elementComponent)"
    (textSelectionStart)="textMarkingSupport.startTextSelection($event, elementComponent)"
    (selectedColorChanged)="broadcastMarkingColorChange($event)"
    (elementValueChanged)="changeElementCodeValue($event)">
</aspect-text>

<aspect-floating-marking-bar *ngIf="elementModel.hasSelectionPopup"
    [elementComponent]="elementComponent"
    [isMarkingBarOpen]="textMarkingSupport.isMarkingBarOpen"
    [textComponentRect]="textMarkingSupport.textComponentRect"
    [textComponentContainerScrollTop]="textMarkingSupport.textComponentContainerScrollTop"
    [markingBarPosition]="textMarkingSupport.markingBarPosition"
    (markingDataChanged)="textMarkingSupport.applyMarkingDataToText($event.mode, $event.color, elementComponent)">
</aspect-floating-marking-bar>
