<aspect-unit #unit
             [isStandalone]="isStandalone">
  @if (isStandalone) {
    <aspect-unit-menu class="unit-definition-menu"
                      [scrollPages]="unit.pages | scrollPages"
                      [elementCodes]="unit.unitStateService.elementCodes"
                      [stateVariableCodes]="unit.stateVariableStateService.elementCodes"
                      [geometryVariableCodes]="unit.geometryVariableStateService.elementCodes">
    </aspect-unit-menu>
  }
</aspect-unit>
