<button mat-icon-button
        [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>
</button>

<mat-menu #menu="matMenu">
  <mat-form-field
    class="start-page"
    (click)="$event.stopPropagation()" >
    <mat-label>{{ 'startPageIndex' | translate }}</mat-label>
    <input type="text"
           matInput
           [formControl]="formControl">
  </mat-form-field>
  <button mat-menu-item
          (click)="load('separate', 'off')">
    <mat-icon>file_upload</mat-icon>
    <span>{{ 'loadSeparate' | translate }}</span>
  </button>
  <button mat-menu-item
          (click)="load('buttons', 'off')">
    <mat-icon>file_upload</mat-icon>
    <span>{{ 'loadButtons' | translate }}</span>
  </button>
  <button mat-menu-item
          (click)="load('concat-scroll', 'off')">
    <mat-icon>file_upload</mat-icon>
    <span>{{ 'loadScroll' | translate }}</span>
  </button>
  <button mat-menu-item
          (click)="load('concat-scroll-snap', 'off')">
    <mat-icon>file_upload</mat-icon>
    <span>{{ 'loadSnap' | translate }}</span>
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item
          (click)="load('separate', 'on')">
    <mat-icon>print</mat-icon>
    <span>{{ 'loadPrint' | translate }}</span>
  </button>
  <button mat-menu-item
          (click)="load('separate', 'on-with-ids')">
    <mat-icon>print</mat-icon>
    <span>{{ 'loadPrintWithIds' | translate }}</span>
  </button>

  @if (scrollPages && scrollPages.length) {
    <mat-divider></mat-divider>
    <button mat-menu-item
            (click)="changePagingMode('separate')">
      <mat-icon>auto_stories</mat-icon>
      <span>{{ 'applySeparate' | translate }}</span>
    </button>
    <button mat-menu-item
            (click)="changePagingMode('buttons')">
      <mat-icon>unfold_more</mat-icon>
      <span>{{ 'applyButtons' | translate }}</span>
    </button>
    <button mat-menu-item
            (click)="changePagingMode('concat-scroll')">
      <mat-icon>south</mat-icon>
      <span>{{ 'applyScroll' | translate }}</span>
    </button>
    <button mat-menu-item
            (click)="changePagingMode('concat-scroll-snap')">
      <mat-icon>vertical_align_bottom</mat-icon>
      <span>{{ 'applySnap' | translate }}</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item
            (click)="enableNavigationTargets([])">
      <mat-icon>cancel</mat-icon>
      <span>{{ 'allowNone' | translate }}</span>
    </button>
    <button mat-menu-item
            (click)="enableNavigationTargets(['next'])">
      <mat-icon>arrow_forward</mat-icon>
      <span>{{ 'allowNext' | translate }}</span>
    </button>
    <button mat-menu-item
            (click)="enableNavigationTargets(['previous'])">
      <mat-icon>arrow_back</mat-icon>
      <span>{{ 'allowPrevious' | translate }}</span>
    </button>
    <button mat-menu-item
            (click)="enableNavigationTargets(['next', 'previous'])">
      <mat-icon>sync_alt</mat-icon>
      <span>{{ 'allowNextPrevious' | translate }}</span>
    </button>
    <button mat-menu-item
            (click)="enableNavigationTargets()">
      <mat-icon>emoji_emotions</mat-icon>
      <span>{{ 'allowAll' | translate }}</span>
    </button>
  }

  <ng-container *ngIf="elementCodes && elementCodes.length">
    <mat-divider></mat-divider>
    <button mat-menu-item
            (click)="reloadUnit()">
      <mat-icon>refresh</mat-icon>
      <span>{{ 'reloadUnit' | translate }}</span>
    </button>
  </ng-container>

  @if (scrollPages && scrollPages.length > 1) {
    <mat-divider></mat-divider>
    @for (page of scrollPages; track page; let i = $index) {
    <button mat-menu-item
              (click)="goToPage(i)">
        <mat-icon>web_stories</mat-icon>
        <span>{{ 'pageIndication' | translate: {index: i + 1} }}</span>
      </button>
    }
  }
</mat-menu>
