@if (combinedProperties.textAlign !== undefined) {
  <fieldset class="fx-column-start-stretch">
    <legend>{{'propertiesPanel.textAlign' | translate }}</legend>
    <mat-button-toggle-group class="text-align-toggle-group"
                             [value]="combinedProperties.textAlign"
                             (change)="updateModel.emit({ property: 'textAlign', value: $event.value })">
      <mat-button-toggle value="left"
                         [matTooltip]="'propertiesPanel.textAlignLeft' | translate">
        <mat-icon>format_align_left</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="center"
                         [matTooltip]="'propertiesPanel.textAlignCenter' | translate">
        <mat-icon>format_align_center</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="right"
                         [matTooltip]="'propertiesPanel.textAlignRight' | translate">
        <mat-icon>format_align_right</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </fieldset>
}

<mat-form-field *ngIf="unitService.expertMode && combinedProperties.appearance !== undefined" appearance="fill">
  <mat-label>{{'propertiesPanel.appearance' | translate }}</mat-label>
  <mat-select [value]="combinedProperties.appearance"
              (selectionChange)="updateModel.emit({ property: 'appearance', value: $event.value })">
    <mat-option *ngFor="let option of [{displayValue: 'fill', value: 'fill'},
                                     {displayValue: 'outline', value: 'outline'}]"
                [value]="option.value">
      {{'propertiesPanel.' + option.displayValue | translate}}
    </mat-option>
  </mat-select>
</mat-form-field>

<ng-container *ngIf="unitService.expertMode && combinedProperties.minLength !== undefined">
  <mat-form-field class="wide-form-field" appearance="fill">
    <mat-label>{{'propertiesPanel.minLength' | translate }}</mat-label>
    <input matInput type="number" #minLength="ngModel" min="0"
           [ngModel]="combinedProperties.minLength"
           (ngModelChange)="updateModel.emit({
                property: 'minLength',
                value: $event,
                isInputValid: minLength.valid })"
           (change)="revertIfInvalid(minLength, combinedProperties.minLength)">
  </mat-form-field>
  <mat-form-field class="wide-form-field" appearance="fill">
    <mat-label>{{'propertiesPanel.minLengthWarnMessage' | translate }}</mat-label>
    <input #minLengthWarnMessageField matInput type="text"
           [disabled]="!combinedProperties.minLength"
           [value]="combinedProperties.minLengthWarnMessage"
           (input)="updateModel.emit({ property: 'minLengthWarnMessage', value: minLengthWarnMessageField.value })">
  </mat-form-field>
</ng-container>

<ng-container *ngIf="unitService.expertMode && combinedProperties.maxLength !== undefined">
  <mat-form-field class="wide-form-field" appearance="fill">
    <mat-label>{{'propertiesPanel.maxLength' | translate }}</mat-label>
    <input matInput type="number" #maxLength="ngModel" min="0"
           [ngModel]="combinedProperties.maxLength"
           (ngModelChange)="updateModel.emit({
                property: 'maxLength',
                value: $event,
                isInputValid: maxLength.valid })"
           (change)="revertIfInvalid(maxLength, combinedProperties.maxLength)">
  </mat-form-field>
  <aspect-merged-checkbox *ngIf="combinedProperties.isLimitedToMaxLength !== undefined"
                          [disabled]="!combinedProperties.maxLength"
                          [value]="combinedProperties.isLimitedToMaxLength"
                          (valueChange)="updateModel.emit({ property: 'isLimitedToMaxLength', value: $event })">
    {{'propertiesPanel.isLimitedToMaxLength' | translate }}
  </aspect-merged-checkbox>
  <mat-form-field class="wide-form-field" appearance="fill">
    <mat-label>{{'propertiesPanel.maxLengthWarnMessage' | translate }}</mat-label>
    <input #maxLengthWarnMessageField matInput type="text"
           [disabled]="!combinedProperties.maxLength"
           [value]="combinedProperties.maxLengthWarnMessage"
           (input)="updateModel.emit({ property: 'maxLengthWarnMessage', value: maxLengthWarnMessageField.value })">
  </mat-form-field>
</ng-container>

<ng-container *ngIf="unitService.expertMode && combinedProperties.pattern !== undefined">
  <mat-form-field class="wide-form-field" appearance="fill"
                  matTooltip="{{ 'propertiesPanel.patternTooltip' | translate }}">
    <mat-label>{{'propertiesPanel.pattern' | translate }}</mat-label>
    <input matInput [formControl]="regexPatternFormControl" (blur)="validateRegex($event)">
    <mat-error>{{ 'propertiesPanel.invalidPattern' | translate }}</mat-error>
  </mat-form-field>
  <mat-form-field class="wide-form-field" appearance="fill">
    <mat-label>{{'propertiesPanel.patternWarnMessage' | translate }}</mat-label>
    <input #patternWarnMessageField matInput type="text"
           [disabled]="!combinedProperties.pattern"
           [value]="combinedProperties.patternWarnMessage"
           (input)="updateModel.emit({ property: 'patternWarnMessage', value: patternWarnMessageField.value })">
  </mat-form-field>
</ng-container>

<aspect-merged-checkbox *ngIf="unitService.expertMode && combinedProperties.clearable !== undefined"
                        [value]="combinedProperties.clearable"
                        (valueChange)="updateModel.emit({ property: 'clearable', value: $event })">
  {{'propertiesPanel.clearable' | translate }}
</aspect-merged-checkbox>
