<ng-template
    *ngIf="keypadService.preset"
    cdkConnectedOverlay
    cdkConnectedOverlayPush
    [cdkConnectedOverlayScrollStrategy]="repositionScrollStrategy"
    [cdkConnectedOverlayOrigin]="keypadService.elementComponent | asOverlayOrigin"
    [cdkConnectedOverlayPositions]="overlayPositions"
    [cdkConnectedOverlayOpen]="isKeypadOpen && keypadService.position === 'floating'">
  <aspect-keypad
      cdkDrag
      cdkDragRootElement=".cdk-overlay-pane"
      [inputElement]="keypadService.inputElement"
      [position]="keypadService.position"
      [preset]="keypadService.preset"
      [customKeys]="keypadService.elementComponent.elementModel.inputAssistanceCustomKeys | inputAssistanceCustomKeys"
      [restrictToAllowedKeys]="!!keypadService.elementComponent.elementModel.restrictedToInputAssistanceChars"
      [hasArrowKeys]="!!keypadService.elementComponent.elementModel.hasArrowKeys"
      [hasBackspaceKey]="!!keypadService.elementComponent.elementModel.hasBackspaceKey"
      [hasReturnKey]="keypadService.elementComponent.elementModel | hasReturnKey"
      (backSpaceClicked)="keypadService.deleteCharacters.emit(true)"
      (keyClicked)="keypadService.enterKey.emit($event)"
      (select)="keypadService.select.emit($event)">
  </aspect-keypad>
</ng-template>
