<ng-template
    *ngIf="keypadService.preset"
    cdkConnectedOverlay
    cdkConnectedOverlayPush
    [cdkConnectedOverlayScrollStrategy]="repositionScrollStrategy"
    [cdkConnectedOverlayOrigin]="keypadService.elementComponent"
    [cdkConnectedOverlayPositions]="overlayPositions"
    [cdkConnectedOverlayOpen]="isKeypadOpen && keypadService.position === 'floating'">
  <aspect-keypad
      cdkDrag
      cdkDragRootElement=".cdk-overlay-pane"
      [positionOffset]="keypadService.elementComponent.elementModel.type === 'text-field' ? 20 : 0"
      [inputElement]="keypadService.inputElement"
      [position]="keypadService.position"
      [preset]="keypadService.preset"
      [customKeys]="keypadService.elementComponent.elementModel.inputAssistanceCustomKeys"
      [restrictToAllowedKeys]="keypadService.elementComponent.elementModel.restrictedToInputAssistanceChars"
      [hasArrowKeys]="keypadService.elementComponent.elementModel.hasArrowKeys"
      [hasReturnKey]="!!keypadService.elementComponent.elementModel.hasReturnKey"
      (backSpaceClicked)="keypadService.deleteCharacters(true)"
      (keyClicked)="keypadService.enterKey($event)">
  </aspect-keypad>
</ng-template>
