.radio-button-label {
  cursor: pointer;
  justify-content: center;
}
mat-radio-group {
  display: grid;
  align-items: end;
}

:host ::ng-deep mat-radio-button .mdc-form-field {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 60px;
}

:host ::ng-deep mat-radio-button .mdc-form-field label {
  margin: 0;
  padding: 0;
}

.error-message {
  font-size: 75%;
}
