<div>
  <button mat-mini-fab
          type='button'
          [matTooltip]="'openWidget' | translate: { widget: ('calculator' | translate) }"
          [style.background-color]="elementModel.styling.backgroundColor"
          [style.color]="elementModel.styling.fontColor"
          [style.vertical-align]="elementModel.labelAlignment"
          (click)="emitWidgetCall()">
    <mat-icon>{{ WidgetCalcElement.icon }}</mat-icon>
  </button>

  <div>
    <div class="state-value" *ngIf="elementModel.state">{{ elementModel.state }}</div>
  </div>
</div>
