<mat-checkbox *ngIf="combinedProperties.highlightableYellow !== undefined"
              [disabled]="disabled"
              [checked]="$any(combinedProperties.highlightableYellow)"
              (change)="updateModel.emit({ property: 'highlightableYellow', value: $event.checked })">
  {{'propertiesPanel.highlightableYellow' | translate }}
</mat-checkbox>
<mat-checkbox *ngIf="combinedProperties.highlightableTurquoise !== undefined"
              [disabled]="disabled"
              [checked]="$any(combinedProperties.highlightableTurquoise)"
              (change)="updateModel.emit({ property: 'highlightableTurquoise', value: $event.checked })">
  {{'propertiesPanel.highlightableTurquoise' | translate }}
</mat-checkbox>
<mat-checkbox *ngIf="combinedProperties.highlightableOrange !== undefined"
              [disabled]="disabled"
              [checked]="$any(combinedProperties.highlightableOrange)"
              (change)="updateModel.emit({ property: 'highlightableOrange', value: $event.checked })">
  {{'propertiesPanel.highlightableOrange' | translate }}
</mat-checkbox>
