:host ::ng-deep div.ProseMirror {
  min-height: 350px;
}

:host ::ng-deep .small-input div.ProseMirror {
  min-height: 100px;
}

.editor-control-panel {
  margin-bottom: 15px;
  font: unset;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.editor-control-panel button.active {
  background-color: lightgrey;
}

:host ::ng-deep .editor-control-panel .dropdown .mat-mdc-form-field-infix {
  min-height: unset;
  padding-top: 10px;
  padding-bottom: 10px;
}

:host ::ng-deep .editor-control-panel .dropdown .mdc-notched-outline__notch {
  max-width: unset !important;
}

:host ::ng-deep .editor-control-panel .indent-size-input .mat-mdc-form-field-flex {
  height: 45px;
}

:host ::ng-deep .editor-control-panel .indent-size-input .mat-mdc-form-field-infix {
  padding-top: 10px;
  padding-bottom: 10px;
}

:host fieldset {
  height: 55px;
  box-sizing: content-box !important;
  border-radius: 3px;
  padding: 2px 5px 15px 5px;
}

// ### Override TipTap text styling ###

:host ::ng-deep .ProseMirror p strong {
  letter-spacing: 0.02em !important;
  font-weight: 750 !important;
}
:host ::ng-deep .ProseMirror h1 {
  font-weight: bold;
  font-size: 20px;
}
:host ::ng-deep .ProseMirror h2 {
  font-weight: bold;
  font-size: 18px;
}
:host ::ng-deep .ProseMirror h3 {
  font-weight: bold;
  font-size: 16px;
}
:host ::ng-deep .ProseMirror h4 {
  font-weight: normal;
  font-size: 16px;
}
::ng-deep mark {
  color: inherit;
}
:host ::ng-deep .ProseMirror tooltip {
  background-color: #eee;
}
