tiptap-editor {
  height: 60%;
  border: 1px solid;
  margin: 0 20px;
}
:host ::ng-deep div.ProseMirror {
  height: 99%;
  outline: none;
}

:host ::ng-deep .ProseMirror p strong {
  letter-spacing: 0.02em !important;
  font-weight: 750 !important;
}

:host ::ng-deep .ProseMirror h1 {
  font-weight: bold;
  font-size: 20px;
}
:host ::ng-deep .ProseMirror h2 {
  font-weight: bold;
  font-size: 18px;
}
:host ::ng-deep .ProseMirror h3 {
  font-weight: bold;
  font-size: 16px;
}
:host ::ng-deep .ProseMirror h4 {
  font-weight: normal;
  font-size: 16px;
}

::ng-deep mark {
  color: inherit;
}

:host ::ng-deep .ProseMirror tooltip {
  background-color: #eee;
}

button.active {
  background-color: lightgrey;
}

.editor-control-panel {
  margin-bottom: 20px;
  background: linear-gradient(to top right, #FFF5F8, #FAFAFA);
  font: unset;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

:host ::ng-deep .dropdown .mat-mdc-form-field-infix {
  min-height: unset;
  padding-top: 10px;
  padding-bottom: 10px;
}

:host ::ng-deep .dropdown .mdc-notched-outline__notch {
  max-width: unset !important;
}

:host ::ng-deep .indent-size-input .mat-mdc-form-field-flex {
  height: 45px;
}

:host ::ng-deep .indent-size-input .mat-mdc-form-field-infix {
  padding-top: 10px;
  padding-bottom: 10px;
}

:host fieldset {
  height: 55px;
  box-sizing: content-box !important;
  border-radius: 3px;
  padding: 5px 5px 10px 5px;
}

.fx-column-start-stretch {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.fx-row-start-stretch {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

.fx-row-start-start {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.fx-row-space-between-stretch {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.fx-row-space-around-center {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
