:host {
  display: flex;
  flex-direction: column;
}

tiptap-editor {
  flex-grow: 1;
  display: flex;
  overflow: auto;
  min-height: 80px;
}

:host ::ng-deep div.ProseMirror {
  width: 100%;
  margin: 1px 1px 10px 1px;
  overflow: auto;
  border: 1px solid gray;
  max-width: 1040px;
  padding: 5px;
}

.editor-control-panel {
  padding: 5px;
  font: unset;
  max-width: 1040px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: linear-gradient(to top right, #FFF5F8, #FAFAFA);
  box-shadow: 0 2px 2px -2px rgba(34,47,62,.1),0 8px 8px -4px rgba(34,47,62,.07);
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.editor-control-panel .input-group {
  display: flex;
  align-items: center;
  height: 50px;
  margin-right: 10px;
  padding: 0.3em 0 0.7em 0;
}

.editor-control-panel .input-group .dropdown {
  width: 95px;
  height: 40px;
  margin: 0 5px;
}

// ### Adjust Material select ###
:host ::ng-deep .editor-control-panel .input-group .dropdown .mat-mdc-text-field-wrapper {
  max-height: 100%;
}
:host ::ng-deep .editor-control-panel .input-group .dropdown .mat-mdc-form-field-flex {
  align-self: center;
}
:host ::ng-deep .editor-control-panel .input-group .dropdown .mat-mdc-form-field-infix {
  padding: 0;
  min-height: 0;
}
:host ::ng-deep .editor-control-panel .input-group .dropdown .mat-mdc-form-field-subscript-wrapper {
  display: none;
}
:host ::ng-deep .editor-control-panel .input-group .dropdown .mdc-notched-outline__notch {
  max-width: unset !important;
}
:host ::ng-deep .editor-control-panel .input-group .textfield {
  height: 45px;
  width: 65px;
  margin: 0 5px;
}

// ### Adjust Material text field ###
:host ::ng-deep .editor-control-panel .input-group .textfield .mat-mdc-form-field-infix {
  padding-top: 12px;
}
:host ::ng-deep .editor-control-panel .input-group .textfield .mat-mdc-text-field-wrapper {
  max-height: 100%;
}
:host ::ng-deep .editor-control-panel .input-group .textfield .mdc-notched-outline__notch {
  max-width: unset !important;
}


.editor-control-panel .input-group aspect-combo-button {
  margin: 0 10px;
}

.editor-control-panel button.active {
  background-color: lightgrey;
}

// ### Override TipTap text styling ###

:host ::ng-deep .ProseMirror p strong {
  letter-spacing: 0.02em !important;
  font-weight: 750 !important;
}
:host ::ng-deep .ProseMirror h1 {
  font-weight: bold;
  font-size: 20px;
}
:host ::ng-deep .ProseMirror h2 {
  font-weight: bold;
  font-size: 18px;
}
:host ::ng-deep .ProseMirror h3 {
  font-weight: bold;
  font-size: 16px;
}
:host ::ng-deep .ProseMirror h4 {
  font-weight: normal;
  font-size: 16px;
}
::ng-deep mark {
  color: inherit;
}
:host ::ng-deep .ProseMirror tooltip {
  background-color: #eee;
}

// Show placeholder
:host ::ng-deep .tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
