div.ProseMirror {
  min-height: 350px;
  border: 1px solid;
}

app-rich-text-editor button.active {
  background-color: lightgrey;
}

app-rich-text-editor mat-form-field {
  width: 100px;
  margin: 0 8px;
}

app-rich-text-editor mat-form-field.mat-form-field-type-mat-select {
  margin-top: 4px;
}

app-rich-text-editor .editor-controls-first-line {
  height: 50px;
  margin-bottom: 5px;
}

app-rich-text-editor .editor-controls-second-line {
  height: 50px;
  margin-bottom: 5px;
}

.ProseMirror p strong {
  letter-spacing: 0.04em !important;
  font-weight: 600 !important;
}

.ProseMirror h1 {
  font-weight: bold;
  font-size: 20px;
}
.ProseMirror h2 {
  font-weight: bold;
  font-size: 18px;
}
.ProseMirror h3 {
  font-weight: bold;
  font-size: 16px;
}
.ProseMirror h4 {
  font-weight: normal;
  font-size: 16px;
}

.editor-controls-first-line .combo-button {
  margin-top: 5px;
  margin-left: 10px;
}

.editor-controls-first-line .combo-button mat-select {
  margin-top: 25%;
}

.editor-controls-second-line .combo-button {
  margin-bottom: 10px;
  border-radius: 10px;
}

.editor-controls-second-line .combo-button mat-select {
  margin-top: 25%;
  margin-left: -10px;
}

.button-group {
  margin-right: 10px;
}
.button-group button {
  margin: 0 -5px;
}
.editor-controls-first-line .button-group {
  margin-top: 8px;
}
.editor-controls-second-line .button-group {
  margin-right: 25px;
}

.font-size-dropdown {
  width: 70px;
}

.special-chars-button {
  margin-left: 25px;
}
