div.ProseMirror {
  min-height: 300px;
  border: 1px solid;
}

.ProseMirror p strong {
  letter-spacing: 0.04em !important;
  font-weight: 600 !important;
}

.ProseMirror h1 {
  font-weight: bold;
  font-size: 20px;
}
.ProseMirror h2 {
  font-weight: bold;
  font-size: 18px;
}
.ProseMirror h3 {
  font-weight: bold;
  font-size: 16px;
}
.ProseMirror h4 {
  font-weight: normal;
  font-size: 16px;
}

mark {
  color: inherit;
}

app-rich-text-editor button.active {
  background-color: lightgrey;
}

.combo-button {
  margin-top: -2px;
  margin-left: 10px;
}
.combo-button mat-select {
  margin-top: 20%;
}

.editor-control-panel {
  margin-bottom: 10px;
  background: linear-gradient(to top right, #FFF5F8, #FAFAFA);
}

.small-dropdown {
  width: 70px;
  top: -7px;
}

.dropdown {
  width: 110px;
  top: -7px;
  margin: 0 10px;
}

.indent-size-input {
  width: 90px;
  top: -7px;
}

.indent-size-input .mat-form-field-flex {
  padding: 5px;
}

.indent-size-input .mat-form-field-infix {
  padding: .25em 0 .15em 0;
}

fieldset {
  height: 55px;
  box-sizing: content-box !important;
  border-radius: 3px;
  padding-bottom: 7px;
}
