:host {
  display: flex;
  flex-direction: column;
}

tiptap-editor {
  flex-grow: 1;
  display: flex;
  overflow: scroll;
}

:host ::ng-deep div.ProseMirror {
  width: 100%;
  margin: 10px;
  overflow: scroll;
}

.editor-control-panel {
  margin-bottom: 15px;
  font: unset;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: 0 2px 2px -2px rgba(34,47,62,.1),0 8px 8px -4px rgba(34,47,62,.07);
}

.editor-control-panel .input-group {
  display: flex;
  align-items: center;
  height: 50px;
  margin-right: 20px;
}

.editor-control-panel .input-group mat-select {
  margin: 0 10px;
}

.editor-control-panel .input-group aspect-combo-button {
  margin: 0 10px;
}

.editor-control-panel button.active {
  background-color: lightgrey;
}

// ### Override TipTap text styling ###

:host ::ng-deep .ProseMirror p strong {
  letter-spacing: 0.02em !important;
  font-weight: 750 !important;
}
:host ::ng-deep .ProseMirror h1 {
  font-weight: bold;
  font-size: 20px;
}
:host ::ng-deep .ProseMirror h2 {
  font-weight: bold;
  font-size: 18px;
}
:host ::ng-deep .ProseMirror h3 {
  font-weight: bold;
  font-size: 16px;
}
:host ::ng-deep .ProseMirror h4 {
  font-weight: normal;
  font-size: 16px;
}
::ng-deep mark {
  color: inherit;
}
:host ::ng-deep .ProseMirror tooltip {
  background-color: #eee;
}
