<aspect-widget-periodic-table
    *ngIf="elementModel.type === 'widget-periodic-table'"
    #elementComponent
    [elementModel]="elementModel | cast: WidgetPeriodicTableElement"
    (widgetCallEvent)="applyWidgetPeriodicTableCall($event)">
</aspect-widget-periodic-table>

<aspect-widget-calc
    *ngIf="elementModel.type === 'widget-calc'"
    #elementComponent
    [elementModel]="elementModel | cast: WidgetCalcElement"
    (widgetCallEvent)="applyWidgetCalcCall($event)">
</aspect-widget-calc>

