<aspect-widget-periodic-table
    *ngIf="elementModel.type === 'widget-periodic-table'"
    #elementComponent
    [elementModel]="elementModel | cast: WidgetPeriodicTableElement"
    (widgetCallEvent)="applyWidgetCall($event, 'periodic_table')">
</aspect-widget-periodic-table>

<aspect-widget-calc
    *ngIf="elementModel.type === 'widget-calc'"
    #elementComponent
    [elementModel]="elementModel | cast: WidgetCalcElement"
    (widgetCallEvent)="applyWidgetCall($event, 'calc')">
</aspect-widget-calc>

<aspect-widget-molecule-editor
    *ngIf="elementModel.type === 'widget-molecule-editor'"
    #elementComponent
    [elementModel]="elementModel | cast: WidgetMoleculeEditorElement"
    (widgetCallEvent)="applyWidgetCall($event, 'molecule_editor')">
</aspect-widget-molecule-editor>
