<div>
  <app-key [key]="'7'"></app-key>
  <app-key [key]="'8'"></app-key>
  <app-key [key]="'9'"></app-key>
</div>
<div>
  <app-key [key]="'4'"></app-key>
  <app-key [key]="'5'"></app-key>
  <app-key [key]="'6'"></app-key>
</div>
<div>
  <app-key [key]="'1'"></app-key>
  <app-key [key]="'2'"></app-key>
  <app-key [key]="'3'"></app-key>
</div>
<div>
  <app-key [key]="'0'"></app-key>
  <button
      type="button"
      mat-mini-fab
      class="delete-characters"
      (click)="keyboardService.deleterCharacters()">
    <mat-icon>keyboard_backspace</mat-icon>
  </button>
</div>
<ng-container *ngIf="operators">
  <div class="grid-layout">
    <app-key [key]="'+'"
             [style.grid-column-start]="1"
             [style.grid-column-end]="2"
             [style.grid-row-start]="1"
             [style.grid-row-end]="2"></app-key>
    <app-key [key]="'-'"
             [style.grid-column-start]="2"
             [style.grid-column-end]="3"
             [style.grid-row-start]="1"
             [style.grid-row-end]="2"></app-key>
    <app-key [key]="'&middot;'"
             [style.grid-column-start]="1"
             [style.grid-column-end]="2"
             [style.grid-row-start]="2"
             [style.grid-row-end]="3"></app-key>
    <app-key [key]="':'"
             [style.grid-column-start]="2"
             [style.grid-column-end]="3"
             [style.grid-row-start]="2"
             [style.grid-row-end]="3"></app-key>
    <app-key
        [key]="'='"
        [big]="true"
        [style.grid-column-start]="3"
        [style.grid-column-end]="3"
        [style.grid-row-start]="1"
        [style.grid-row-end]="3">
    </app-key>
  </div>
</ng-container>

