<div class="canvasBackground" fxFlex>
  <div class="canvasFrame"
       [style.width.px]="page.maxWidth"
       [style.padding.px]="page.margin"
       [style.background-color]="page.backgroundColor">
    <div cdkDropListGroup>
      <div *ngFor="let section of page.sections; let i = index" [style.position]="'relative'">
        <app-section-menu [class.open]="hoveredSection === i" class="section-menu" fxLayout="column"
                          [style.left.px]="-45" [style.z-index]="1" [style.position]="'absolute'"
                          [section]="section"
                          [allowMoveUp]="i != 0"
                          [allowMoveDown]="i < page.sections.length - 1"
                          [allowDelete]="page.sections.length > 1"
                          (moveSection)="unitService.moveSection(section, page, $event)"
                          (mouseover)="hoveredSection = i" (mouseleave)="hoveredSection = -1"> <!-- keep menu open-->
        </app-section-menu>
        <!-- TODO split section into static and dynamic-->
        <app-section-static *ngIf="!section.dynamicPositioning"
             class="section drop-list" id="section-{{i}}"
             [section]="section"
             cdkDropList cdkDropListSortingDisabled
             [cdkDropListData]="{ sectionIndex: i }"
             (cdkDropListDropped)="elementDropped($event)"
             [cdkDropListConnectedTo]="dropListList"
             (mouseover)="hoveredSection = i" (mouseleave)="hoveredSection = -1">
        </app-section-static>
        <app-section-dynamic *ngIf="section.dynamicPositioning"
             class="section drop-list"
             [section]="section" [sectionIndex]="i"
             [dropListList]="dropListList"
             (transferElement)="moveElementBetweenSections($event.element,
                                                           $event.previousSectionIndex,
                                                           $event.newSectionIndex)"
             (mouseover)="hoveredSection = i" (mouseleave)="hoveredSection = -1">
        </app-section-dynamic>
      </div>
    </div>
  </div>

  <button mat-fab class="add-section-button" [style.width.px]="page.maxWidth" [style.margin.px]="page.margin"
          (click)="addSection()">
    <mat-icon>add</mat-icon>
  </button>
</div>
