<div class="canvasBackground" fxFlex>
  <div class="canvasFrame"
       [style.padding.px]="page.margin"
       [style.background-color]="page.backgroundColor">
    <div cdkDropListGroup class="section-list">
      <div #section_component app-canvas-section class="section"
           *ngFor="let section of page.sections; let i = index"
           [section]="section" [sectionIndex]="i"
           cdkDropList cdkDropListSortingDisabled
           (cdkDropListDropped)="elementDropped($event)" [cdkDropListData]="section">
      </div>
    </div>
  </div>
</div>
