<mat-slide-toggle (change)="toggleSectionEditMode($event)">
  Abschnitte verwalten
</mat-slide-toggle>

<div class="canvasBackground" fxFlex>
  <div *ngIf="!sectionEditMode"
       class="canvasFrame"
       [style.width.px]="page.maxWidth"
       [style.padding.px]="page.margin"
       [style.background-color]="page.backgroundColor">
    <div cdkDropListGroup>
      <ng-container *ngFor="let section of page.sections; let i = index">
        <!-- TODO split section into static and dynamic-->
        <div *ngIf="!section.dynamicPositioning"
             app-canvas-section class="section drop-list" id="section-{{i}}"
             [section]="section"
             cdkDropList cdkDropListSortingDisabled
             [cdkDropListData]="{ sectionIndex: i }"
             (cdkDropListDropped)="elementDropped($event)"
             [cdkDropListConnectedTo]="dropListList">
        </div>
        <div *ngIf="section.dynamicPositioning"
             app-canvas-section class="section drop-list"
             [section]="section" [sectionIndex]="i"
             [dropListList]="dropListList"
             (transferElement)="moveElementBetweenSections($event.element,
                                                           $event.previousSectionIndex,
                                                           $event.newSectionIndex)">
        </div>
      </ng-container>
    </div>
  </div>

  <div *ngIf="sectionEditMode" class="drop-list"
       [style.width.px]="page.maxWidth" [style.padding.px]="page.margin"
       cdkDropList (cdkDropListDropped)="sectionDrop($event)" [cdkDropListData]="page.sections">
    <div *ngFor="let section of page.sections; let i = index" [style.position]="'relative'">
      <button mat-fab class="add-section-button"
              (click)="addSection(i)">
        <mat-icon>add</mat-icon>
      </button>
      <div app-canvas-section class="section"
           [section]="section" [sectionEditMode]="sectionEditMode"
           cdkDrag>
      </div>
      <!-- 18 is button size. 55 Is the above add button's height (with margins). -->
      <button *ngIf="page.sections.length > 1"
              mat-mini-fab class="delete-section-button"
              [style.right.px]="-18" [style.top.px]="55 - 18"
              [style.position]="'absolute'"
              (click)="deleteSection(i)">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
  </div>

  <button mat-fab class="add-section-button" [style.width.px]="page.maxWidth" [style.margin.px]="page.margin"
          (click)="addSection()">
    <mat-icon>add</mat-icon>
  </button>
</div>
