<fieldset *ngIf="title" class="fx-column-start-stretch">
  <legend>{{ title | translate }}</legend>
  <ng-container *ngTemplateOutlet="optionList"></ng-container>
</fieldset>

<div *ngIf="!title">
  <ng-container *ngTemplateOutlet="optionList"></ng-container>
</div>

<ng-template #optionList>
  <mat-form-field appearance="outline">
    <mat-label>{{ textFieldLabel | translate }}</mat-label>
    <textarea #newItem matInput cdkTextareaAutosize type="text"
              (keydown.enter)="$event.stopPropagation(); $event.preventDefault();"
              (keyup.enter)="addListItem(newItem.value); newItem.select()"></textarea>
    <button mat-icon-button matSuffix color="primary"
            [disabled]="newItem.value === ''"
            (click)="addListItem(newItem.value); newItem.select()">
      <mat-icon>add</mat-icon>
    </button>
    <button *ngIf="showImageButton"
            mat-icon-button matSuffix color="primary"
            [matTooltip]="'Option mit Bild hinzufügen'"
            (click)="addImageOption()">
      <mat-icon>image</mat-icon>
    </button>
  </mat-form-field>

  <div class="drop-list" cdkDropList [cdkDropListData]="itemList"
       (cdkDropListDropped)="moveListValue($event)">
    <div *ngFor="let item of itemList; let i = index" cdkDrag
         class="option-draggable fx-row-start-stretch">
      <div class="item-box" [style.align-self]="'center'">
        <div *ngIf="$any(item).alias" class="item-id">{{ $any(item).alias }}</div>
        <div [innerHTML]="item.text | safeResourceHTML"></div>
      </div>
      <img [src]="$any(item).imgSrc"
           [style.object-fit]="'scale-down'" [style.height.px]="40">
      <button mat-icon-button color="primary"
              (click)="editItem(i)">
        <mat-icon>build</mat-icon>
      </button>
      <button mat-icon-button color="primary"
              (click)="removeListItem(i)">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
  </div>
</ng-template>
