.list-items {
  padding: 5px 10px;
  border-bottom: solid 1px #ccc;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between
}

.element-button {
  margin-top: 10px
}

::ng-deep app-element-properties .mat-tab-label {
  min-width: 0 !important;
}

::ng-deep app-element-properties .mat-tab-group {
  padding: 15px;
}

.text-text {
  min-height: 125px;
  max-height: 500px;
  overflow: auto;
  margin-bottom: 10px;
  background-color: rgba(0,0,0,.04);
}

::ng-deep app-element-properties>p {
  text-align: center;
  font-weight: bold;
}

mat-divider {
  margin: 20px;
  border-top-width: 9px;
  border-top-style: dotted;
}
