<h3>EIGENSCHAFTEN</h3>
<div *ngIf="selectedElement">
  <mat-tab-group mat-align-tabs="start">
      <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">format_shapes</mat-icon>
            Größe
          </ng-template>
          <div fxLayout="column">
            <mat-form-field class="mdInput textsingleline">
              <mat-label>Breite</mat-label>
              <input matInput type="number" [(ngModel)]="selectedElement.width" (ngModelChange)="modelChange()">
            </mat-form-field>
            <mat-form-field class="mdInput textsingleline">
              <mat-label>Hoehe</mat-label>
              <input matInput type="number" [(ngModel)]="selectedElement.height" (ngModelChange)="modelChange()">
            </mat-form-field>
            <mat-form-field class="mdInput textsingleline">
              <mat-label>X Position</mat-label>
              <input matInput type="number" [(ngModel)]="selectedElement.xPosition" (ngModelChange)="modelChange()">
            </mat-form-field>
            <mat-form-field class="mdInput textsingleline">
              <mat-label>Y Position</mat-label>
              <input matInput type="number" [(ngModel)]="selectedElement.yPosition" (ngModelChange)="modelChange()">
            </mat-form-field>
          </div>
       </mat-tab>
       <mat-tab>
           <ng-template mat-tab-label>
             <mat-icon class="example-tab-icon">create</mat-icon>
             Farbe & Schrift
           </ng-template>
           <div fxLayout="column">
               <mat-form-field class="mdInput textsingleline">
                   <mat-label>Hintergrundfarbe</mat-label>
                   <input matInput type="text" [(ngModel)]="selectedElement.backgroundColor" (ngModelChange)="modelChange()">
               </mat-form-field>
               <hr>
               <mat-form-field class="mdInput textsingleline">
                 <mat-label>Schriftfarbe</mat-label>
                 <input matInput type="text" [(ngModel)]="selectedElement.fontColor" (ngModelChange)="modelChange()">
               </mat-form-field>
               <mat-form-field class="mdInput textsingleline">
                 <mat-label>Schriftart</mat-label>
                 <input matInput type="text" [(ngModel)]="selectedElement.font" (ngModelChange)="modelChange()">
               </mat-form-field>
               <mat-form-field class="mdInput textsingleline">
                 <mat-label>Schriftgröße</mat-label>
                 <input matInput type="number" [(ngModel)]="selectedElement.fontSize" (ngModelChange)="modelChange()">
               </mat-form-field>
               <mat-checkbox [(ngModel)]="selectedElement.bold" (ngModelChange)="modelChange()">Fett</mat-checkbox>
               <mat-checkbox [(ngModel)]="selectedElement.italic" (ngModelChange)="modelChange()">Kursiv</mat-checkbox>
               <mat-checkbox [(ngModel)]="selectedElement.underline" (ngModelChange)="modelChange()">Unterstrichen</mat-checkbox>
           </div>
       </mat-tab>
  </mat-tab-group>
</div>
