<h3>EIGENSCHAFTEN</h3>
<div *ngIf="selectedElement">
    <mat-tab-group mat-align-tabs="start">
        <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">format_shapes</mat-icon>
              Größe
            </ng-template>
            <div fxLayout="column">
              <mat-form-field class="mdInput textsingleline">
                <mat-label>Breite</mat-label>
                <input matInput type="number" [(ngModel)]="selectedElement.width">
              </mat-form-field>
              <mat-form-field class="mdInput textsingleline">
                <mat-label>Hoehe</mat-label>
                <input matInput type="number" [(ngModel)]="selectedElement.height">
              </mat-form-field>
              <mat-form-field class="mdInput textsingleline">
                <mat-label>X Position</mat-label>
                <input matInput type="number" [(ngModel)]="selectedElement.xPosition">
              </mat-form-field>
              <mat-form-field class="mdInput textsingleline">
                <mat-label>Y Position</mat-label>
                <input matInput type="number" [(ngModel)]="selectedElement.yPosition">
              </mat-form-field>
            </div>
         </mat-tab>
         <mat-tab>
             <ng-template mat-tab-label>
               <mat-icon class="example-tab-icon">create</mat-icon>
               Farbe & Schrift
             </ng-template>
             <div fxLayout="column">
                 <mat-form-field class="mdInput textsingleline">
                     <mat-label>Hintergrundfarbe</mat-label>
                     <input matInput type="text" [(ngModel)]="selectedElement.backgroundColor">
                 </mat-form-field>
                 <hr>
                 <mat-form-field class="mdInput textsingleline">
                   <mat-label>Schriftfarbe</mat-label>
                   <input matInput type="text" [(ngModel)]="selectedElement.fontColor">
                 </mat-form-field>
                 <mat-form-field class="mdInput textsingleline">
                   <mat-label>Schriftart</mat-label>
                   <input matInput type="text" [(ngModel)]="selectedElement.font">
                 </mat-form-field>
                 <mat-form-field class="mdInput textsingleline">
                   <mat-label>Schriftgröße</mat-label>
                   <input matInput type="number" [(ngModel)]="selectedElement.fontSize">
                 </mat-form-field>
                 <mat-checkbox [(ngModel)]="selectedElement.bold">Fett</mat-checkbox>
                 <mat-checkbox [(ngModel)]="selectedElement.italic">Kursiv</mat-checkbox>
                 <mat-checkbox [(ngModel)]="selectedElement.underline">Unterstrichen</mat-checkbox>
             </div>
         </mat-tab>
    </mat-tab-group>
</div>
