<ng-template
    *ngIf="elementComponent.elementModel.highlightableYellow ||
      elementComponent.elementModel.highlightableTurquoise ||
      elementComponent.elementModel.highlightableOrange"
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="elementComponent | asOverlayOrigin"
    [cdkConnectedOverlayPositions]="overlayPositions"
    [cdkConnectedOverlayOpen]="isMarkingBarOpen">
  <div class="marking-bar-container"
       (mousedown)="$event.stopPropagation()"
       cdkDrag>
    <aspect-text-marking-bar
        [elementModel]="elementComponent.elementModel"
        (markingDataChanged)="markingDataChanged.emit($event)">
    </aspect-text-marking-bar>
  </div>
</ng-template>
