<ng-template
    *ngIf="elementModel.highlightableYellow ||
      elementModel.highlightableTurquoise ||
      elementModel.highlightableOrange"
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="elementComponent"
    [cdkConnectedOverlayPositions]="positions"
    [cdkConnectedOverlayOpen]="isMarkingBarOpen">
  <div class="marking-bar-container"
       (mousedown)="$event.stopPropagation()"
       cdkDrag>
    <aspect-text-marking-bar
        [elementModel]="elementModel"
        (selectionChanged)="applySelection.emit($event)">
    </aspect-text-marking-bar>
  </div>
</ng-template>
