<div *ngIf="selectedElements.length > 0"
     class="properties-panel"
     fxLayout="column" fxLayoutAlign="space-between stretch">
  <mat-tab-group mat-stretch-tabs>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">build</mat-icon>
      </ng-template>
      <aspect-element-model-properties-component [combinedProperties]="combinedProperties"
                                                 [selectedElements]="selectedElements"
                                                 (updateModel)="updateModel($event.property, $event.value)">
      </aspect-element-model-properties-component>
    </mat-tab>

    <mat-tab *ngIf="combinedProperties.positionProps">
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">format_shapes</mat-icon>
      </ng-template>
      <aspect-element-postion-properties [positionProperties]="$any(combinedProperties.positionProps)"
                                         (updateModel)="updateModel($event.property, $event.value, $event.isInputValid)">
      </aspect-element-postion-properties>
    </mat-tab>

    <mat-tab *ngIf="combinedProperties.styles">
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">palette</mat-icon>
      </ng-template>
      <aspect-element-style-properties [styles]="$any(combinedProperties.styles)"
                                       (updateModel)="updateModel($event.property, $event.value)">
      </aspect-element-style-properties>
    </mat-tab>
  </mat-tab-group>

  <div fxLayout="column">
    <mat-divider></mat-divider>
    <button mat-raised-button class="element-button"
            (click)="duplicateElement()">
      {{'propertiesPanel.duplicateElement' | translate }}
    </button>
    <button mat-raised-button class="element-button" color="warn"
            (click)="deleteElement()">
      {{'propertiesPanel.deleteElement' | translate }}
    </button>
  </div>
</div>
<ng-container *ngIf="selectedElements.length === 0">
  <p>{{'propertiesPanel.noElementSelected' | translate }}</p>
</ng-container>
