<aspect-audio
    *ngIf="elementModel.type === 'audio'"
    #elementComponent
    [elementModel]="elementModel | cast: AudioElement"
    [savedPlaybackTime]="initialValue"
    [actualPlayingId]="mediaPlayerService.actualPlayingId"
    [mediaStatusChanged]="mediaPlayerService.mediaStatusChanged"
    (onMediaValidStatusChanged)="mediaPlayerService.setValidStatusChanged($event)"
    (onMediaPlayStatusChanged)="mediaPlayerService.setActualPlayingId($event)"
    (elementValueChanged)="unitStateService.changeElementCodeValue($event)">
</aspect-audio>

<aspect-video
    *ngIf="elementModel.type === 'video'"
    #elementComponent
    [elementModel]="elementModel | cast: VideoElement"
    [actualPlayingId]="mediaPlayerService.actualPlayingId"
    [mediaStatusChanged]="mediaPlayerService.mediaStatusChanged"
    [savedPlaybackTime]="initialValue"
    (onMediaValidStatusChanged)="mediaPlayerService.setValidStatusChanged($event)"
    (onMediaPlayStatusChanged)="mediaPlayerService.setActualPlayingId($event)"
    (elementValueChanged)="unitStateService.changeElementCodeValue($event)">
</aspect-video>
