:host ::ng-deep div.ProseMirror {
  min-height: 60px;
  border: 1px solid;
}

:host ::ng-deep .ProseMirror p strong {
  letter-spacing: 0.04em !important;
  font-weight: 600 !important;
}

.editor-control-panel {
  background: linear-gradient(to top right, #FFF5F8, #FAFAFA);
  font: unset;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

:host fieldset {
  /*height: 55px;*/
  /*box-sizing: content-box !important;*/
  border-radius: 3px;
  padding-bottom: 3px;
  padding-top: 0;
}

button.active {
  background-color: lightgrey;
}
