<div *ngIf="formElementControl?.touched" class="mat-typography">
  <mat-error *ngIf="formElementControl.errors?.required && elementModel.type !== 'checkbox'"
             [ngClass]="{'dynamic-validation-message' : elementModel.dynamicPositioning}" >
    {{requiredMessage}}
  </mat-error>
  <mat-error *ngIf="formElementControl.errors?.required && elementModel.type === 'checkbox'"
             [ngClass]="{'dynamic-validation-message' : elementModel.dynamicPositioning}" >
    {{requiredTrueMessage}}
  </mat-error>
  <mat-error *ngIf="formElementControl.errors?.minlength"
             [ngClass]="{'dynamic-validation-message' : elementModel.dynamicPositioning}" >
    {{minLengthWarnMessage}}
  </mat-error>
  <mat-error *ngIf="formElementControl.errors?.maxlength"
             [ngClass]="{'dynamic-validation-message' : elementModel.dynamicPositioning}" >
    {{maxLengthWarnMessage}}
  </mat-error>
  <mat-error *ngIf="formElementControl.errors?.pattern"
             [ngClass]="{'dynamic-validation-message' : elementModel.dynamicPositioning}" >
    {{patternMessage}}
  </mat-error>
</div>
