.keyboard-container{
  margin-top: 20px;
  margin-bottom: 40px;
  background-color: white;
  border: lightgray solid 1px;
  border-radius: 3px;
  overflow-wrap: break-word;
}

.keyboard-header{
  cursor: move;
  height: 40px;
  background-color: #f1f1f1;
  text-align: center;
  border-bottom: lightgray;
}

.keyboard-inner-container{
  padding: 10px;
}


