<div class="keyboard-container"
     (mousedown)="onMouseDown($event, false)">
  <div class="keyboard-header"></div>
  <div class="keyboard-inner-container"
       (mousedown)="onMouseDown($event, true)">
    <app-french-keyboard *ngIf="preset === 'french'"></app-french-keyboard>
    <app-numbers-keyboard *ngIf="preset === 'numbers'" [operators]="false"></app-numbers-keyboard>
    <app-numbers-keyboard *ngIf="preset === 'numbersAndOperators'" [operators]="true"></app-numbers-keyboard>
  </div>
</div>

