.element-label {
  position: absolute;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: #333;
  background: transparent;
  border: 1px solid #888888;
  border-radius: 3px;
  padding: 5px;
  margin-top: -20px;
  margin-left: -60px;
}

.child-label{
  color: #222;
  font-weight: normal;
}

::ng-deep .tooltip-multiline {
  white-space: pre-line;
}
