.unit-nav-next {
  font-size: 20px;
}
.button-text {
  margin-bottom: 6px;
  margin-right: 15px;
}
.unit-nav-next .svg-container {
  vertical-align: middle;
  margin: 5px;
}
.unit-nav-next .svg-container:hover {
  filter: brightness(90%);
}
