<ng-content></ng-content>
<div class="fx-column-center-center scroll-button-container">
  <button *ngIf="isVisible.value"
          mat-fab
          class="scroll-button"
          (contextmenu)="$event.preventDefault()"
          (pointercancel)="toggleScrolling(false)"
          (pointerout)="toggleScrolling(false)"
          (pointerdown)="toggleScrolling(true)"
          (pointerup)="toggleScrolling(false)"
          (pointerleave)="toggleScrolling(false)">
    <mat-icon>arrow_downward</mat-icon>
  </button>
</div>


