.section{
  position: relative;
  overflow: auto;
  width: 100%;
  z-index: 0;
}

.section:not(.static-section) {
  display: block;
  overflow: visible;
}

.static-section{
  display: block;
}

.concat-scroll-padding {
  height: 200px;
}
