<div aspectInViewDetection
     detectionType="top"
     [intersectionContainer]="pagesContainer"
     (intersecting)="selectedIndexChange.emit(scrollPageIndex)">
  <aspect-section
    *ngFor="let section of page.sections; let i = index"
    class="section"
    [class.static-section]="!section.dynamicPositioning"
    [style.background-color]="section.dynamicPositioning ? null : section.backgroundColor"
    [style.min-height]="section.dynamicPositioning ? 'auto' : section.height + 'px'"
    [pageIndex]=pageIndex
    [section]="section"
    aspectSectionVisibilityHandling
    [sectionIndex]="i"
    [pageSections]="page.sections">
  </aspect-section>
</div>
<div aspectInViewDetection
     detectionType="bottom"
     [class.concat-scroll-padding]="pagingMode==='concat-scroll-snap'"
     [intersectionContainer]="pagesContainer"
     (intersecting)="selectedIndexChange.emit(scrollPageIndex)">
</div>
