<div aspectInViewDetection
     detectionType="top"
     (intersecting)="selectedIndexChange.emit(scrollPageIndex)">
  <aspect-section
    *ngFor="let section of page.sections; let i = index"
    class="section"
    [class.static-section]="!section.dynamicPositioning"
    [style.background-color]="section.dynamicPositioning ? null : section.backgroundColor"
    [style.min-height]="section.dynamicPositioning ? 'auto' : section.height + 'px'"
    [pageIndex]=pageIndex
    [section]="section"
    aspectSectionVisibilityHandling
    [sectionIndex]="i"
    [pageSections]="page.sections"
    [sectionNumbering]="sectionNumbering"
    (isVisibleIndexChange)="setIsVisibleIndexSections($event)">
  </aspect-section>
  <aspect-unit-nav-next *ngIf="isLastPage && showUnitNavNext && isPresentedPagesComplete && ('unitNav' |
                        isEnabledNavigationTarget: 'next':
                        navigationService.enabledNavigationTargets.value)"
                        (navigate)="veronaPostService.sendVopUnitNavigationRequestedNotification('next')">
  </aspect-unit-nav-next>
</div>
<div aspectInViewDetection
     detectionType="bottom"
     [class.concat-scroll-padding]="pagingMode==='concat-scroll-snap'"
     (intersecting)="selectedIndexChange.emit(scrollPageIndex)">
</div>
