<div [class]="position === 'floating' ? 'floating-keypad-container' : 'fixed-keypad-container'"
     [style.margin-bottom.px]="inputElement.clientHeight + positionOffset"
     (mousedown)="$event.preventDefault()">
  <div *ngIf="position === 'floating'"
       class="keypad-header">
  </div>
  <div class="keypad-inner-container"
       [class.fixed-keypad-inner-container]="position === 'right'"
       (mousedown)="$event.preventDefault(); $event.stopPropagation()">
    <aspect-keypad-french
        *ngIf="preset === 'french'"
        [inputElement]="inputElement"
        [restrictToAllowedKeys]="restrictToAllowedKeys"
        [position]="position"
        (enterKey)="enterKey.emit($event)">
    </aspect-keypad-french>
    <aspect-keypad-math
        *ngIf="preset !== 'french'"
        [inputElement]="inputElement"
        [preset]="preset"
        [position]="position"
        [restrictToAllowedKeys]="restrictToAllowedKeys"
        (deleteCharacter)="deleteCharacter.emit()"
        (enterKey)="enterKey.emit($event)">
    </aspect-keypad-math>
  </div>
</div>
