.key {
  background-color: white;
  font-size: x-large;
  margin-bottom: 5px;
  color: black;
  margin-left: 2px;
  margin-right: 2px;
  vertical-align: top;
}

.round-key {
  @extend .key;
}

.square-key {
  @extend .key;
  min-width: 50px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  padding-left: 20px;
  ::ng-deep .mat-icon {
    margin-right: 0;
  }
}

.fixed-keypad-key {
  width: 65px;
  height: 65px;
}

.vertical-round-floating-keypad-key {
  height: 85px;
  border-radius: 20px !important;
}

.vertical-square-floating-keypad-key {
  height: 104px;
  border-radius: 5px !important;
}

.vertical-round-fixed-keypad-key {
  height: 135px;
  border-radius: 65px !important;
}

.vertical-square-fixed-keypad-key {
  height: 135px;
  border-radius: 5px !important;
}

.big-horizontal-round-floating-keypad-key {
  width: 130px;
  border-radius: 20px !important;
}

.big-horizontal-square-floating-keypad-key {
  width: 156px;
  border-radius: 5px !important;
}

.big-horizontal-round-fixed-keypad-key {
  width: 205px;
  border-radius: 65px !important;
}

.big-horizontal-square-fixed-keypad-key {
  width: 205px;
  border-radius: 5px !important;
}

.horizontal-round-floating-keypad-key{
  width: 85px;
  border-radius: 20px !important;
}

.horizontal-square-floating-keypad-key{
  width: 104px;
  border-radius: 5px !important;
}

.horizontal-round-fixed-keypad-key {
  width: 135px;
  border-radius: 65px !important;
}

.horizontal-square-fixed-keypad-key {
  width: 135px;
  border-radius: 5px !important;
}

.right-position-floating {
  margin-left: 42px;
}

.right-position-fixed {
  margin-left: 67px;
}

.dark-mode {
  background-color: dimgray !important;
  color: #fff !important;
}
