<button
    type="button"
    mat-mini-fab
    class="key"
    [class.fixed-keypad-key]="position === 'right'"
    [style.font-weight]="preset==='squareDashDot' ? 400: null"
    [class.not-last-key]="!last"
    [class.vertical-oval-floating-keypad-key]="verticalOval && position === 'floating'"
    [class.vertical-oval-fixed-keypad-key]="verticalOval && position !== 'floating'"
    [class.horizontal-oval-floating-keypad-key]="horizontalOval && position === 'floating'"
    [class.horizontal-oval-fixed-keypad-key]="horizontalOval && position !== 'floating'"
    [class.dark-mode]="darkMode"
    (click)="keyClicked.emit(key);">
  <span *ngIf="key !== ' ' && key.length === 1">{{key}}</span>
  <mat-icon *ngIf="key === ' '">space_bar</mat-icon>
  <mat-icon *ngIf="key === 'ArrowLeft'">arrow_back</mat-icon>
  <mat-icon *ngIf="key === 'ArrowRight'">arrow_forward</mat-icon>
  <mat-icon *ngIf="key === 'ArrowUp'">arrow_upward</mat-icon>
  <mat-icon *ngIf="key === 'ArrowDown'">arrow_downward</mat-icon>
  <mat-icon *ngIf="key === '\n'">keyboard_return</mat-icon>
</button>
