.key{
  background-color: white;
  font-size: x-large;
  margin-bottom: 5px;
  color: black;
}

.fixed-keypad-key{
  width: 65px;
  height: 65px;
}

.not-last-key{
  margin-right: 5px;
}

.oval-floating-keypad-key{
  height: 85px;
  border-radius: 20px;
}

.oval-fixed-keypad-key{
  height: 135px;
  border-radius: 65px;
}

