html, body { height: 100%; }

.mat-expansion-panel-content {font: unset !important;}

input[type=color] {
  cursor: pointer;
}

@font-face {
  font-family: 'Nunito-Sans';
  src: url('NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf');
}
