html, body { height: 100%; }

:root {
  --warn: #f44336;
}

.mat-expansion-panel-content {font: unset !important;}

input[type=color] {
  cursor: pointer;
}

fieldset {
  min-width: 0;
}

u>span {
  text-decoration: underline;
}

/*Flex Styles*/

.fx-column-start-stretch {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.fx-row-start-stretch {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

.fx-row-start-start {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.fx-row-space-between-center {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.fx-row-space-evenly-center {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.fx-row-space-between-stretch {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.fx-row-space-around-center {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.fx-flex {
  flex: 1 1 0;
  box-sizing: border-box;
}
