/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
}

.mat-expansion-panel-content {font: unset !important;}

.snackbar-warning {border: 3px double #ff4d4d}
.snackbar-error {background-color: #ff4d4d}


.drop-list {cursor: grab}
.drop-list.cdk-drop-list-dragging {cursor: grabbing}

.mat-menu-panel {border: 2px solid red}
