@for (refGroup of refs; track refGroup) {
  <span class="reference-group-title">
    {{ 'referenceList.referencesTo' | translate }}
    @if (refGroup.element.type === 'text-anchor') {
      <b>{{ 'referenceList.textAnchor' | translate: { id: refGroup.element.alias } }}</b>:
    } @else {
      <b>{{ refGroup.element.alias }}</b>:
    }
  </span>
  @if (refGroup.refs.length > 0) {
    <aspect-element-list [elements]="refGroup.refs" [navigable]="navigable"
                         (goToElement)="goToElement.emit($event)"></aspect-element-list>
  }
  @if (refGroup.sections?.length) {
    <mat-list>
      @for (location of refGroup.sections; track location.section) {
        <mat-list-item class="referring-section">
          <mat-icon matListItemIcon>visibility</mat-icon>
          <div matListItemTitle>
            {{ 'referenceList.visibilityRuleOf' | translate:
               { page: location.pageIndex + 1, section: location.sectionIndex + 1 } }}
          </div>
          @if (navigable) {
            <button mat-stroked-button matListItemMeta class="go-to-section" (click)="goToSection.emit(location)">
              {{ 'unitHints.goToSection' | translate }}
            </button>
          }
        </mat-list-item>
      }
    </mat-list>
    <p class="visibility-rule-hint">{{ 'referenceList.visibilityRuleHint' | translate }}</p>
  }
}
