.toolbox_drawer {
  width: 220px;
}

.properties_drawer {
  width: 340px;
}

.drawer-button {
  font-size: large;
  background-color: lightgray;
  min-width: 0;
  width: 2%;
}

.drawer-button {
  border: none;
  cursor: pointer;
}

.show-elements-button span {
  transform: rotate(-90deg);
  display: inherit;
}

.show-properties-button {
  padding-bottom: 140px;
}

.show-properties-button span {
  transform: rotate(90deg);
  display: inherit;
}

::ng-deep .mat-drawer-content .mat-mdc-tab-body-wrapper {
  height: 100%;
}

.menu-button {
  position: absolute;
  left: 100%;
}

aspect-page-canvas {
  height: 100%; display: block;
}

:host ::ng-deep .mdc-tab {
  min-width: 160px;
}

:host ::ng-deep .mat-mdc-icon-button .mat-mdc-button-persistent-ripple::before {
  top: 15%;
  left: 15%;
  right: 15%;
  bottom: 15%;
}

:host ::ng-deep div.mat-mdc-tab * {
  pointer-events: auto;
}

/* History-button tab label */
:host ::ng-deep .mat-mdc-tab-labels>div:last-child {
  margin-left: auto !important;
  /*background-color: red !important;*/
}

.history-button {
  /*margin-left: auto;*/
}
