.list-items {
  padding: 5px 10px;
  border-bottom: solid 1px #ccc;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between
}

::ng-deep aspect-element-properties .mat-tab-label {
  min-width: 0 !important;
}

::ng-deep aspect-element-properties .mat-tab-group {
  padding: 15px;
}

:host ::ng-deep mat-button-toggle {
  width: 100%;
  height: 100%
}

button {
  margin-bottom: 15px;
}
