aspect-input-element-properties {
  margin-bottom: 10px;
}

button:not(.media-src-button):not(.mat-mini-fab):not(.mat-icon-button) {
  width: 95%
}

.mat-fab, .mat-raised-button {
  margin-bottom: 10px;
}

:host ::ng-deep fieldset {
  margin-bottom: 15px;
}

:host ::ng-deep .drop-list {
  border: solid 1px #ccc;
  border-radius: 4px;
}

:host ::ng-deep .drop-list:empty {
  border: none;
}

:host ::ng-deep .option-draggable {
  border-bottom: solid 1px #ccc;
  cursor: move;
  padding: 3px 5px;
}

:host ::ng-deep .option-draggable:last-child {
  border: none;
}
