.hidden-trigger {
  height: 20px;
  background-image: linear-gradient(
    135deg, #fff 45%, #999 45%, #999 50%, #fff 50%, #fff 95%, #999 95%, #999 100%
  );
  background-size: 10px 10px;
  border: 1px solid #999;
}
