::ng-deep app-element-properties .margin-properties .mat-form-field-infix {
  width: 55px;
}

::ng-deep app-element-properties .small-input .mat-form-field-infix {
  width: 95px;
  margin: 0 5px;
}

.list-items {
  padding: 5px 10px;
  border-bottom: solid 1px #ccc;
}

.list-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between
}

.element-button {
  margin-top: 10px
}

.input-group {
  background-color: rgba(0,0,0,.04);
  margin-bottom: 10px;
}

.centered-form-field {
  margin-left: 25%;
}

.right-form-field {
  margin-left: 15%;
}

::ng-deep app-element-properties .mat-tab-label {
  min-width: 0 !important;
}

::ng-deep app-element-properties .mat-tab-group {
  padding: 15px;
}

.text-text {
  min-height: 125px;
  max-height: 500px;
  overflow: auto;
  margin-bottom: 10px;
}

.text-text {
  background-color: rgba(0,0,0,.04);
}

::ng-deep app-element-properties p {
  text-align: center;
  font-weight: bold;
}
