<ng-container *ngIf="selectedElements.length > 0">
  <mat-tab-group mat-stretch-tabs dynamicHeight>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">build</mat-icon>
      </ng-template>
      <div fxLayout="column">
        <mat-form-field *ngIf="combinedProperties.hasOwnProperty('id')" appearance="fill">
          <mat-label>ID</mat-label>
          <input matInput type="text" *ngIf="selectedElements.length === 1" [value]="combinedProperties.id"
                 (input)="updateModel('id', $any($event.target).value)">
          <input matInput type="text" disabled *ngIf="selectedElements.length > 1" [value]="'Muss eindeutig sein'">
        </mat-form-field>

        <mat-form-field *ngIf="combinedProperties.hasOwnProperty('label')" appearance="fill">
          <mat-label>Label</mat-label>
          <input matInput type="text" [value]="combinedProperties.label"
                 (input)="updateModel('label', $any($event.target).value)">
        </mat-form-field>

        <ng-container *ngIf="combinedProperties.hasOwnProperty('text')">
          Text
          <div class="text-text" [innerHTML]="sanitizer.bypassSecurityTrustHtml($any(combinedProperties.text))"
               (click)="unitService.showDefaultEditDialog(selectedElements[0])">
          </div>
        </ng-container>

        <mat-form-field *ngIf="combinedProperties.hasOwnProperty('appearance')" appearance="fill">
          <mat-label>Aussehen</mat-label>
          <mat-select [value]="combinedProperties.appearance"
                      (selectionChange)="updateModel('appearance', $event.value)">
            <mat-option *ngFor="let option of [{displayValue: 'standard', value: 'standard'},
                                               {displayValue: 'legacy', value: 'legacy'},
                                               {displayValue: 'fill', value: 'fill'},
                                               {displayValue: 'outline', value: 'outline'}]"
                        [value]="option.value">
              {{option.displayValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>


        <mat-checkbox *ngIf="combinedProperties.hasOwnProperty('highlightable')"
                      [checked]="$any(combinedProperties.highlightable)"
                      (change)="updateModel('highlightable', $event.checked)">
          Farbmarkierungen erlauben
        </mat-checkbox>

        <mat-form-field *ngIf="combinedProperties.type === 'text-field'" appearance="fill">
          <mat-label>Vorbelegung</mat-label>
          <input matInput type="text"
                 [value]="combinedProperties.value"
                 (input)="updateModel('value', $any($event.target).value)">
        </mat-form-field>
        <section *ngIf="combinedProperties.type === 'checkbox'">
          Vorbelegung
          <mat-button-toggle-group [value]="combinedProperties.value"
                                   (change)="updateModel('value', $event.value)">
            <mat-button-toggle [value]="true">wahr</mat-button-toggle>
            <mat-button-toggle [value]="false">falsch</mat-button-toggle>
          </mat-button-toggle-group>
        </section>
        <mat-form-field *ngIf="combinedProperties.type === 'dropdown' || combinedProperties.type === 'radio'"
                        appearance="fill">
          <mat-label>Vorbelegung</mat-label>
          <mat-select [value]="combinedProperties.value"
                      (selectionChange)="updateModel('value', $event.value)">
            <mat-option>undefiniert</mat-option>
            <mat-option *ngFor="let option of $any(combinedProperties).options" [value]="option">
              {{option}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-checkbox *ngIf="combinedProperties.hasOwnProperty('allowUnset')"
                      [checked]="$any(combinedProperties.allowUnset)"
                      (change)="updateModel('allowUnset', $event.checked)">
          Deselektion erlauben
        </mat-checkbox>

        <mat-checkbox *ngIf="combinedProperties.hasOwnProperty('required')"
                      [checked]="$any(combinedProperties.required)"
                      (change)="updateModel('required', $event.checked)">
          Pflichtfeld
        </mat-checkbox>
        <mat-form-field *ngIf="combinedProperties.hasOwnProperty('required') && combinedProperties.required"
                        appearance="fill">
          <mat-label>Warnmeldung</mat-label>
          <input matInput type="text" [value]="combinedProperties.requiredWarnMessage"
                 (input)="updateModel('requiredWarnMessage', $any($event.target).value)">
        </mat-form-field>

        <mat-form-field *ngIf="combinedProperties.hasOwnProperty('minLength')" appearance="fill">
          <mat-label>Minimallänge</mat-label>
          <input matInput type="number" #minLength="ngModel" min="0"
                 [ngModel]="combinedProperties.minLength"
                 (ngModelChange)="updateModel('minLength', $event, minLength.valid)">
        </mat-form-field>
        <mat-form-field *ngIf="combinedProperties.hasOwnProperty('minLength') &&
                                   $any(combinedProperties.minLength) > 0"
                        appearance="fill">
          <mat-label>Minimalwert Warnmeldung</mat-label>
          <input matInput type="text" [value]="combinedProperties.minLengthWarnMessage"
                 (input)="updateModel('minLengthWarnMessage', $any($event.target).value)">
        </mat-form-field>
        <mat-form-field *ngIf="combinedProperties.hasOwnProperty('maxLength')" appearance="fill">
          <mat-label>Maximalwert</mat-label>
          <input matInput type="number" #maxLength="ngModel" min="0"
                 [ngModel]="combinedProperties.maxLength"
                 (ngModelChange)="updateModel('maxLength', $event, maxLength.valid)">
        </mat-form-field>
        <mat-form-field *ngIf="combinedProperties.hasOwnProperty('maxLength')&&
                                   $any(combinedProperties.maxLength) > 0"
                        appearance="fill">
          <mat-label>Maximalwert Warnmeldung</mat-label>
          <input matInput type="text" [value]="combinedProperties.maxLengthWarnMessage"
                 (input)="updateModel('maxLengthWarnMessage', $any($event.target).value)">
        </mat-form-field>

        <mat-form-field *ngIf="combinedProperties.hasOwnProperty('pattern')" appearance="fill">
          <mat-label>Muster</mat-label>
          <input matInput [value]="combinedProperties.pattern"
                 (input)="updateModel('pattern', $any($event.target).value)">
        </mat-form-field>
        <mat-form-field *ngIf="combinedProperties.hasOwnProperty('pattern') &&
                                   $any(combinedProperties.pattern) != ''"
                        appearance="fill"
                        matTooltip="Angabe als regulärer Ausdruck.">
          <mat-label>Muster Warnmeldung</mat-label>
          <input matInput type="text" [value]="combinedProperties.patternWarnMessage"
                 (input)="updateModel('patternWarnMessage', $any($event.target).value)">
        </mat-form-field>

        <mat-form-field disabled="true" *ngIf="combinedProperties.hasOwnProperty('options')">
          <ng-container *ngIf="combinedProperties.options !== undefined">
            <mat-label>Optionen</mat-label>
            <div class="drop-list" cdkDropList [cdkDropListData]="combinedProperties.options"
                 (cdkDropListDropped)="reorderOptions('options', $any($event))">
              <div *ngFor="let option of $any(combinedProperties.options)" cdkDrag
                   class="list-items">
                {{option}}
                <button mat-icon-button color="warn"
                        (click)="removeOption('options', option)">
                  <mat-icon>clear</mat-icon>
                </button>
              </div>
            </div>
          </ng-container>
          <div class="newOptionElement" fxLayout="row" fxLayoutAlign="center center">
            <button mat-icon-button matPrefix
                    (click)="addOption('options', newOption.value); newOption.select()">
              <mat-icon>add</mat-icon>
            </button>
            <input #newOption matInput type="text" placeholder="Optionstext"
                   (keyup.enter)="addOption('options', newOption.value); newOption.select()">
          </div>
        </mat-form-field>

        <mat-form-field *ngIf="combinedProperties.hasOwnProperty('alignment')" appearance="fill">
          <mat-label>Ausrichtung</mat-label>
          <mat-select [value]="combinedProperties.alignment"
                      (selectionChange)="updateModel('alignment', $event.value)">
            <mat-option *ngFor="let option of [{displayValue: 'horizontal', value: 'row'},
                                                   {displayValue: 'vertikal', value: 'column'}]"
                        [value]="option.value">
              {{option.displayValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-checkbox *ngIf="combinedProperties.hasOwnProperty('resizeEnabled')"
                      [checked]="$any(combinedProperties.resizeEnabled)"
                      (change)="updateModel('resizeEnabled', $event.checked)">
          größenverstellbar
        </mat-checkbox>
      </div>

      <mat-divider></mat-divider>

      <button mat-raised-button class="element-button"
              (click)="duplicateElement()">
        Element duplizieren
      </button>
      <button mat-raised-button class="element-button" color="warn"
              (click)="deleteElement()">
        Element löschen
      </button>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">format_shapes</mat-icon>
      </ng-template>
      <div fxLayout="column">

        <ng-container *ngIf="!combinedProperties.dynamicPositioning; else elseBlock">
          <mat-form-field *ngIf="combinedProperties.hasOwnProperty('width')" appearance="fill">
            <mat-label>Breite</mat-label>
            <input matInput type="number" #width="ngModel" min="0"
                   [ngModel]="combinedProperties.width"
                   (ngModelChange)="updateModel('width', $event, width.valid)">
          </mat-form-field>
          <mat-form-field *ngIf="combinedProperties.hasOwnProperty('height')" appearance="fill">
            <mat-label>Hoehe</mat-label>
            <input matInput type="number" #height="ngModel" min="0"
                   [ngModel]="combinedProperties.height"
                   (ngModelChange)="updateModel('height', $event, height.valid)">
          </mat-form-field>

          <mat-form-field *ngIf="combinedProperties.hasOwnProperty('xPosition')" appearance="fill">
            <mat-label>X Position</mat-label>
            <input matInput type="number" #xPosition="ngModel" min="0"
                   [ngModel]="combinedProperties.xPosition"
                   (ngModelChange)="updateModel('xPosition', $event, xPosition.valid)">
          </mat-form-field>

          <mat-form-field *ngIf="combinedProperties.hasOwnProperty('yPosition')" appearance="fill">
            <mat-label>Y Position</mat-label>
            <input matInput type="number" #yPosition="ngModel" min="0"
                   [ngModel]="combinedProperties.yPosition"
                   (ngModelChange)="updateModel('yPosition', $event, yPosition.valid)">
          </mat-form-field>
        </ng-container>
        <ng-template #elseBlock>
          <mat-form-field *ngIf="combinedProperties.hasOwnProperty('width')" appearance="fill">
            <mat-label>Mindestbreite</mat-label>
            <input matInput type="number" #width="ngModel" min="0"
                   [ngModel]="combinedProperties.width"
                   (ngModelChange)="updateModel('width', $event, width.valid)">
          </mat-form-field>
          <mat-form-field *ngIf="combinedProperties.hasOwnProperty('height')" appearance="fill">
            <mat-label>Mindesthöhe</mat-label>
            <input matInput type="number" #height="ngModel" min="0"
                   [ngModel]="combinedProperties.height"
                   (ngModelChange)="updateModel('height', $event, height.valid)">
          </mat-form-field>
          Grid
          <div class="input-group">
            <div fxLayoutAlign="row">
              <mat-form-field *ngIf="combinedProperties.hasOwnProperty('gridColumnStart')">
                <mat-label>Start-Spalte</mat-label>
                <input matInput type="number" [ngModel]="combinedProperties.gridColumnStart"
                       (ngModelChange)="updateModel('gridColumnStart', $event)">
              </mat-form-field>
              <mat-form-field *ngIf="combinedProperties.hasOwnProperty('gridColumnEnd')">
                <mat-label>End-Spalte</mat-label>
                <input matInput type="number" [ngModel]="combinedProperties.gridColumnEnd"
                       (ngModelChange)="updateModel('gridColumnEnd', $event)">
              </mat-form-field>
            </div>
            <div fxLayoutAlign="row">
              <mat-form-field *ngIf="combinedProperties.hasOwnProperty('gridRowStart')">
                <mat-label>Start-Zeile</mat-label>
                <input matInput type="number" [ngModel]="combinedProperties.gridRowStart"
                       (ngModelChange)="updateModel('gridRowStart', $event)">
              </mat-form-field>
              <mat-form-field *ngIf="combinedProperties.hasOwnProperty('gridRowEnd')">
                <mat-label>End-Zeile</mat-label>
                <input matInput type="number" [ngModel]="combinedProperties.gridRowEnd"
                       (ngModelChange)="updateModel('gridRowEnd', $event)">
              </mat-form-field>
            </div>
          </div>

          Abstand
          <div class="input-group">
            <mat-form-field *ngIf="combinedProperties.hasOwnProperty('marginTop')"
                            class="centered-form-field">
              <mat-label>oben</mat-label>
              <input matInput type="number" #marginTop="ngModel" min="0"
                     [ngModel]="combinedProperties.marginTop"
                     (ngModelChange)="updateModel('marginTop', $event, marginTop.valid)">
            </mat-form-field>
            <div fxLayoutAlign="row">
              <mat-form-field *ngIf="combinedProperties.hasOwnProperty('marginLeft')">
                <mat-label>links</mat-label>
                <input matInput type="number" #marginLeft="ngModel" min="0"
                       [ngModel]="combinedProperties.marginLeft"
                       (ngModelChange)="updateModel('marginLeft', $event, marginLeft.valid)">
              </mat-form-field>
              <mat-form-field *ngIf="combinedProperties.hasOwnProperty('marginRight')"
                              class="right-form-field">
                <mat-label>rechts</mat-label>
                <input matInput type="number" #marginRight="ngModel" min="0"
                       [ngModel]="combinedProperties.marginRight"
                       (ngModelChange)="updateModel('marginRight', $event, marginRight.valid)">
              </mat-form-field>
            </div>
            <mat-form-field *ngIf="combinedProperties.hasOwnProperty('marginBottom')"
                            class="centered-form-field">
              <mat-label>unten</mat-label>
              <input matInput type="number" #marginBottom="ngModel" min="0"
                     [ngModel]="combinedProperties.marginBottom"
                     (ngModelChange)="updateModel('marginBottom', $event, marginBottom.valid)">
            </mat-form-field>
          </div>
        </ng-template>

        <mat-form-field *ngIf="combinedProperties.hasOwnProperty('zIndex')" appearance="fill">
          <mat-label>Z-Index</mat-label>
          <input matInput type="number" #zIndex="ngModel" min="0"
                 [ngModel]="combinedProperties.zIndex"
                 (ngModelChange)="updateModel('zIndex', $event, zIndex.valid)"
                 matTooltip="Priorität beim Stapeln von Elementen. Der höhere Index erscheint vorne.">
        </mat-form-field>
        <ng-container *ngIf="selectedElements.length > 1">
          Ausrichtung
          <div class="alignment-button-group" fxLayout="row" fxLayoutAlign="center center">
            <button (click)="alignElements('left')">
              <mat-icon>align_horizontal_left</mat-icon>
            </button>
            <button (click)="alignElements('right')">
              <mat-icon>align_horizontal_right</mat-icon>
            </button>
            <button (click)="alignElements('top')">
              <mat-icon>align_vertical_top</mat-icon>
            </button>
            <button (click)="alignElements('bottom')">
              <mat-icon>align_vertical_bottom</mat-icon>
            </button>
          </div>
        </ng-container>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">palette</mat-icon>
      </ng-template>
      <div fxLayout="column">
        <mat-form-field *ngIf="combinedProperties.hasOwnProperty('backgroundColor')"
                        appearance="fill" class="mdInput textsingleline">
          <mat-label>Hintergrundfarbe</mat-label>
          <input matInput type="color" [value]="combinedProperties.backgroundColor"
                 (input)="updateModel('backgroundColor', $any($event.target).value)">
        </mat-form-field>
        <mat-form-field *ngIf="combinedProperties.hasOwnProperty('fontColor')"
                        appearance="fill" class="mdInput textsingleline">
          <mat-label>Schriftfarbe</mat-label>
          <input matInput type="color" [value]="combinedProperties.fontColor"
                 (input)="updateModel('fontColor', $any($event.target).value)">
        </mat-form-field>
        <mat-form-field *ngIf="combinedProperties.hasOwnProperty('font')"
                        appearance="fill" class="mdInput textsingleline">
          <mat-label>Schriftart</mat-label>
          <input matInput type="text" [value]="combinedProperties.font"
                 (input)="updateModel('font', $any($event.target).value)">
        </mat-form-field>
        <mat-form-field *ngIf="combinedProperties.hasOwnProperty('fontSize')"
                        appearance="fill" class="mdInput textsingleline">
          <mat-label>Schriftgröße</mat-label>
          <input matInput type="text" [value]="combinedProperties.fontSize"
                 (input)="updateModel('fontSize', $any($event.target).value)">
        </mat-form-field>

        <mat-checkbox *ngIf="combinedProperties.hasOwnProperty('bold')"
                      [checked]="$any(combinedProperties.bold)"
                      (change)="updateModel('bold', $event.checked)">
          Fett
        </mat-checkbox>
        <mat-checkbox *ngIf="combinedProperties.hasOwnProperty('italic')"
                      [checked]="$any(combinedProperties.italic)"
                      (change)="updateModel('italic', $event.checked)">
          Kursiv
        </mat-checkbox>
        <mat-checkbox *ngIf="combinedProperties.hasOwnProperty('underline')"
                      [checked]="$any(combinedProperties.underline)"
                      (change)="updateModel('underline', $event.checked)">
          Unterstrichen
        </mat-checkbox>
      </div>
    </mat-tab>
  </mat-tab-group>
</ng-container>
<ng-container *ngIf="selectedElements.length === 0">
  Kein Element ausgewählt
</ng-container>
