<mat-accordion multi>
  <mat-expansion-panel [expanded]="!expandElementView">
    <mat-expansion-panel-header>
      <mat-panel-title>Seite</mat-panel-title>
    </mat-expansion-panel-header>
      <app-page-properties></app-page-properties>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Seitenabschnitt</mat-panel-title>
    </mat-expansion-panel-header>
      <app-section-properties></app-section-properties>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="expandElementView">
    <mat-expansion-panel-header>
      <mat-panel-title>Element</mat-panel-title>
    </mat-expansion-panel-header>
      <app-element-properties></app-element-properties>
  </mat-expansion-panel>
</mat-accordion>
