button {
  text-align: left;
  font-size: medium;
  width: 100%;
  display: inline-block;
}

:host ::ng-deep .mat-badge-medium.mat-badge-overlap.mat-badge-after .mat-badge-content {
  right: 12px;
}

:host ::ng-deep .mat-badge-medium.mat-badge-above .mat-badge-content {
  top: 8px;
}
