<div class="fx-column-start-stretch">
  <aspect-position-field-set
    *ngIf="positionProperties"
    [positionProperties]="positionProperties"
    [isZIndexDisabled]="isZIndexDisabled"
    (updateModel)="updatePositionModel.emit($event)">
  </aspect-position-field-set>

  <aspect-dimension-field-set *ngIf="dimensions"
                              [positionProperties]="positionProperties"
                              [dimensions]="dimensions"
                              [divergingProperties]="divergingProperties">
  </aspect-dimension-field-set>

  <ng-container *ngIf="(selectionService.selectedElements | async)!.length > 1">
    {{'propertiesPanel.alignment' | translate }}
    <div class="alignment-button-group fx-row-space-evenly-center"
         [style.margin]="'10px 0'">
      <button (click)="alignElements('left')">
        <mat-icon>align_horizontal_left</mat-icon>
      </button>
      <button (click)="alignElements('right')">
        <mat-icon>align_horizontal_right</mat-icon>
      </button>
      <button (click)="alignElements('top')">
        <mat-icon>align_vertical_top</mat-icon>
      </button>
      <button (click)="alignElements('bottom')">
        <mat-icon>align_vertical_bottom</mat-icon>
      </button>
    </div>
  </ng-container>
</div>
