<div *ngIf="elementModel.src"
     [style.width.%]="100"
     [style.height.%]="100"
     class="image-container"
     (mouseover)="magnifierVisible = true"
     (mouseenter)="magnifierVisible = true"
     (mouseleave)="magnifierVisible = false">
  <img #image
       draggable="false"
       [class.allow-fullscreen]="elementModel.allowFullscreen"
       imageFullscreen [imgSrc]="elementModel.src | safeResourceUrl"
       [allowFullscreen]="elementModel.allowFullscreen"
       (error)="throwError('image-not-loading', $event.message)"
       [src]="elementModel.src | safeResourceUrl"
       [alt]="elementModel.alt"
       [class]="elementModel.scale ? 'fit-image' : 'max-size-image'">
  <aspect-image-magnifier *ngIf="elementModel.magnifier && ( magnifierVisible || project === 'editor')"
                          [imageId]="elementModel.id"
                          [size]="elementModel.magnifierSize"
                          [zoom]="elementModel.magnifierZoom"
                          [used]="elementModel.magnifierUsed"
                          [image]=image
                          (elementValueChanged)="elementValueChanged.emit($event)">
  </aspect-image-magnifier>
</div>
