.keyboard-container {
  background-color: lightgray;
  margin-left: 10%;
  margin-right: 10%;
  padding: 0 50px;
  display: grid;
}

.specialCharacters {
  margin-left: 15%;
  margin-right: 15%;
  background-color: grey;
}

button {
  margin: 10px;
}
