.character-rows {
  background-color: lightgray;
  padding: 0 50px;
  display: grid;
}

.specialCharacters {
  margin-left: 15%;
  margin-right: 15%;
  background-color: grey;
}

button {
  margin: 4px;
  font-size: 2vw;
  min-height: 50px;
  min-width: unset;
}

::ng-deep .keyboard-container .iconButton mat-icon {
  font-size: 2vw;
  width: unset;
}

.alternativeKey {
  color: grey;
  position: absolute;
  top: -5px;
  font-size: 1.4vw;
  padding-left: 10px;
}
