body {
  margin: 0;
  font-family: 'NunitoSans', sans-serif;
}

/*This is part of a hack to set the bodys cursor to grabbing while
  elements are being dragged with relative positioning. The element is taken out
  of the DOM and pointer events don't work, including cursors. This is why
  the body needs to be cursor styled.
  This class and the cursor are set in the component when dragging starts
  and removed when it ends. See dynamic canvas overlay. */
body.inheritCursors * {
  cursor: inherit !important;
}

blockquote {
  quotes: "\201E" "\201C";
  text-indent: -1em;
  margin-top: 20px;
  margin-bottom: 20px;
}

blockquote:before {
  content: open-quote;
  font-size: 2.5em;
  padding-right: 3px;
  font-family: 'PT Sans', sans-serif;
  line-height: 0;
}

blockquote:after {
  content: close-quote;
  font-size: 2.5em;
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
  padding-top: 0.3em;
  padding-left: 3px;
  font-family: 'PT Sans', sans-serif;
  line-height: 0;
}

blockquote p {
  display: inline;
}

.fixed-size-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.fixed-size-content {
  overflow: auto;
}

.snackbar-warning, .snackbar-error {border: 3px double #ff4d4d}
.snackbar-error {white-space: pre-wrap;}
.snackbar-success {border: 3px double green;}

.cdk-drag {
  cursor: grab;
}
.cdk-drag-dragging {
  cursor: grabbing;
}

.fx-row-start-stretch {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: flex-start;
}

.fx-row-end-stretch {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: flex-end;
}

.fx-row-end-center {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}

.fx-column-start-stretch {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
}

.fx-column-start-start {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.fx-gap-10 {
  gap: 10px;
}

.fx-gap-20 {
  gap: 20px;
}

/* Put overlay below the MathLive keyboard, which default z-index is 105. */
.reduced-overlay-index.cdk-overlay-container {
  z-index: 100 !important;
}

.image-fullscreen-dialog {
  max-width: 95vw !important;
  max-height: 95vh;
}

.image-fullscreen-dialog mat-dialog-content {
  max-height: 100%;
}
