<fieldset>
  <legend>{{ 'propertiesPanel.position' | translate }}</legend>
  <div *ngIf="!unitService.unit
                .pages[selectionService.selectedPageIndex]
                .sections[selectionService.selectedSectionIndex]
                .dynamicPositioning;
                else elseBlock"
       class="flex-row">
    <mat-form-field *ngIf="positionProperties.xPosition !== undefined"
                    appearance="outline">
      <mat-label>{{'propertiesPanel.xPosition' | translate }}</mat-label>
      <input matInput type="number" min="0" aspectNumberField emptyMeansZero
             [ngModel]="positionProperties.xPosition"
             (numberChange)="updateModel.emit(
                    { property: 'xPosition', value: $event.value, isInputValid: $event.isInputValid })">
    </mat-form-field>
    <mat-form-field *ngIf="positionProperties.yPosition !== undefined"
                    appearance="outline">
      <mat-label>{{'propertiesPanel.yPosition' | translate }}</mat-label>
      <input matInput type="number" min="0" aspectNumberField emptyMeansZero
             [ngModel]="positionProperties.yPosition"
             (numberChange)="updateModel.emit(
                    { property: 'yPosition', value: $event.value, isInputValid: $event.isInputValid })">
    </mat-form-field>
  </div>

  <ng-template #elseBlock>
    {{'propertiesPanel.grid' | translate }}
    <div class="flex-row">
      <mat-form-field appearance="outline">
        <mat-label>{{'row' | translate }}</mat-label>
        <input matInput type="number" aspectNumberField [emptyMeansZero]="false"
               [ngModel]="positionProperties.gridRow"
               (numberChange)="updateModel.emit(
                    { property: 'gridRow', value: $event.value, isInputValid: $event.isInputValid })">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>{{'propertiesPanel.rowRange' | translate }}</mat-label>
        <input matInput type="number" aspectNumberField emptyMeansZero
               [ngModel]="positionProperties.gridRowRange"
               (numberChange)="updateModel.emit(
                    { property: 'gridRowRange', value: $event.value, isInputValid: $event.isInputValid })">
      </mat-form-field>
    </div>
    <div class="flex-row">
      <mat-form-field appearance="outline">
        <mat-label>{{'column' | translate }}</mat-label>
        <input matInput type="number" aspectNumberField [emptyMeansZero]="false"
               [ngModel]="positionProperties.gridColumn"
               (numberChange)="updateModel.emit(
                    { property: 'gridColumn', value: $event.value, isInputValid: $event.isInputValid })">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>{{'propertiesPanel.columnRange' | translate }}</mat-label>
        <input matInput type="number" aspectNumberField emptyMeansZero
               [ngModel]="positionProperties.gridColumnRange"
               (numberChange)="updateModel.emit(
                    { property: 'gridColumnRange', value: $event.value, isInputValid: $event.isInputValid })">
      </mat-form-field>
    </div>

    {{'propertiesPanel.margin' | translate }}
    <div>
      <aspect-size-input-panel [label]="('propertiesPanel.top' | translate)"
                               [value]="positionProperties.marginTop?.value"
                               [unit]="positionProperties.marginTop?.unit"
                               [allowedUnits]="['px', '%']"
                               (valueUpdated)="updateModel.emit(
                                                 {
                                                   property: 'marginTop',
                                                   value: $event
                                                 })">
      </aspect-size-input-panel>
      <aspect-size-input-panel [label]="('propertiesPanel.bottom' | translate)"
                               [value]="positionProperties.marginBottom?.value"
                               [unit]="positionProperties.marginBottom?.unit"
                               [allowedUnits]="['px', '%']"
                               (valueUpdated)="updateModel.emit(
                                                 {
                                                   property: 'marginBottom',
                                                   value: $event
                                                 })">
      </aspect-size-input-panel>
      <aspect-size-input-panel [label]="('propertiesPanel.left' | translate)"
                               [value]="positionProperties.marginLeft?.value"
                               [unit]="positionProperties.marginLeft?.unit"
                               [allowedUnits]="['px', '%']"
                               (valueUpdated)="updateModel.emit(
                                                 {
                                                   property: 'marginLeft',
                                                   value: $event
                                                 })">
      </aspect-size-input-panel>
      <aspect-size-input-panel [label]="('propertiesPanel.right' | translate)"
                               [value]="positionProperties.marginRight?.value"
                               [unit]="positionProperties.marginRight?.unit"
                               [allowedUnits]="['px', '%']"
                               (valueUpdated)="updateModel.emit(
                                                 {
                                                   property: 'marginRight',
                                                   value: $event
                                                 })">
      </aspect-size-input-panel>
    </div>
  </ng-template>

  <ng-container *ngIf="!isZIndexDisabled">
    {{ 'propertiesPanel.stacking' | translate }}<br>
    <mat-form-field appearance="fill">
      <mat-label>{{'propertiesPanel.zIndex' | translate }}</mat-label>
      <input matInput type="number" aspectNumberField emptyMeansZero
             [ngModel]="positionProperties.zIndex"
             (numberChange)="updateModel.emit(
                    { property: 'zIndex', value: $event.value, isInputValid: $event.isInputValid })"
             matTooltip="{{ 'propertiesPanel.zIndexTooltip' | translate }}">
    </mat-form-field>
  </ng-container>
</fieldset>
