<div [class.fixed-row-container]="position === 'right' && preset === 'french'">
  <div *ngFor="let row of rows; let last = last">
    <ng-container *ngFor="let key of row; let index = index; let lastRowKey = last">
      <aspect-keypad-key
          [singleKey]="lastRowKey && index === 0"
          [key]="key"
          [preset]="preset"
          [darkMode]="key === 'Backspace' || key==='Shift' || key==='ShiftUp'"
          [horizontalOval]="key === 'Backspace'"
          [position]="position"
          (keyClicked)="canEdit(key === 'Backspace') ? evaluateClickedKeyValue($event) : null">
      </aspect-keypad-key>
      <ng-container *ngIf="last && lastRowKey && preset  === 'french'">
        <aspect-keypad-key *ngIf="hasReturnKey"
                           [key]="'\n'"
                           [preset]="preset"
                           [bigHorizontalOval]="true"
                           [darkMode]="false"
                           [position]="position"
                           (keyClicked)="evaluateClickedKeyValue($event)">
        </aspect-keypad-key>
        <ng-container *ngIf="hasArrowKeys && position === 'floating'">
          <aspect-keypad-key *ngFor="let arrow of arrows"
                             [key]="arrow"
                             [preset]="preset"
                             [darkMode]="true"
                             [position]="position"
                             (keyClicked)="evaluateClickedKeyValue($event)">
          </aspect-keypad-key>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>

  <div *ngIf="additionalRows.length && additionalRows[0].length"
       class="grid-layout"
       [class.floating-3-column-grid-layout]="position === 'floating' && preset === 'numbersAndOperators'"
       [class.floating-2-column-grid-layout]="position === 'floating' && preset === 'numbersAndBasicOperators'"
       [class.fixed-3-column-grid-layout]="position !== 'floating' && preset === 'numbersAndOperators'"
       [class.fixed-2-column-grid-layout]="position !== 'floating' && preset === 'numbersAndBasicOperators'">
    <ng-container *ngFor="let row of additionalRows; let rowIndex = index ">
      <ng-container *ngFor="let key of row; let columnIndex = index">
        <aspect-keypad-key *ngIf="key !== '='"
                    [key]="key"
                    [position]="position"
                    [style.grid-column-start]="columnIndex+1"
                    [style.grid-column-end]="columnIndex+2"
                    [style.grid-row-start]="rowIndex + 1"
                    [style.grid-row-end]="rowIndex + 2"
                    (keyClicked)="canEdit(false) ? evaluateClickedKeyValue($event) : null">
        </aspect-keypad-key>
        <aspect-keypad-key *ngIf="key === '='"
                    [key]="key"
                    [position]="position"
                    [verticalOval]="true"
                    [style.grid-column-start]="3"
                    [style.grid-column-end]="3"
                    [style.grid-row-start]="1"
                    [style.grid-row-end]="3"
                    (keyClicked)="canEdit(false) ? evaluateClickedKeyValue($event) : null">
        </aspect-keypad-key>
      </ng-container>
    </ng-container>
  </div>

  <div *ngIf="hasReturnKey && preset !== 'french'">
    <aspect-keypad-key
      [key]="'\n'"
      [preset]="preset"
      [bigHorizontalOval]="true"
      [darkMode]="false"
      [position]="position"
      (keyClicked)="evaluateClickedKeyValue($event)">
    </aspect-keypad-key>
  </div>

  <div *ngIf="hasArrowKeys && !(preset === 'french' && position === 'floating')"
       class="grid-layout"
       [class.floating-arrow-layout]="position === 'floating'"
       [class.fixed-arrow-layout]="position !== 'floating'">
    <aspect-keypad-key
      [style.grid-column-start]="2"
      [style.grid-column-end]="3"
      [style.grid-row-start]="1"
      [style.grid-row-end]="2"
      [key]="'ArrowUp'"
      [preset]="preset"
      [darkMode]="true"
      [position]="position"
      (keyClicked)="evaluateClickedKeyValue($event)">
    </aspect-keypad-key>
    <aspect-keypad-key
      [style.grid-column-start]="1"
      [style.grid-column-end]="2"
      [style.grid-row-start]="2"
      [style.grid-row-end]="3"
      [key]="'ArrowLeft'"
      [preset]="preset"
      [darkMode]="true"
      [position]="position"
      (keyClicked)="evaluateClickedKeyValue($event)">
    </aspect-keypad-key>
    <aspect-keypad-key
      [style.grid-column-start]="3"
      [style.grid-column-end]="4"
      [style.grid-row-start]="2"
      [style.grid-row-end]="3"
      [key]="'ArrowRight'"
      [preset]="preset"
      [darkMode]="true"
      [position]="position"
      (keyClicked)="evaluateClickedKeyValue($event)">
    </aspect-keypad-key>
    <aspect-keypad-key
      [style.grid-column-start]="2"
      [style.grid-column-end]="3"
      [style.grid-row-start]="3"
      [style.grid-row-end]="4"
      [key]="'ArrowDown'"
      [preset]="preset"
      [darkMode]="true"
      [position]="position"
      (keyClicked)="evaluateClickedKeyValue($event)">
    </aspect-keypad-key>
  </div>
</div>
