.fixed-big-row-container{
  width: 280px;
  margin: auto;
}

.fixed-small-row-container{
  width: 208px;
  margin: auto;
}

.floating-round-keys-row-container {
  max-width: 354px;
}

.floating-square-keys-row-container {
  max-width: 454px;
}

.grid-layout {
  justify-content: center;
  margin-top: 15px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.floating-2-column-grid-layout {
  grid-template-columns: 45px 40px;
}

.fixed-2-column-grid-layout {
  grid-template-columns: 70px 65px;
}

.floating-3-column-grid-layout {
  grid-template-columns: 1fr 1fr 1fr;
}

.fixed-3-column-grid-layout {
  grid-template-columns: 70px 70px 65px;
}

.floating-round-keys-arrow-layout {
  grid-template-columns: 35px 35px 40px;
  grid-template-rows: 35px 35px 40px;
}

.floating-square-keys-arrow-layout {
  grid-template-columns: 55px 55px 55px;
  grid-template-rows: 55px 55px 55px;
}

.fixed-arrow-layout {
  grid-template-columns: 55px 55px 65px;
  grid-template-rows: 55px 55px 65px;
}
