<div class="fx-row-start-stretch fx-gap-10">
  <mat-form-field>
    <mat-label>{{'stateVariableId' | translate}}</mat-label>
    <input matInput
           #idInput
           [class.error]="error"
           [placeholder]="'stateVariableId' | translate"
           [ngModel]="stateVariable.id"
           (input)="checkId(idInput.value)">
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{'stateVariableValue' | translate}}</mat-label>
    <input matInput
           [placeholder]="'stateVariableValue' | translate"
           [(ngModel)]="stateVariable.value"
           (ngModelChange)="stateVariableChange.emit(stateVariable)">
  </mat-form-field>
</div>


