<form [formGroup]="form">
  <aspect-radio-button-group
      *ngIf="elementModel.type === 'radio'"
      [parentForm]="form"
      [elementModel]="elementModel | cast: RadioButtonGroupElement">
  </aspect-radio-button-group>
  <aspect-radio-group-images
      *ngIf="elementModel.type === 'radio-group-images'"
      [parentForm]="form"
      [elementModel]="elementModel | cast: RadioButtonGroupComplexElement">
  </aspect-radio-group-images>
  <aspect-toggle-button
      *ngIf="elementModel.type === 'toggle-button'"
      [parentForm]="form"
      [elementModel]="elementModel | cast: ToggleButtonElement">
  </aspect-toggle-button>
  <aspect-dropdown
      *ngIf="elementModel.type === 'dropdown'"
      [parentForm]="form"
      [elementModel]="elementModel | cast: DropdownElement">
  </aspect-dropdown>

</form>
