.concat-scroll-snap-align {
  scroll-snap-align: start;
}

.concat-scroll-snap {
  scroll-snap-type: y proximity;
}

.page-container{
  width: 100%;
  overflow: auto;
}

.left-container{
  margin-left: auto;
}

.center-pages{
  margin: auto;
}

.layout-container{
  margin: auto;
}

.layout-flex-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.pages-container{
  height: 100%;
  overflow: auto;
}

.keyboard {

  width: 100%;
}
