.concat-scroll-snap-align {
  scroll-snap-align: start;
}

.concat-scroll-snap {
  scroll-snap-type: y proximity;
}

.page-container{
  flex: 1 1 100%;
  overflow: auto;
}

.layout-container{
  margin: auto;
}

.layout-flex-container{
  height: 100vh;
}
