.concat-scroll-snap-align {
  scroll-snap-align: start;
}

.concat-scroll-snap {
  scroll-snap-type: y proximity;
}

.page-container{
  overflow: scroll;
  margin-left: 1vw;
  margin-top: 1vh;
}

.layout-container{
  max-height: 100vh;
}

.tab-page-container{
  overflow: hidden;
  margin-left: 1vw;
  margin-top: 1vh;
}
