<!--dropdown, radio-button-group-->
<aspect-option-list-panel
  *ngIf="combinedProperties.options !== undefined"
  [showImageButton]="combinedProperties.type !== 'dropdown' && combinedProperties.type !== 'radio'"
  [title]="'propertiesPanel.options'"
  [textFieldLabel]="'newOption'"
  [itemList]="combinedProperties.options ?? []"
  (textItemAdded)="addOption('options', $event)"
  (imageItemAdded)="addImageOption()"
  (itemRemoved)="removeOption('options', $event)"
  (itemReordered)="moveOption('options', $event)"
  (itemEdited)="editOption('options', $event)">
</aspect-option-list-panel>

<!--likert-->
<aspect-option-list-panel
  *ngIf="combinedProperties.rows !== undefined"
  [showImageButton]="combinedProperties.type !== 'dropdown' && combinedProperties.type !== 'radio'"
  [itemList]="(combinedProperties.rows ?? []) | LikertRowLabel"
  [title]="'rows'"
  [textFieldLabel]="'newRow'"
  (itemReordered)="moveLikertRow($event)"
  (textItemAdded)="addLikertRow($event)"
  (imageItemAdded)="addLikertRowImage()"
  (itemRemoved)="removeLikertRow($event)"
  (itemEdited)="editLikertRow($event)">
</aspect-option-list-panel>
