.delete-characters-floating-keypad{
  font-size: x-large;
  width: 85px;
  height: 40px;
  border-radius: 20px;
  background-color: dimgray;
  color: #fff;
}

.delete-characters-fixed-keypad{
  font-size: x-large;
  width: 135px;
  height: 65px;
  border-radius: 65px;
  background-color: dimgray;
  color: #fff;
}

.fixed-keypad-key{
  width: 65px;
  height: 65px;
}

.clear-button-container-floating-keypad{
  display: block;
  margin-left: 40px;
}

.clear-button-container-fixed-keypad{
  margin-left: 65px;
  display: block;
}

.grid-layout {
  justify-content: center;
  margin-top: 15px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.floating-2-column-grid-layout {
  grid-template-columns: 45px 40px;
}

.fixed-2-column-grid-layout {
  grid-template-columns: 70px 65px;
}

.floating-3-column-grid-layout {
  grid-template-columns: 1fr 1fr 1fr;
}

.fixed-3-column-grid-layout {
  grid-template-columns: 70px 70px 65px;
}
