.character-rows {
  background-color: lightgray;
  padding: 0 4px;
  display: grid;
  gap: 4px;
}

.additional-character {
  flex: 1 1 0;
  max-width: 100px;
}

.additional-characters {
  background-color: lightgray;
  gap: 4px;
  padding: 4px 4px 0 4px;
}

.fx-center-center-wrap {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.key {
  min-height: 50px;
}

.keyboard-container {
  position: relative;
  z-index: 10000;
}


.down-key-back {
  margin-left: auto;
  margin-right: 0;
  margin-top: -45px;
  width: 5%;
  padding: 4px 4px 0 4px;
  background-color: #ddd;
  border-top-left-radius: 4px;
  z-index: 10;
  position: relative;
  .down-key{
    min-width: unset;
    height: 45px;
    width: 100%;
    font-size: 2vw;
    background-color: #ddd;
    .center-icon {
      height: unset;
      width: unset;
      padding-top: 8px;
      font-size: inherit;
    }
  }
}
