.character-rows {
  background-color: lightgray;
  padding: 0 4px;
  display: grid;
  gap: 4px;
}

.additional-character {
  flex: 1 1 0;
  max-width: 100px;
}

.additional-characters {
  background-color: lightgray;
  gap: 4px;
  padding: 4px 4px 0 4px;
}

.fx-center-center-wrap {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.key {
  min-height: 50px;
}

.keyboard-container {
  position: relative;
  z-index: 10000;
}
