.character-rows {
  background-color: lightgray;
  padding: 0 50px;
  display: grid;
}

.specialCharacters {
  margin-left: 10%;
  margin-right: 10%;
  background-color: grey;
}

.fx-space-between-center-wrap {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.key {
  margin: 4px;
  min-height: 50px;
}

.keyboard-container {
  position: relative;
  z-index: 10000;
}

::ng-deep .keyboard-container .iconButton mat-icon {
  font-size: 2vw;
  width: unset;
}
