<div class="keyboard-container"
     (mousedown)="$event.preventDefault(); $event.stopPropagation()">
  <div *ngIf="showFrenchCharacters"
       fxLayout="row wrap"
       fxLayoutAlign="space-between center"
       class="specialCharacters">
    <keyboard-key *ngFor="let key of frenchSpecialCharacters; let i = index"
                  class="key"
                  [key]="key"
                  [shift]="shift"
                  (keyClicked)="enterKey($event)">
    </keyboard-key>
  </div>

  <div class="character-rows">
    <ng-container *ngFor="let row of rows; let rowIndex = index">
      <ng-container *ngFor="let key of row; let i = index">
        <keyboard-key class="key"
                      [style.grid-row-start]="rowIndex + 2"
                      [style.grid-row-end]="key[1] === 'Return' ? rowIndex + 4 : rowIndex + 3"
                      [style.grid-column-start]="key[1] === 'Space' ? i + 2 : i + 1"
                      [style.grid-column-end]="key[1] === 'Space' ? i + 12 : i + 2"
                      [key]="key"
                      [shift]="shift"
                      (keyClicked)="enterKey($event)">
        </keyboard-key>
      </ng-container>
    </ng-container>
  </div>
</div>
