body {
  overflow: hidden;
  margin: 0 !important;
}

.inline-container{
  display: inline;
}

.active-anchor {
  scroll-margin: 100px 0;
}

.active-anchor > mark, .active-anchor > aspect-marked {
  background-color: unset !important;
}

.active-nested-anchor > mark, .active-nested-anchor > aspect-marked {
  background-color: unset !important;
}

aspect-anchor:not(.active-anchor):not(.active-nested-anchor) {
  background-color: unset !important;
}

.dragging-active {
  cursor: grabbing;
}

.dragging-active * {
  cursor: inherit !important;
}
