body {
  overflow: hidden;
  margin: 0 !important;
}

.inline-container{
  display: inline;
}

.error-tooltip {
  border: 1px solid #f44336;
  margin-top: 8px !important;
  font-size: 12px;
  background-color: white;
  color: #f44336 !important;;
}

.active-anchor {
  scroll-margin: 100px 0;
}

.active-anchor > mark, .active-anchor > aspect-marked {
  background-color: unset !important;
}

.active-nested-anchor > mark, .active-nested-anchor > aspect-marked {
  background-color: unset !important;
}

aspect-anchor:not(.active-anchor):not(.active-nested-anchor) {
  background-color: unset !important;
}
