<div>
  <div class="page-toolbar">
    <mat-form-field>
      <mat-label>Breite</mat-label>
      <input matInput type="number" [(ngModel)]="page.width">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Randbreite</mat-label>
      <input matInput type="number" [(ngModel)]="page.margin">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Hintergrundfarbe</mat-label>
      <input matInput type="text" [(ngModel)]="page.backgroundColor">
    </mat-form-field>
    <mat-checkbox [checked]="page.alwaysVisible"
                  (change)="setPageAlwaysVisible($event)">
      Immer angezeigt
    </mat-checkbox>
  </div>
  <app-page-canvas [pageObservable]="pageObservable"></app-page-canvas>
</div>
