<div class="fx-column-start-stretch">
  <aspect-merged-checkbox [value]="$any(combinedProperties).hasBorderTop"
                          (valueChange)="updateModel.emit({ property: 'hasBorderTop', value: $event })">
    {{ 'propertiesPanel.hasBorderTop' | translate }}
  </aspect-merged-checkbox>
  <aspect-merged-checkbox [value]="$any(combinedProperties).hasBorderBottom"
                          (valueChange)="updateModel.emit({ property: 'hasBorderBottom', value: $event })">
    {{ 'propertiesPanel.hasBorderBottom' | translate }}
  </aspect-merged-checkbox>
  <aspect-merged-checkbox [value]="$any(combinedProperties).hasBorderLeft"
                          (valueChange)="updateModel.emit({ property: 'hasBorderLeft', value: $event })">
    {{ 'propertiesPanel.hasBorderLeft' | translate }}
  </aspect-merged-checkbox>
  <aspect-merged-checkbox [value]="$any(combinedProperties).hasBorderRight"
                          (valueChange)="updateModel.emit({ property: 'hasBorderRight', value: $event })">
    {{ 'propertiesPanel.hasBorderRight' | translate }}
  </aspect-merged-checkbox>
</div>
