<h3>Frage</h3>
<aspect-rich-text-editor [(content)]="options.label1" [placeholder]="'Hier steht die Fragestellung.'">
</aspect-rich-text-editor>

<h3>Optionen</h3>
<aspect-option-list-panel class="options" [textFieldLabel]="'newOption'"
                          [itemList]="options.options" [showImageButton]="true" [localMode]="true"
                          (itemListUpdated)="checkValidity()">
</aspect-option-list-panel>

<h3>Bilder je Zeile</h3>
<mat-form-field [style.align-self]="'flex-start'">
  <input matInput type="number" min="1" max="9" required aspectNumberField
         [style.margin-left]="'unset'"
         [ngModel]="options.itemsPerRow"
         (numberChange)="commitItemsPerRow($event)">
</mat-form-field>
<p>4 Bilder pro Zeile: empfohlen für kleine Bilder oder einseitige Aufgaben<br>
  2 Bilder pro Zeile: empfohlen für zweiseitige Aufgaben oder große Bilder</p>

<h3>Begründung</h3>
<mat-checkbox [(ngModel)]="options.addExtraInput">
  Begründungsfeld anfügen
</mat-checkbox>
<aspect-rich-text-editor [disabled]="!options.addExtraInput" [(content)]="options.text1">
</aspect-rich-text-editor>
<mat-checkbox [(ngModel)]="options.extraInputMathfield" [disabled]="!options.addExtraInput">
  Formeleingabefeld verwenden
</mat-checkbox>
