.concat-scroll-snap-align {
  scroll-snap-align: start;
}

.fx-column-start-stretch {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.fx-row-start-stretch {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

.concat-scroll-snap {
  scroll-snap-type: y mandatory;
  scroll-padding: 0;
  scroll-padding-bottom: 50px; // same value in component
  scroll-snap-stop: always;
}

.page-container{
  width: 100%;
  overflow: auto;
}

.left-container{
  margin-left: auto;
}

.center-pages{
  margin: auto;
}

.pages-container{
  height: 100%;
  overflow: auto;
}

:host ::ng-deep .mat-mdc-tab-body-content {
  height: 100%;
  overflow: unset;
}

:host ::ng-deep .mat-mdc-tab-body-wrapper, :host ::ng-deep .mat-mdc-tab-body {
  display: unset;
}


