.concat-scroll-snap-align {
  scroll-snap-align: start;
}

.concat-scroll-snap {
  scroll-snap-type: both mandatory;
  scroll-padding: 10px;
}

.page-container{
  width: 100%;
  overflow: auto;
}

.left-container{
  margin-left: auto;
}

.center-pages{
  margin: auto;
}

.pages-container{
  height: 100%;
  overflow: auto;
}

