.fixed-row-container{
  width: 280px;
  margin: auto;
}

.fixed-keyboard-key{
  width: 65px;
  height: 65px;
}

.keyboard-capslock{
  background-color: dimgray;
}

.keyboard-capslock-container{
  margin-right: 100%;
}

