<div [class.fixed-row-container]="position === 'right'">
  <div *ngFor="let row of rows">
    <ng-container *ngFor="let key of row, let lastRowKey = last">
      <aspect-key
          [key]="key"
          [position]="position"
          [last]="lastRowKey"
          (enterKey)="enterKey.emit($event)">
      </aspect-key>
    </ng-container>
  </div>
  <div class="keyboard-capslock-container">
    <button
        type="button"
        class="keyboard-capslock"
        mat-mini-fab
        [class.fixed-keyboard-key]="position === 'right'"
        (click)="toggleCharacterCase()">
      <mat-icon *ngIf="lowerCharacters">keyboard_arrow_up</mat-icon>
      <mat-icon *ngIf="!lowerCharacters">keyboard_capslock</mat-icon>
    </button>
  </div>
</div>
