<div mat-dialog-title>Tabellenelemente</div>
<mat-dialog-content>
  <aspect-table [elementModel]="newTable" [editorMode]="true" [allowElementEditing]="true"
                [contentRowHeight]="'250px'"
                (elementAdded)="addElement($event)"
                (elementRemoved)="removeElement($event)"></aspect-table>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="{ elements: newTable.elements, headerRows: newTable.headerRows }">
    {{'save' | translate }}
  </button>
  <button mat-button mat-dialog-close>{{'cancel' | translate }}</button>
</mat-dialog-actions>
