.mat-mdc-dialog-content {display: flex; flex-direction: column;}
.mat-mdc-dialog-content > *:not(h3, mat-divider) {margin-left: 30px;}
h3 {text-decoration: underline;}
.mat-mdc-dialog-content > mat-form-field {align-self: flex-start;}
mat-toolbar {min-height: 60px;}
mat-toolbar mat-radio-group {display: flex; gap: 10px;}

.drop-list {
  border: solid 1px #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
}
.drop-list:empty {
  border: none;
}
.drop-list button:first-of-type {
  margin-left: auto;
}
.drop-list-option {
  border-bottom: solid 1px #ccc;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
.drop-list-option:last-child {
  border: none;
}
.cdk-drag-preview button:first-of-type {
  margin-left: auto;
}
