:host {
  display: block;
}

.page-toggle-button {
  box-sizing: border-box;
  width: 100%;
  padding: 0 10%;
  .page-nav-button {
    cursor: pointer;
    width: 100%;
    fill: #f3f3f3;
    stroke: #222;
    stroke-width: 0.5;
    svg {
      filter: drop-shadow(1px 3px 3px rgb(0 0 0 / 0.2));
    }
    &:hover {
      fill: #ddd;
    }
  }
}

.previous {
  @extend .page-toggle-button;
  margin-bottom: 20px;
}

.next {
  @extend .page-toggle-button;
}
