<span [class.is-active]="!!(markColor && markColor !== 'none')"
      [class.is-selected-yellow]="markColor === 'yellow' &&
                                  markingRange?.value?.first === id &&
                                  markingRange?.value?.second === null"
      [class.is-selected-turquoise]="markColor === 'turquoise' &&
                                     markingRange?.value?.first === id &&
                                     markingRange?.value?.second === null"
      [class.is-selected-orange]="markColor === 'orange' &&
                                  markingRange?.value?.first === id &&
                                  markingRange?.value?.second === null"
      [class.is-selected-delete]="markColor === 'delete' &&
                                  markingRange?.value?.first === id &&
                                  markingRange?.value?.second === null"
      [style.background-color]="color && (!markingRange?.value ||
                                         (markColor === 'delete') ||
                                         (markingRange?.value?.first !== id && markingRange?.value?.second === null)) ?
                                         color: null"
      (click)="onWordClick()">{{text}}</span>
