.is-active {
  cursor: pointer;
}

@mixin selectionAnimation($animation) {
  animation: $animation 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

@keyframes yellowColorChange {
  10% { background: #f9f871; }
}

@keyframes turquoiseColorChange {
  10% { background: #9de8eb; }
}

@keyframes orangeColorChange {
  10% { background: #ffa06a; }
}

@keyframes deleteColorChange {
  10% { background: lightgrey; }
}

.is-selected-yellow {
  @include selectionAnimation(yellowColorChange);
}

.is-selected-turquoise {
  @include selectionAnimation(turquoiseColorChange);
}

.is-selected-orange {
  @include selectionAnimation(orangeColorChange);
}

.is-selected-delete {
  @include selectionAnimation(deleteColorChange);
}
