<ng-template
    *ngIf="keyboardService.preset !== 'none'"
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="keyboardService.elementComponent"
    [cdkConnectedOverlayOpen]="isKeyboardOpen && keyboardService.position === 'floating'">
  <aspect-keyboard
      cdkDrag
      [positionOffset]="keyboardService.elementComponent.elementModel.type === 'text-field' ? 20 : 0"
      [inputElement]="keyboardService.inputElement"
      [position]="keyboardService.position"
      [preset]="keyboardService.preset"
      [restrictToAllowedKeys]="keyboardService.elementComponent.elementModel.restrictedToInputAssistanceChars"
      (deleteCharacter)="keyboardService.deleterCharacters()"
      (enterKey)="keyboardService.enterKey($event)">
  </aspect-keyboard>
</ng-template>
