<div *ngFor="let row of rows; let last = last">
  <ng-container *ngFor="let key of row; let lastRowKey = last">
    <aspect-keypad-key
        [key]="key"
        [preset]="preset"
        [last]="!last && lastRowKey"
        [position]="position"
        (keyClicked)="keyClicked.emit($event)">
    </aspect-keypad-key>
    <span *ngIf="last && lastRowKey"
          [class.clear-button-container-floating-keypad]="(
          preset === 'comparisonOperators' || preset === 'squareDashDot'
          ) && position === 'floating'"
          [class.clear-button-container-fixed-keypad]="(
          preset === 'comparisonOperators' || preset === 'squareDashDot'
          ) && position !== 'floating'">
      <button type="button"
              mat-mini-fab
              [class]="position === 'floating' ? 'delete-characters-floating-keypad' : 'delete-characters-fixed-keypad'"
              (click)="backSpaceClicked.emit()">
        <mat-icon>keyboard_backspace</mat-icon>
      </button>
    </span>
  </ng-container>
</div>

<div *ngIf="preset === 'numbersAndOperators' || preset === 'numbersAndBasicOperators'"
     class="grid-layout"
     [class.floating-3-column-grid-layout]="position === 'floating' && preset === 'numbersAndOperators'"
     [class.floating-2-column-grid-layout]="position === 'floating' && preset === 'numbersAndBasicOperators'"
     [class.fixed-3-column-grid-layout]="position !== 'floating' && preset === 'numbersAndOperators'"
     [class.fixed-2-column-grid-layout]="position !== 'floating' && preset === 'numbersAndBasicOperators'">
  <ng-container *ngFor="let row of additionalRows; let rowIndex = index ">
    <ng-container *ngFor="let key of row; let columnIndex = index">
      <aspect-keypad-key *ngIf="key !== '='"
                  [key]="key"
                  [position]="position"
                  [style.grid-column-start]="columnIndex+1"
                  [style.grid-column-end]="columnIndex+2"
                  [style.grid-row-start]="rowIndex + 1"
                  [style.grid-row-end]="rowIndex + 2"
                  (keyClicked)="keyClicked.emit($event)">
      </aspect-keypad-key>
        <ng-container *ngIf="preset === 'numbersAndOperators'">
          <aspect-keypad-key *ngIf="key === '='"
                      [key]="key"
                      [position]="position"
                      [oval]="true"
                      [style.grid-column-start]="3"
                      [style.grid-column-end]="3"
                      [style.grid-row-start]="1"
                      [style.grid-row-end]="3"
                      (keyClicked)="keyClicked.emit($event)">
          </aspect-keypad-key>
        </ng-container>
      </ng-container>
    </ng-container>
</div>
