<aspect-math-field-props *ngIf="show.mathField && combinedProperties.type === 'math-field'"
                         [combinedProperties]="combinedProperties"
                         (updateModel)="updateModel.emit($event)">
</aspect-math-field-props>

<aspect-border-properties *ngIf="show.border && combinedProperties.type === 'frame'"
                          [combinedProperties]="combinedProperties"
                          (updateModel)="updateModel.emit($event)">
</aspect-border-properties>

<aspect-math-table-properties *ngIf="show.mathTable && combinedProperties.type === 'math-table'"
                              [combinedProperties]="combinedProperties"
                              (updateModel)="updateModel.emit($event)">
</aspect-math-table-properties>

<aspect-button-properties *ngIf="show.button && combinedProperties.type === 'button'"
                          [combinedProperties]="combinedProperties"
                          (updateModel)="updateModel.emit($event)">
</aspect-button-properties>

<aspect-drop-list-properties *ngIf="show.dropList"
  [combinedProperties]="combinedProperties"
                             (updateModel)="updateModel.emit($event)">
</aspect-drop-list-properties>

<aspect-geometry-props *ngIf="show.geometry && combinedProperties.type === 'geometry'"
                       [combinedProperties]="combinedProperties"
                       (updateModel)="updateModel.emit($event)">
</aspect-geometry-props>

<aspect-hotspot-props *ngIf="show.hotspot && combinedProperties.type === 'hotspot-image'"
                          [combinedProperties]="combinedProperties"
                          (updateModel)="updateModel.emit($event)">
</aspect-hotspot-props>

<aspect-slider-properties *ngIf="show.slider"
  [combinedProperties]="combinedProperties"
                          (updateModel)="updateModel.emit($event)">
</aspect-slider-properties>

<aspect-text-props *ngIf="show.text && combinedProperties.text !== undefined"
                   [combinedProperties]="combinedProperties"
                   (updateModel)="updateModel.emit($event)">
</aspect-text-props>

<aspect-marking-panel-properties *ngIf="show.markingPanel"
  [combinedProperties]="combinedProperties"
                                  (updateModel)="updateModel.emit($event)">
</aspect-marking-panel-properties>

<aspect-table-properties *ngIf="show.table && combinedProperties.type === 'table'"
                         [combinedProperties]="combinedProperties"
                         (updateModel)="updateModel.emit($event)"></aspect-table-properties>

<aspect-widget-periodic-table-properties
  *ngIf="show.widgetPeriodicTable && combinedProperties.type === 'widget-periodic-table'"
  [combinedProperties]="combinedProperties"
  (updateModel)="updateModel.emit($event)">
</aspect-widget-periodic-table-properties>

<aspect-widget-molecule-editor-properties
  *ngIf="show.widgetMoleculeEditor && combinedProperties.type === 'widget-molecule-editor'"
  [combinedProperties]="combinedProperties"
  (updateModel)="updateModel.emit($event)">
</aspect-widget-molecule-editor-properties>
