<aspect-math-field-props *ngIf="show.mathField"
                         [combinedProperties]="combinedProperties"
                         (updateModel)="updateModel.emit($event)">
</aspect-math-field-props>

<aspect-border-properties *ngIf="show.border"
                          [combinedProperties]="combinedProperties"
                          (updateModel)="updateModel.emit($event)">
</aspect-border-properties>

<aspect-math-table-properties *ngIf="show.mathTable"
                              [combinedProperties]="combinedProperties"
                              (updateModel)="updateModel.emit($event)">
</aspect-math-table-properties>

<aspect-button-properties *ngIf="show.button"
                          [combinedProperties]="combinedProperties"
                          (updateModel)="updateModel.emit($event)">
</aspect-button-properties>

<aspect-drop-list-properties *ngIf="show.dropList"
  [combinedProperties]="combinedProperties"
                             (updateModel)="updateModel.emit($event)">
</aspect-drop-list-properties>

<aspect-geometry-props *ngIf="show.geometry"
                       [combinedProperties]="combinedProperties"
                       (updateModel)="updateModel.emit($event)">
</aspect-geometry-props>

<aspect-hotspot-props *ngIf="show.hotspot"
                          [combinedProperties]="combinedProperties"
                          (updateModel)="updateModel.emit($event)">
</aspect-hotspot-props>

<aspect-slider-properties *ngIf="show.slider"
  [combinedProperties]="combinedProperties"
                          (updateModel)="updateModel.emit($event)">
</aspect-slider-properties>

<aspect-text-props *ngIf="show.text"
                   [combinedProperties]="combinedProperties"
                   (updateModel)="updateModel.emit($event)">
</aspect-text-props>

<aspect-marking-panel-properties *ngIf="show.markingPanel"
  [combinedProperties]="combinedProperties"
                                  (updateModel)="updateModel.emit($event)">
</aspect-marking-panel-properties>

<aspect-table-properties *ngIf="show.table"
                         [combinedProperties]="combinedProperties"
                         (updateModel)="updateModel.emit($event)"></aspect-table-properties>

<aspect-widget-periodic-table-properties
  *ngIf="show.widgetPeriodicTable"
  [combinedProperties]="combinedProperties"
  (updateModel)="updateModel.emit($event)">
</aspect-widget-periodic-table-properties>

<aspect-widget-molecule-editor-properties
  *ngIf="show.widgetMoleculeEditor"
  [combinedProperties]="combinedProperties"
  (updateModel)="updateModel.emit($event)">
</aspect-widget-molecule-editor-properties>
