<h2 mat-dialog-title>{{ 'sectionTemplates.checkboxTitle' | translate }}</h2>
<div mat-dialog-content>
  <h3>{{ 'sectionTemplates.question' | translate }}</h3>
  <aspect-rich-text-editor [(content)]="text1"
                           [placeholder]="'sectionTemplates.questionPlaceholder' | translate">
  </aspect-rich-text-editor>

  <h3>{{ 'sectionTemplates.options' | translate }}</h3>
  <mat-checkbox [style.margin-bottom.px]="10" [(ngModel)]="useImages">
    {{ 'sectionTemplates.useImageOptions' | translate }}
  </mat-checkbox>

  @if (!useImages) {
    <mat-form-field appearance="outline">
      <mat-label>{{ 'newOption' | translate }}</mat-label>
      <textarea #newItem matInput cdkTextareaAutosize type="text"
                (keydown.enter)="$event.stopPropagation(); $event.preventDefault();"
                (keyup.enter)="options.push(newItem.value); newItem.select()"></textarea>
      <button mat-icon-button matSuffix color="primary"
              [disabled]="newItem.value === ''"
              (click)="options.push(newItem.value); newItem.select()">
        <mat-icon>add</mat-icon>
      </button>
    </mat-form-field>
  } @else {
    <button mat-stroked-button (click)="imageUpload.click();">
      {{ 'sectionTemplates.uploadImage' | translate }}
    </button>
    <input type="file" hidden accept="image/*" #imageUpload id="button-image-upload"
           (change)="loadImage(options, imageUpload)">
  }
  <div class="drop-list" cdkDropList [cdkDropListData]="options" (cdkDropListDropped)="drop($event)">
    <div *ngFor="let item of options; let i = index" cdkDrag cdkDragLockAxis="y" class="drop-list-option">
      @if (useImages) {
        <img [src]="item" [style.object-fit]="'scale-down'" [style.height.px]="40">
      } @else {
        <div class="text-item">{{ item }}</div>
      }
      <button mat-icon-button color="primary" (click)="removeListItem(options, i)">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button [disabled]="options.length < 1"
          [mat-dialog-close]="{ text1, options, useImages }">{{'confirm' | translate }}</button>
  <button mat-button mat-dialog-close>{{'cancel' | translate }}</button>
</div>
