<div class="inline-container" cdkOverlayOrigin #overlayOrigin="cdkOverlayOrigin">
  <aspect-text
      #elementComponent
      [elementModel]="elementModel | cast: TextElement"
      [savedText]="initialValue"
      (applySelection)="applySelection($event, elementComponent)"
      (startSelection)="startSelection($event, elementComponent)"
      (elementValueChanged)="unitStateService.changeElementValue($event)">
  </aspect-text>
</div>

<aspect-floating-marking-bar
    *ngIf="elementModel.type === 'text'"
    [elementComponent]="elementComponent"
    [overlayOrigin]="overlayOrigin"
    [isMarkingBarOpen]="isMarkingBarOpen"
    [textComponentRect]="textComponentRect"
    [textComponentContainerScrollTop]="textComponentContainerScrollTop"
    [position]="markingBarPosition"
    (applySelection)="applySelectionToText($event.mode, $event.color, elementComponent)">
</aspect-floating-marking-bar>
