<button class="key"
        mat-raised-button
        (click)="keyClicked.emit(key)">
  <ng-container *ngIf="key[2] !== 'control'">
    <ng-container *ngIf="!shift">
      {{key[0]}}
      <span *ngIf="key[2] === 'sign'" class="alternativeKey">{{key[1]}}</span>
    </ng-container>
    <ng-container *ngIf="shift">
      {{key[1]}}
      <span *ngIf="key[2] === 'sign'" class="alternativeKey">{{key[0]}}</span>
    </ng-container>
  </ng-container>
  <mat-icon *ngIf="key[1] === 'Return'">keyboard_return</mat-icon>
  <mat-icon *ngIf="key[1] === 'Backspace'">keyboard_backspace</mat-icon>
  <mat-icon *ngIf="key[1] === 'Shift' && !shift">keyboard_arrow_up</mat-icon>
  <mat-icon *ngIf="key[1] === 'Shift' && shift">keyboard_capslock</mat-icon>
  <mat-icon *ngIf="key[1] === 'Space'">space_bar</mat-icon>
</button>
