<button class="key"
        mat-raised-button
        (click)="keyClicked.emit(key)">
  <ng-container *ngIf="key.length === 1">
      {{key}}
      <span *ngIf="alternativeKey !== null" class="alternativeKey">{{alternativeKey}}</span>
  </ng-container>
  <mat-icon *ngIf="key === 'Return'">keyboard_return</mat-icon>
  <mat-icon *ngIf="key === 'Backspace'">keyboard_backspace</mat-icon>
  <mat-icon *ngIf="key === 'Shift'">keyboard_arrow_up</mat-icon>
  <mat-icon *ngIf="key === 'ShiftUp'">keyboard_capslock</mat-icon>
  <mat-icon *ngIf="key === 'Space'">space_bar</mat-icon>
</button>
