<button class="key"
        [class.control]="key !== 'Space' && key.length > 1"
        mat-raised-button
        (click)="keyClicked.emit(key)">
  <div *ngIf="key.length === 1"
       class="character">
      {{key}}
      <span *ngIf="alternativeKey !== null" class="alternative-key">{{alternativeKey}}</span>
  </div>
  <span>
    <mat-icon *ngIf="key === 'Return'" class="center-icon">keyboard_return</mat-icon>
    <mat-icon *ngIf="key === 'Backspace'" class="center-icon">keyboard_backspace</mat-icon>
    <mat-icon *ngIf="key === 'Shift'" class="center-icon">keyboard_arrow_up</mat-icon>
    <mat-icon *ngIf="key === 'ShiftUp'" class="center-icon">keyboard_capslock</mat-icon>
    <mat-icon *ngIf="key === 'Space'" class="center-icon">space_bar</mat-icon>
  </span>
</button>
