<h2 mat-dialog-title class="message-title">
  <mat-icon class="message-icon-error">error</mat-icon>
  <span>{{ 'unexpectedError.title' | translate }}</span>
</h2>
<mat-dialog-content>
  <p><b>{{ 'unexpectedError.intro' | translate }}</b><br>
  {{ 'unexpectedError.hint' | translate }}
  </p>
  <p class="technical-detail">{{ 'unexpectedError.technicalDetail' | translate }} {{ data.message }}</p>
  <mat-form-field [style.width.px]="300">
    <mat-label>{{ 'unexpectedError.reportError' | translate }}</mat-label>
    <mat-select>
      <mat-option (click)="reportErrorViaGitHub()">
        <mat-icon>open_in_new</mat-icon>
        {{ 'unexpectedError.reportViaGitHub' | translate }}
      </mat-option>
      <mat-option (click)="reportErrorViaEmail()">
        <mat-icon>outgoing_mail</mat-icon>
        {{ 'unexpectedError.reportViaEmail' | translate }}
      </mat-option>
      <mat-option (click)="copyDetailsToClipboard()">
        <mat-icon>content_copy</mat-icon>
        {{ 'unexpectedError.reportToClipboard' | translate }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button matButton (click)="dialogRef.close()">{{ 'close' | translate }}</button>
</mat-dialog-actions>
