<ng-container *ngTemplateOutlet="elementModel.dynamicPositioning ? dynamicElement : staticElement"></ng-container>

<ng-template #staticElement>
  <app-element-overlay
      [style.display]="'block'"
      [style.overflow]="'auto'"
      [style.width.px]="elementModel.width"
      [style.height.px]="elementModel.height"
      [elementModel]="elementModel"
      [parentForm]="elementForm"
      [parentArrayIndex]="parentArrayIndex"
      [isInputElement]="isInputElement">
  </app-element-overlay>
</ng-template>

<ng-template #dynamicElement>
  <app-element-overlay
      [elementModel]="elementModel"
      [parentForm]="elementForm"
      [parentArrayIndex]="parentArrayIndex"
      [isInputElement]="isInputElement">
  </app-element-overlay>
</ng-template>


