<div class="grid-container" [style.display]="'grid'"
     [style.grid-template-columns]="elementModel.gridColumnSizes | measure"
     [style.grid-template-rows]="elementModel.gridRowSizes |
                                 tableGridRows : (elementModel.headerEnabled ? elementModel.headerRows.length : 0) :
                                                 contentRowHeight"
     [style.grid-auto-columns]="'auto'"
     [style.grid-auto-rows]="'auto'"
     [style.background-color]="elementModel.styling.backgroundColor">
  @if (elementModel.headerEnabled) {
    @for (headerRow of elementModel.headerRows; track $index; let r = $index) {
      @for (headerCell of headerRow; track $index; let j = $index) {
        <div class="header-cell" #headerCellElement
             [class.sticky-header]="elementModel.stickyHeader && !allowElementEditing"
             [style.top.px]="elementModel.stickyHeader && !allowElementEditing ? stickyHeaderOffsets[r] || 0 : null"
             [style.border-style]="elementModel.styling.borderStyle"
             [style.border-top-style]="(!elementModel.tableEdgesEnabled && r === 0) || (r > 0) ?
                                       'none' : elementModel.styling.borderStyle"
             [style.border-left-style]="(!elementModel.tableEdgesEnabled && j === 0) || (j > 0) ?
                                        'none' : elementModel.styling.borderStyle"
             [style.border-right-style]="(!elementModel.tableEdgesEnabled && j === headerRow.length - 1) ?
                                         'none' : elementModel.styling.borderStyle"
             [style.border-width.px]="elementModel.styling.borderWidth"
             [style.border-color]="elementModel.styling.borderColor"
             [style.border-radius.px]="elementModel.styling.borderRadius"
             [style.background-color]="elementModel.styling.backgroundColor === 'transparent' ?
                                       'white' : elementModel.styling.backgroundColor"
             [style.color]="elementModel.styling.fontColor"
             [style.font-size.px]="elementModel.styling.fontSize"
             [style.font-weight]="elementModel.styling.bold ? 'bold' : ''"
             [style.font-style]="elementModel.styling.italic ? 'italic' : ''"
             [style.text-decoration]="elementModel.styling.underline ? 'underline' : ''"
             [style.text-align]="headerCell.alignment"
             [style.grid-row-start]="r + 1"
             [style.grid-column-start]="j + 1">
          @if (allowElementEditing) {
            <div class="header-cell-editor">
              <input class="header-text-input"
                     [attr.aria-label]="'tableHeaderText' | translate"
                     [value]="headerCell.text"
                     (input)="updateHeaderCellText(r, j, $any($event.target).value)">
              <div class="header-editor-actions">
                <mat-button-toggle-group class="header-alignment-toggle"
                                         [value]="headerCell.alignment"
                                         (change)="updateHeaderCellAlignment(r, j, $event.value)">
                  <mat-button-toggle value="left" [matTooltip]="'tableHeaderAlignLeft' | translate">
                    <mat-icon class="toggle-icon">format_align_left</mat-icon>
                  </mat-button-toggle>
                  <mat-button-toggle value="center" [matTooltip]="'tableHeaderAlignCenter' | translate">
                    <mat-icon class="toggle-icon">format_align_center</mat-icon>
                  </mat-button-toggle>
                  <mat-button-toggle value="right" [matTooltip]="'tableHeaderAlignRight' | translate">
                    <mat-icon class="toggle-icon">format_align_right</mat-icon>
                  </mat-button-toggle>
                </mat-button-toggle-group>
                @if (j === 0) {
                  <div class="header-row-controls">
                    @if (r === elementModel.headerRows.length - 1) {
                      <button mat-icon-button color="primary" class="row-control-button"
                              [matTooltip]="'tableHeaderAddRow' | translate"
                              (click)="addHeaderRow()">
                        <mat-icon class="button-icon">add</mat-icon>
                      </button>
                    }
                    @if (elementModel.headerRows.length > 1) {
                      <button mat-icon-button color="primary" class="row-control-button"
                              [matTooltip]="'tableHeaderRemoveRow' | translate"
                              (click)="removeHeaderRow(r)">
                        <mat-icon class="button-icon">remove</mat-icon>
                      </button>
                    }
                  </div>
                }
              </div>
            </div>
          } @else {
            {{ headerCell.text }}
          }
        </div>
      }
    }
  }
  <ng-container *ngFor="let row of elementGrid; let i = index;">
    <div *ngFor="let _ of row; let j = index;"
         class="cell-container"
         [style.border-style]="elementModel.styling.borderStyle"
         [style.border-top-style]="(elementModel.headerEnabled && elementModel.headerRows.length > 0) ||
                                   (!elementModel.tableEdgesEnabled && i === 0) || (i > 0) ?
                                   'none' : elementModel.styling.borderStyle"
         [style.border-bottom-style]="(!elementModel.tableEdgesEnabled && i === elementGrid.length - 1) ?
                                      'none' : elementModel.styling.borderStyle"
         [style.border-left-style]="(!elementModel.tableEdgesEnabled && j === 0) || (j > 0) ?
                                   'none' : elementModel.styling.borderStyle"
         [style.border-right-style]="(!elementModel.tableEdgesEnabled && j === row.length - 1) ?
                                     'none' : elementModel.styling.borderStyle"
         [style.border-width.px]="elementModel.styling.borderWidth"
         [style.border-color]="elementModel.styling.borderColor"
         [style.border-radius.px]="elementModel.styling.borderRadius"
         [style.grid-row-start]="i + 1 + (elementModel.headerEnabled ? elementModel.headerRows.length : 0)"
         [style.grid-column-start]="j + 1">
      <ng-container *ngIf="elementGrid[i][j] === undefined && allowElementEditing">
        <button mat-mini-fab color="primary" class="button"
                [matMenuTriggerFor]="menu">
          <mat-icon>add</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="addElement('text', i, j)">Text</button>
          <button mat-menu-item (click)="addElement('text-field', i, j)">Eingabefeld</button>
          <button mat-menu-item (click)="addElement('text-area', i, j)">Eingabebereich</button>
          <button mat-menu-item (click)="addElement('checkbox', i, j)">Kontrollkästchen</button>
          <button mat-menu-item (click)="addElement('drop-list', i, j)">Ablegeliste</button>
          <button mat-menu-item (click)="addElement('image', i, j)">Bild</button>
          <button mat-menu-item (click)="addElement('audio', i, j)">Audio</button>
        </mat-menu>
      </ng-container>
      <div *ngIf="elementGrid[i][j] !== undefined" class="element-container">
        <div *ngIf="allowElementEditing" class="element-title">
          {{$any($any(elementGrid[i][j]).constructor).title}}
          <ng-container *ngIf="$any(elementGrid[i][j]).alias !== 'alias-placeholder'">
            - {{$any(elementGrid[i][j]).alias}}
          </ng-container>
        </div>
        <aspect-table-child-overlay [element]="$any(elementGrid[i][j])"
                                    [parentForm]="parentForm"
                                    [savedTexts]="savedTexts"
                                    [savedPlaybackTimes]="savedPlaybackTimes"
                                    [mediaStatusChanged]="mediaStatusChanged"
                                    [actualPlayingId]="actualPlayingId"
                                    [editorMode]="editorMode"
                                    (elementSelected)="childElementSelected.emit($event)">
        </aspect-table-child-overlay>
        <button *ngIf="allowElementEditing" class="remove-button" mat-mini-fab color="primary"
                (click)="removeElement(i, j)">
          <mat-icon>remove</mat-icon>
        </button>
      </div>
    </div>
  </ng-container>
</div>
