<div class="tetfolio-container">
  @if (iframeContent) {
    <iframe #tetfolioIframe
            [srcdoc]="iframeContent"
            [style.height.px]="iframeHeight"
            [title]="'tetfolioIframeTitle' | translate">
    </iframe>
    @if ((isLoaded | async) === false) {
      <div class="tetfolio-restore-overlay">
        <aspect-spinner [isLoaded]="isLoaded" (timeOut)="onRestoreTimeout()"></aspect-spinner>
      </div>
    }
  } @else {
    <div class="tetfolio-placeholder">
      {{ 'tetfolioNoContent' | translate }}
    </div>
  }
</div>
