<span *ngIf="clozeContext" [style.width.px]="0">&nbsp;</span>
<!-- TODO testen, ob touchstart keine Probleme macht -->
<div class="drop-list" id="{{elementModel.id}}" #droplist [attr.data-list-alias]="elementModel.alias"
     [class.cloze-context]="clozeContext"
     [class.hovered]="!elementModel.isSortList && isHovered"
     [class.isHighlighted]="isHighlighted"
     [class.column]="elementModel.orientation === 'vertical'"
     [class.row]="elementModel.orientation === 'horizontal'"
     [class.float]="elementModel.orientation === 'flex'"
     [style.outline-color]="elementModel.highlightReceivingDropListColor"
     [style.border-color]="elementModel.highlightReceivingDropListColor"
     [style.color]="elementModel.styling.fontColor"
     [style.font-size.px]="elementModel.styling.fontSize"
     [style.font-weight]="elementModel.styling.bold ? 'bold' : ''"
     [style.font-style]="elementModel.styling.italic ? 'italic' : ''"
     [style.text-decoration]="elementModel.styling.underline ? 'underline' : ''"
     [style.background-color]="elementModel.styling.backgroundColor"
     [class.read-only]="elementModel.readOnly"
     (touchstart)="elementFormControl.markAsTouched()"
     (mouseenter)="dragOpService.isDragActive && dragEnter()"
     (mouseleave)="dragOpService.isDragActive && dragLeave()"
     (click)="elementFormControl.markAsTouched()">

  <ng-container *ngIf="!elementModel.permanentPlaceholders">
    <div *ngFor="let item of viewModel; let i = index;" class="list-item-wrapper">
      <ng-container *ngTemplateOutlet="items; context: { $implicit: item, index: i }"></ng-container>
    </div>
  </ng-container>
  <ng-container *ngIf="elementModel.permanentPlaceholders">
    <div *ngFor="let item of elementModel.value; let i = index;" class="list-item-wrapper">
      <ng-container *ngTemplateOutlet="items; context: { $implicit: item, index: i }"></ng-container>
    </div>
  </ng-container>

  <ng-template #items let-item let-i="index">
    <div *ngIf="!clozeContext && elementModel.showNumbering" class="numbering">
      {{ i + (elementModel.startNumberingAtZero ? 0 : 1) }}.
    </div>
    <div *ngIf="!elementModel.permanentPlaceholders || elementFormControl.value.includes(item)"
         class="drop-list-item" [class.image-item]="item.imgSrc"
         #listItem
         aspect-draggable data-aspect-draggable="true"
         (dragStart)="dragStart($event, item, elementFormControl.value.indexOf(item), this)"
         (dragMove)="dragMove($event)"
         (dragEnd)="dragEnd()"
         (mouseenter)="dragOpService.isDragActive && listItemDragEnter(i)"
         [style.color]="elementModel.styling.fontColor"
         [style.font-size.px]="elementModel.styling.fontSize"
         [style.font-weight]="elementModel.styling.bold ? 'bold' : ''"
         [style.font-style]="elementModel.styling.italic ? 'italic' : ''"
         [style.text-decoration]="elementModel.styling.underline ? 'underline' : ''"
         [style.background-color]="elementModel.styling.itemBackgroundColor"
         [class.read-only]="elementModel.readOnly">
      <aspect-text-image-panel [label]="item"></aspect-text-image-panel>
    </div>

    <div *ngIf="elementModel.permanentPlaceholders && !elementFormControl.value.includes(item)"
         class="drop-list-item cc-placeholder" [class.image-item]="item.imgSrc" #listItem
         [style.color]="elementModel.styling.fontColor"
         [style.font-size.px]="elementModel.styling.fontSize"
         [style.font-weight]="elementModel.styling.bold ? 'bold' : ''"
         [style.font-style]="elementModel.styling.italic ? 'italic' : ''"
         [style.text-decoration]="elementModel.styling.underline ? 'underline' : ''"
         [class.read-only]="true">
      <aspect-text-image-panel [label]="item" [hideContent]="!elementModel.permanentPlaceholdersCC"></aspect-text-image-panel>
    </div>
  </ng-template>

  <mat-error *ngIf="elementFormControl.errors && elementFormControl.touched"
             class="error-message">
    {{elementFormControl.errors | errorTransform: elementModel}}
  </mat-error>
</div>
