<mat-form-field [style.width.%]="40">
  <mat-label>{{label}}</mat-label>
  <input matInput type="number" [disabled]="disabled"
         [(ngModel)]="value"
         (change)="emitMeasurement()">
</mat-form-field>
<mat-form-field [style.width.%]="60">
  <mat-label>Einheit</mat-label>
  <mat-select [disabled]="disabled"
              [(ngModel)]="unit"
              (selectionChange)="emitMeasurement()">
    <mat-option *ngIf="allowedUnits.includes('fr')"
                value="fr">{{'section-menu.fraction' | translate }}</mat-option>
    <mat-option *ngIf="allowedUnits.includes('px')"
                value="px">{{'section-menu.pixel' | translate }}</mat-option>
    <mat-option *ngIf="allowedUnits.includes('%')"
                value="%">{{'section-menu.percent' | translate }}</mat-option>
  </mat-select>
</mat-form-field>
