.control-bar {
  background-color: #f1f1f1;
  display: flex;
  flex-direction: row;
  padding-right: 10px;
  overflow: hidden;
  margin-top: -4px
}

.control-button {
  min-width: 20px;
  padding: 0 5px;
}

.control-button:hover {
  color: #006064;
}

.time {
  white-space: nowrap;
  padding: 15px 5px 0 0;
}

.active-control{
 color: #006064;
}

.duration{
  flex-grow: 4;
  min-width: 20%;
}

.volume{
  min-width: 10%;
}

::ng-deep .mat-accent .mat-slider-thumb {
  background-color: #006064;
}
::ng-deep .mat-accent .mat-slider-thumb-label {
  background-color: #006064;
}
::ng-deep .mat-accent .mat-slider-track-fill {
  background-color: #006064;
}
