<div class="control-bar">
  <button *ngIf="!playing" mat-button
          class="control-button"
          (click)="play()">
    <mat-icon>play_arrow</mat-icon>
  </button>
  <button *ngIf="playing" mat-button
          class="control-button"
          (click)="pause()">
    <mat-icon>pause</mat-icon>
  </button>
  <mat-slider class="duration"
              min="0"
              [max]="player.duration"
              step="1"
              (input)="onTimeChange($event)"
              [value]="player.currentTime">
  </mat-slider>
  <div class="time mat-typography">{{currentTime | playerTimeFormat}} / {{duration | playerTimeFormat }}</div>
  <button mat-button
          class="control-button"
          (click)="toggleVolume()">
    <mat-icon *ngIf="!player.muted">volume_up</mat-icon>
    <mat-icon *ngIf="player.muted">volume_off</mat-icon>
  </button>
  <mat-slider class="volume"
              min="0"
              [max]="1"
              step="0.01"
              (input)="onVolumeChange($event)"
              [value]="player.volume">
  </mat-slider>
</div>

