@if (combinedProperties.firstColumnSizeRatio !== undefined) {
  <mat-form-field class="wide-form-field" matTooltip="{{'propertiesPanel.firstColumnSizeRatioExplanation' | translate }}"
                  appearance="fill">
    <mat-label>{{'propertiesPanel.firstColumnSizeRatio' | translate }}</mat-label>
    <input matInput type="number" min="1" required aspectNumberField
           [ngModel]="combinedProperties.firstColumnSizeRatio"
           (numberChange)="updateModel.emit(
                  { property: 'firstColumnSizeRatio', value: $event.value, isInputValid: $event.isInputValid })">
    <aspect-merged-marker matSuffix [value]="combinedProperties.firstColumnSizeRatio"></aspect-merged-marker>
  </mat-form-field>
}
