@if (combinedProperties.firstColumnSizeRatio != null) {
  <mat-form-field class="wide-form-field" matTooltip="{{'propertiesPanel.firstColumnSizeRatioExplanation' | translate }}"
                  appearance="fill">
    <mat-label>{{'propertiesPanel.firstColumnSizeRatio' | translate }}</mat-label>
    <input #firstColumnSizeRatioField matInput type="number" [value]="combinedProperties.firstColumnSizeRatio"
           (input)="updateModel.emit({ property: 'firstColumnSizeRatio', value: firstColumnSizeRatioField.value || 0 })">
  </mat-form-field>
}
