<form [formGroup]="form">
  <aspect-checkbox
      *ngIf="elementModel.type === 'checkbox'"
      [parentForm]="form"
      [elementModel]="elementModel | cast: CheckboxElement">
  </aspect-checkbox>
  <aspect-spell-correct
      *ngIf="elementModel.type === 'spell-correct'"
      [parentForm]="form"
      [elementModel]="elementModel | cast: SpellCorrectElement">
  </aspect-spell-correct>
  <aspect-slider
      *ngIf="elementModel.type === 'slider'"
      [parentForm]="form"
      [elementModel]="elementModel | cast: SliderElement">
  </aspect-slider>
  <aspect-drop-list
      *ngIf="elementModel.type === 'drop-list'"
      [parentForm]="form"
      [elementModel]="elementModel | cast: DropListElement">
  </aspect-drop-list>
</form>
