<h1 mat-dialog-title>{{'section.manageVisibilityRules' | translate}}</h1>
<div mat-dialog-content class="fx-column-start-stretch fx-gap-20">
  <div *ngIf="controlIds.length && visibilityRules.length"
       class="fx-column-start-start">
    <label>{{'section.logicalConnectiveOfRules' | translate}}</label>
    <mat-radio-group [(ngModel)]="logicalConnectiveOfRules">
      <mat-radio-button value="disjunction">{{'section.rulesDisjunction' | translate}}</mat-radio-button>
      <mat-radio-button value="conjunction">{{'section.rulesConjunction' | translate}}</mat-radio-button>
    </mat-radio-group>
    <mat-checkbox
      [(ngModel)]="enableReHide">
      {{'section.enableReHide' | translate}}
    </mat-checkbox>
    <mat-checkbox
      [(ngModel)]="animatedVisibility">
      {{'section.animatedVisibility' | translate}}
    </mat-checkbox>
    <mat-form-field class="visibility-delay">
      <mat-label>{{'section.visibilityDelay' | translate}}</mat-label>
      <input matInput
             type="number"
             step="1000"
             [disabled]="enableReHide"
             [placeholder]="'section.visibilityDelay' | translate"
             [(ngModel)]="visibilityDelay"
             (change)="visibilityDelay = visibilityDelay || 0">
    </mat-form-field>
  </div>

  <p *ngIf="!controlIds.length">{{'section.addElementsOrStateVariables' | translate}}</p>

  <div *ngFor="let rule of visibilityRules; let i = index"
       class="fx-row-start-stretch fx-gap-10">
    <aspect-visibility-rule-editor [controlIds]="controlIds"
                                   [(visibilityRule)]="visibilityRules[i]">
    </aspect-visibility-rule-editor>
    <button mat-icon-button
            matSuffix
            color="warn"
            (click)="deleteVisibilityRule(i)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <button *ngIf="controlIds.length"
          mat-button
          class="add-button"
          (click)="addVisibilityRule()">
    <mat-icon class="add-icon">add</mat-icon>
  </button>
</div>
<div mat-dialog-actions>
  <button *ngIf="controlIds.length"
          mat-button
          [mat-dialog-close]="{
            visibilityRules, logicalConnectiveOfRules, visibilityDelay, animatedVisibility, enableReHide
          }">
    {{'save' | translate}}
  </button>
  <button mat-button
          mat-dialog-close>
    {{'cancel' | translate}}
  </button>
</div>
