<h1 mat-dialog-title>{{'section.manageVisibilityRules' | translate}}</h1>
<div mat-dialog-content class="fx-colum-start-stretch fx-gap-20">
  <ng-container *ngIf="controlIds.length">
    <div class="fx-row-end-stretch">
      <button mat-icon-button
              matSuffix
              color="primary"
              (click)="addVisibilityRule()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div *ngIf="visibilityRules.length"
         class="fx-row-start-stretch fx-gap-10">
      <mat-checkbox
        class="fixed-size-field"
        [(ngModel)]="enableReHide">
        {{'section.enableReHide' | translate}}
      </mat-checkbox>
      <mat-form-field class="fixed-size-field">
        <mat-label>{{'section.visibilityDelay' | translate}}</mat-label>
        <input matInput
               type="number"
               step="1000"
               [disabled]="enableReHide"
               [placeholder]="'section.visibilityDelay' | translate"
               [(ngModel)]="visibilityDelay">
      </mat-form-field>
      <mat-checkbox
        [disabled]="enableReHide"
        [(ngModel)]="animatedVisibility">
        {{'section.animatedVisibility' | translate}}
      </mat-checkbox>
    </div>
  </ng-container>

  <p *ngIf="!controlIds.length">{{'section.addElementsOrStateVariables' | translate}}</p>

  <div *ngFor="let rule of visibilityRules; let i = index"
       class="fx-row-start-stretch fx-gap-10">
    <aspect-visibility-rule-editor [controlIds]="controlIds"
                                   [(visibilityRule)]="visibilityRules[i]">
    </aspect-visibility-rule-editor>
    <button mat-icon-button
            matSuffix
            color="warn"
            (click)="deleteVisibilityRule(i)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button
          mat-dialog-close>
    {{'cancel' | translate}}
  </button>
  <button *ngIf="controlIds.length"
          mat-button
          [mat-dialog-close]="{visibilityRules, visibilityDelay, animatedVisibility:animatedVisibility}">
    {{'save' | translate}}
  </button>
</div>
