<div class="fx-row-start-stretch fx-gap-10">
  <mat-form-field>
    <mat-label>{{'section.controlId' | translate}}</mat-label>
    <mat-select [(ngModel)]="visibilityRule.id"
                (ngModelChange)="visibilityRuleChange.emit(visibilityRule)">
      <mat-option *ngFor="let id of controlIds"
                  [value]="id">
        {{id}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{'section.operator' | translate}}</mat-label>
    <mat-select [(ngModel)]="visibilityRule.operator"
                (ngModelChange)="visibilityRuleChange.emit(visibilityRule)">
      <mat-option *ngFor="let operator of VisibilityRuleOperators"
                  [value]="operator">
        {{operator.length > 2 ? ('visibilityRule.' + operator | translate) : operator}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{'section.value' | translate}}</mat-label>
    <input matInput
           [placeholder]="'section.value' | translate"
           [(ngModel)]="visibilityRule.value"
           (ngModelChange)="visibilityRuleChange.emit(visibilityRule)">
  </mat-form-field>
</div>
