.mat-mdc-dialog-content {display: flex; flex-direction: column;}
.mat-mdc-dialog-content > *:not(h3, mat-divider) {margin-left: 30px;}
h3:not(:first-child) {margin-top: 40px;}
mat-form-field {align-self: flex-start;}
.sub-questions {width: 70%;}
.row {display: flex; flex-direction: row; gap: 25px;}
