<mat-tab-group mat-stretch-tabs>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">highlight_alt</mat-icon>
    </ng-template>
    <div fxLayout="column">
      <button mat-raised-button (click)="addUIElement('text')"
              draggable="true" (dragstart)="$event.dataTransfer?.setData('elementType','text');">
        <mat-icon>text_snippet</mat-icon>
        Text
      </button>
      <button mat-raised-button (click)="addUIElement('button')"
              draggable="true" (dragstart)="$event.dataTransfer?.setData('elementType','button')">
        <mat-icon>smart_button</mat-icon>
        Button
      </button>
      <button mat-raised-button (click)="addUIElement('text-field')"
              draggable="true" (dragstart)="$event.dataTransfer?.setData('elementType','text-field')">
        <mat-icon>text_fields</mat-icon>
        Eingabefeld
      </button>
      <button mat-raised-button (click)="addUIElement('text-area')"
              draggable="true" (dragstart)="$event.dataTransfer?.setData('elementType','text-area')">
        <mat-icon>notes</mat-icon>
        Eingabefeld (mehrzeilig)
      </button>
      <button mat-raised-button (click)="addUIElement('checkbox')"
              draggable="true" (dragstart)="$event.dataTransfer?.setData('elementType','checkbox')">
        <mat-icon>check_box</mat-icon>
        Checkbox
      </button>
      <button mat-raised-button (click)="addUIElement('dropdown')"
              draggable="true" (dragstart)="$event.dataTransfer?.setData('elementType','dropdown')">
        <mat-icon>menu_open</mat-icon>
        Dropdown
      </button>
      <button mat-raised-button (click)="addUIElement('radio')"
              draggable="true" (dragstart)="$event.dataTransfer?.setData('elementType','radio')">
        <mat-icon>radio_button_checked</mat-icon>
        Optionsfeld
      </button>
      <button mat-raised-button (click)="addUIElement('image')"
              draggable="true" (dragstart)="$event.dataTransfer?.setData('elementType','image')">
        <mat-icon>image</mat-icon>
        Bild
      </button>
      <button mat-raised-button (click)="addUIElement('audio')"
              draggable="true" (dragstart)="$event.dataTransfer?.setData('elementType','audio')">
        <mat-icon>volume_up</mat-icon>
        Audio
      </button>
      <button mat-raised-button (click)="addUIElement('video')"
              draggable="true" (dragstart)="$event.dataTransfer?.setData('elementType','video')">
        <mat-icon>ondemand_video</mat-icon>
        Video
      </button>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">widgets</mat-icon>
    </ng-template>
    <button mat-raised-button
            (click)="addSection()">
      leeren Abschnitt hinzu
      <mat-icon>add</mat-icon>
    </button>
    <mat-accordion multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Korrekturaufgaben
          </mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-button>mit Bild</button>
        <button mat-button (click)="addUIElement('correction')">ohne Bild</button>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Sortieraufgaben
          </mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-button>mit Auswahlfeld</button>
        <button mat-button>mit Textfeld</button>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-tab>
</mat-tab-group>
