<h3>Instruktionsaudio</h3>
<aspect-editor-wizard-audio [src]="options.src1" [(maxRuns)]="options.maxRuns1"
                            (changeMediaSrc)="changeMediaSrc('src1')">
</aspect-editor-wizard-audio>

<h3>Stimulusaudio</h3>
<aspect-editor-wizard-audio [src]="options.src2" [(maxRuns)]="options.maxRuns2"
                            (changeMediaSrc)="changeMediaSrc('src2')">
</aspect-editor-wizard-audio>

<h3>Quelle</h3>
<aspect-rich-text-editor class="text2" [(content)]="options.text" [showReducedControls]="true"
                         [placeholder]="'Hier steht die Quelle.'">
</aspect-rich-text-editor>

<h3>Sprache</h3>
<mat-radio-group [(ngModel)]="options.lang"
                 [matTooltip]="'Mit dieser Einstellung werden kurze Texte oberhalb des Audios generiert.'">
  <mat-radio-button [value]="'german'">Deutsch</mat-radio-button>
  <mat-radio-button [value]="'english'">Englisch</mat-radio-button>
  <mat-radio-button [value]="'french'">Französisch</mat-radio-button>
</mat-radio-group>

<h3>Situierung, Frage, Operator, Hinweise, o.Ä.</h3>
<aspect-rich-text-editor [(content)]="options.text2" [showReducedControls]="true">
</aspect-rich-text-editor>
