<button mat-raised-button [style.align-self]="'center'" [style.margin-top.px]="5" [style.margin-bottom.px]="15"
        (click)="elementService.showDefaultEditDialog()">
  {{ 'propertiesPanel.editTableElements' | translate }}
</button>
<fieldset>
  <legend>{{'section-menu.rows' | translate }}</legend>
  <mat-form-field appearance="outline">
    <mat-label>{{ 'section-menu.rowCount' | translate }}</mat-label>
    <input matInput type="number" [min]="maxRowIndex"
           [value]="(combinedProperties.gridRowSizes ?? []).length"
           (click)="$any($event).stopPropagation()"
           (change)="modifySizeArray('gridRowSizes', $any($event).target.value || 0, $event)">
  </mat-form-field>
  <ng-container *ngFor="let size of combinedProperties.gridRowSizes; let i = index">
    <aspect-size-input-panel [label]="('section-menu.height' | translate) + ' ' + (i + 1)"
                             [value]="size.value"
                             [unit]="size.unit"
                             [allowedUnits]="['px', 'fr']"
                             (valueUpdated)="changeGridSize('gridRowSizes', i, $event)">
    </aspect-size-input-panel>
  </ng-container>
</fieldset>
<fieldset>
  <legend>{{'section-menu.columns' | translate }}</legend>
  <mat-form-field appearance="outline">
    <mat-label>{{ 'section-menu.columnCount' | translate }}</mat-label>
    <input matInput type="number" [min]="maxColIndex"
           [value]="(combinedProperties.gridColumnSizes ?? []).length"
           (click)="$any($event).stopPropagation()"
           (change)="modifySizeArray('gridColumnSizes', $any($event).target.value || 0, $event)">
  </mat-form-field>
  <ng-container *ngFor="let size of combinedProperties.gridColumnSizes; let i = index">
    <aspect-size-input-panel [label]="('section-menu.width' | translate) + ' ' + (i + 1)"
                             [value]="size.value"
                             [unit]="size.unit"
                             [allowedUnits]="['px', 'fr']"
                             (valueUpdated)="changeGridSize('gridColumnSizes', i, $event)">
    </aspect-size-input-panel>
  </ng-container>
</fieldset>
<aspect-merged-checkbox [value]="combinedProperties.tableEdgesEnabled"
                        (valueChange)="updateModel.emit({ property: 'tableEdgesEnabled', value: $event })">
  {{ 'propertiesPanel.tableEdgesEnabled' | translate }}
</aspect-merged-checkbox>
<aspect-merged-checkbox [value]="combinedProperties.headerEnabled"
                        (valueChange)="updateModel.emit({ property: 'headerEnabled', value: $event })">
  {{'propertiesPanel.tableHeaderEnabled' | translate }}
</aspect-merged-checkbox>
