<ng-container *ngFor="let row of rowCountArray; let x = index;">
  <ng-container *ngFor="let column of columnCountArray; let y = index;">
    <div class="grid-placeholder"
         [style.grid-row-start]="x + 1"
         [style.grid-row-end]="x + 1"
         [style.grid-column-start]="y + 1"
         [style.grid-column-end]="y + 1"
         cdkDropList [cdkDropListData]="{ pageIndex: pageIndex, sectionIndex: sectionIndex,
                                          gridCoordinates: [x + 1, y + 1] }"
         (cdkDropListDropped)="drop($event)"
         id="list-{{sectionIndex}}-{{x+1}}-{{y+1}}"
         (dragover)="$event.preventDefault()"
         (drop)="newElementDropped( $event, x + 1, y + 1)">
      {{x + 1}} / {{y + 1}}
    </div>
  </ng-container>
</ng-container>

<ng-content></ng-content>
