{{ 'invalidReferencesRemoved' | translate }}
<mat-list>
  <mat-list-item *ngFor="let element of data">
    <mat-icon *ngIf="element.type == 'drop-list'" matListItemIcon>
      drag_indicator
    </mat-icon>
    <div *ngIf="element.type == 'drop-list'" matListItemTitle>
      {{ 'toolbox.drop-list' | translate }}: {{element.id}}
    </div>
    <mat-icon *ngIf="element.type == 'button'" matListItemIcon>
      smart_button
    </mat-icon>
    <div *ngIf="element.type == 'button'" matListItemTitle>
      {{ 'toolbox.button' | translate }}: {{element.id}}
    </div>
    <mat-icon *ngIf="element.type == 'audio'" matListItemIcon>
      volume_up
    </mat-icon>
    <div *ngIf="element.type == 'audio'" matListItemTitle>
      {{ 'toolbox.audio' | translate }}: {{element.id}}
    </div>
  </mat-list-item>
</mat-list>
<span matSnackBarActions>
  <button mat-stroked-button matSnackBarAction (click)="snackBarRef.dismiss()">
    {{ 'close' | translate }}
  </button>
</span>
