@if (data.repaired.length > 0) {
  {{ 'invalidReferencesRemoved' | translate }}
  <aspect-element-list [elements]="data.repaired"></aspect-element-list>
}
@if (data.toCheck.length > 0) {
  {{ 'invalidVisibilityRulesToCheck' | translate }}
  <mat-list>
    @for (location of data.toCheck; track location.section) {
      <mat-list-item class="section-to-check">
        <mat-icon matListItemIcon>visibility</mat-icon>
        <div matListItemTitle>
          {{ 'referenceList.sectionLocation' | translate:
             { page: location.pageIndex + 1, section: location.sectionIndex + 1 } }}
        </div>
      </mat-list-item>
    }
  </mat-list>
}
<span matSnackBarActions>
  <button mat-stroked-button matSnackBarAction (click)="snackBarRef.dismiss()">
    {{ 'close' | translate }}
  </button>
</span>
