<!--dropdown, radio-button-group-->
<aspect-option-list-panel
  *ngIf="combinedProperties.options !== undefined"
  [showImageButton]="combinedProperties.type !== 'dropdown' && combinedProperties.type !== 'radio'"
  [title]="'propertiesPanel.options'"
  [textFieldLabel]="'Neue Option'"
  [itemList]="$any(combinedProperties.options)"
  (textItemAdded)="addOption('options', $event)"
  (imageItemAdded)="addImageOption()"
  (itemRemoved)="removeOption('options', $event)"
  (itemReordered)="moveOption('options', $event)"
  (itemEdited)="editOption('options', $event)">
</aspect-option-list-panel>

<!--likert-->
<aspect-option-list-panel
  *ngIf="combinedProperties.rows !== undefined"
  [showImageButton]="combinedProperties.type !== 'dropdown' && combinedProperties.type !== 'radio'"
  [itemList]="$any(combinedProperties).rows | LikertRowLabel"
  [title]="'rows'"
  [textFieldLabel]="'Neue Zeile'"
  (itemReordered)="moveLikertRow($event)"
  (textItemAdded)="addLikertRow($event)"
  (imageItemAdded)="addLikertRowImage()"
  (itemRemoved)="removeLikertRow($event)"
  (itemEdited)="editLikertRow($event)">
</aspect-option-list-panel>
