<div class="element-container"
     cdkOverlayOrigin #overlayOrigin="cdkOverlayOrigin">
  <ng-template #elementComponentContainer></ng-template>
</div>

<ng-template *ngIf="keyboardLayout !== 'none' &&
    (elementModel.type === 'text-area' || elementModel.type === 'text-field')"
             cdkConnectedOverlay
             [cdkConnectedOverlayOrigin]="overlayOrigin"
             [cdkConnectedOverlayOpen]="isKeyboardOpen">
  <app-keyboard cdkDrag
                [inputComponent]="focussedInputElement"
                [positionOffset]="elementModel.type === 'text-field' ? 20 : 0"
                [preset]="keyboardLayout">
  </app-keyboard>
</ng-template>
