<div class="element-container"
     cdkOverlayOrigin #overlayOrigin="cdkOverlayOrigin">
  <ng-template #elementComponentContainer></ng-template>
</div>

<app-floating-keyboard
    *ngIf="keyboardService.preset !== 'none' &&
    (elementModel.type === 'text-area' || elementModel.type === 'text-field')"
    [isKeyboardOpen]="isKeyboardOpen && keyboardService.position === 'floating'"
    [overlayOrigin]="overlayOrigin"
    [inputElement]="keyboardService.inputElement"
    [position]="keyboardService.position"
    [preset]="keyboardService.preset"
    [positionOffset]="elementModel.type === 'text-field' ? 20 : 0"
    (deleteCharacter)="keyboardService.deleterCharacters()"
    (enterKey)="keyboardService.enterKey($event)">
</app-floating-keyboard>

<app-floating-marking-bar
    *ngIf="elementModel.type === 'text'"
    [elementComponent]="elementComponent"
    [overlayOrigin]="overlayOrigin"
    [isMarkingBarOpen]="isMarkingBarOpen"
    [position]="markingBarPosition"
    (applySelection)="applySelectiontoText($event.mode, $event.color)">
</app-floating-marking-bar>
