<h3>Instruktion</h3>
<aspect-rich-text-editor class="large-text" [(content)]="options.instruction"></aspect-rich-text-editor>

<mat-radio-group [(ngModel)]="options.lang">
  <mat-radio-button [value]="'de'">Deutsch</mat-radio-button>
  <mat-radio-button [value]="'en'">Englisch</mat-radio-button>
  <mat-radio-button [value]="'fr'">Französisch</mat-radio-button>
</mat-radio-group>

<mat-form-field><mat-label>Absender</mat-label><input matInput [(ngModel)]="options.from"></mat-form-field>
<mat-form-field><mat-label>Empfänger</mat-label><input matInput [(ngModel)]="options.to"></mat-form-field>
<mat-form-field><mat-label>Betreff</mat-label><input matInput [(ngModel)]="options.subject"></mat-form-field>

<aspect-rich-text-editor class="input1" [(content)]="options.body"></aspect-rich-text-editor>
<mat-checkbox [(ngModel)]="options.allowMarking">Markieren zur Texterschließung erlauben</mat-checkbox>

<aspect-rich-text-editor class="small-text" [(content)]="options.subText" [showReducedControls]="true"
                         [placeholder]="'Hier steht die Quelle.'">
</aspect-rich-text-editor>
