.mat-mdc-dialog-content {display: flex; flex-direction: column;}
.mat-mdc-dialog-content > *:not(h3, mat-divider) {margin-left: 30px;}
h3 {text-decoration: underline;}
.large-text {min-height: 400px;}
.small-text {min-height: 200px;}
