<h3>{{ 'sectionTemplates.instruction' | translate }}</h3>
<aspect-rich-text-editor class="large-text" [(content)]="options.instruction"></aspect-rich-text-editor>

<mat-radio-group [(ngModel)]="options.lang">
  <mat-radio-button [value]="'de'">{{ 'sectionTemplates.german' | translate }}</mat-radio-button>
  <mat-radio-button [value]="'en'">{{ 'sectionTemplates.english' | translate }}</mat-radio-button>
  <mat-radio-button [value]="'fr'">{{ 'sectionTemplates.french' | translate }}</mat-radio-button>
</mat-radio-group>

<mat-form-field>
  <mat-label>{{ 'sectionTemplates.sender' | translate }}</mat-label>
  <input matInput [(ngModel)]="options.from">
</mat-form-field>
<mat-form-field>
  <mat-label>{{ 'sectionTemplates.recipient' | translate }}</mat-label>
  <input matInput [(ngModel)]="options.to">
</mat-form-field>
<mat-form-field>
  <mat-label>{{ 'sectionTemplates.subject' | translate }}</mat-label>
  <input matInput [(ngModel)]="options.subject">
</mat-form-field>

<aspect-rich-text-editor class="input1" [(content)]="options.body"></aspect-rich-text-editor>
<mat-checkbox [(ngModel)]="options.allowMarking">{{ 'sectionTemplates.allowMarking' | translate }}</mat-checkbox>

<aspect-rich-text-editor class="small-text" [(content)]="options.subText" [showReducedControls]="true"
                         [placeholder]="'sectionTemplates.sourcePlaceholder' | translate">
</aspect-rich-text-editor>
