<form class="inline-container"
      [formGroup]="form">
  <aspect-text-area
      *ngIf="elementModel.type === 'text-area'"
      #elementComponent
      [parentForm]="form"
      [elementModel]="elementModel | cast: TextAreaElement"
      (onFocusChanged)="onFocusChanged($event, elementComponent)">
  </aspect-text-area>
  <aspect-text-field
      *ngIf="elementModel.type === 'text-field'"
      #elementComponent
      [parentForm]="form"
      [elementModel]="elementModel | cast: TextFieldElement"
      (onFocusChanged)="onFocusChanged($event, elementComponent)">
  </aspect-text-field>
</form>

<aspect-floating-keyboard
    *ngIf="keyboardService.preset !== 'none'"
    [isKeyboardOpen]="isKeyboardOpen && keyboardService.position === 'floating'"
    [overlayOrigin]="elementComponent"
    [inputElement]="keyboardService.inputElement"
    [position]="keyboardService.position"
    [preset]="keyboardService.preset"
    [positionOffset]="elementModel.type === 'text-field' ? 20 : 0"
    (deleteCharacter)="keyboardService.deleterCharacters()"
    (enterKey)="keyboardService.enterKey($event)">
</aspect-floating-keyboard>

