<form class="inline-container"
      [formGroup]="form">
  <aspect-text-area
      *ngIf="elementModel.type === 'text-area'"
      #elementComponent
      [parentForm]="form"
      [elementModel]="elementModel | cast: TextAreaElement"
      (onFocusChanged)="this.isKeyboardOpen = keyboardService.toggleKeyboard($event, elementComponent)">
  </aspect-text-area>
  <aspect-text-field
      *ngIf="elementModel.type === 'text-field'"
      #elementComponent
      [parentForm]="form"
      [elementModel]="elementModel | cast: TextFieldElement"
      (onFocusChanged)="this.isKeyboardOpen = keyboardService.toggleKeyboard($event, elementComponent)">
  </aspect-text-field>
</form>

<aspect-floating-keyboard
    [isKeyboardOpen]="isKeyboardOpen && keyboardService.position === 'floating'">
</aspect-floating-keyboard>

