<div class="layout-container">
  <div class="unit-layout-container">
    <div class="pages-layout-container">
      <ng-content></ng-content>
    </div>
      <aspect-keypad
        *ngIf="keypadService.isOpen && keypadService.position === 'right'"
        @keypadSlideInOut
        [@.disabled] = "isKeypadAnimationDisabled"
        [inputElement]="keypadService.inputElement"
        [position]="keypadService.position"
        [preset]="keypadService.preset"
        [customKeys]="keypadService.elementComponent.elementModel.inputAssistanceCustomKeys | inputAssistanceCustomKeys"
        [restrictToAllowedKeys]="!!keypadService.elementComponent.elementModel.restrictedToInputAssistanceChars"
        [hasArrowKeys]="!!keypadService.elementComponent.elementModel.hasArrowKeys"
        [hasBackspaceKey]="!!keypadService.elementComponent.elementModel.hasBackspaceKey"
        [hasReturnKey]="keypadService.elementComponent.elementModel | hasReturnKey"
        (backSpaceClicked)="keypadService.deleteCharacters.emit(true)"
        (keyClicked)="keypadService.enterKey.emit($event)"
        (select)="keypadService.select.emit($event)">
      </aspect-keypad>
  </div>
  <aspect-keyboard
    *ngIf="keyboardService.isOpen"
    @keyboardSlideInOut
    [@.disabled] = "isKeyboardAnimationDisabled"
    (@keyboardSlideInOut.done)="keyboardService.scrollElement()"
    [addInputAssistanceToKeyboard]="keyboardService.addInputAssistanceToKeyboard"
    [preset]="keyboardService.preset"
    [customKeys]="keyboardService.elementComponent.elementModel.inputAssistanceCustomKeys | inputAssistanceCustomKeys"
    (keyClicked)="keyboardService.enterKey.emit($event)"
    (backspaceClicked)="keyboardService.deleteCharacters.emit(true)">
  </aspect-keyboard>
  <aspect-math-keyboard-container>
  </aspect-math-keyboard-container>
</div>
