<div class="layout-container">
  <div class="unit-layout-container">
    <div class="pages-layout-container">
      <ng-content></ng-content>
    </div>
    <aspect-keypad
        *ngIf="keypadService.isOpen && keypadService.position === 'right'"
        @keypadSlideInOut
        [inputElement]="keypadService.inputElement"
        [position]="keypadService.position"
        [preset]="keypadService.preset"
        [customKeys]="keypadService.elementComponent.elementModel.inputAssistanceCustomKeys"
        [restrictToAllowedKeys]="keypadService.elementComponent.elementModel.restrictedToInputAssistanceChars"
        [hasArrowKeys]="keypadService.elementComponent.elementModel.hasArrowKeys"
        [hasBackspaceKey]="keypadService.elementComponent.elementModel.hasBackspaceKey"
        [hasReturnKey]="keypadService.elementComponent.elementModel | hasReturnKey"
        (backSpaceClicked)="keypadService.deleteCharacters(true)"
        (keyClicked)="keypadService.enterKey($event)">
    </aspect-keypad>
  </div>
  <aspect-keyboard
      *ngIf="keyboardService.isOpen"
      @keyboardSlideInOut
      (@keyboardSlideInOut.done)="keyboardService.scrollElement()"
      [showFrenchCharacters]="keyboardService.elementComponent.elementModel.softwareKeyboardShowFrench"
      (keyClicked)="keyboardService.enterKey($event)"
      (backspaceClicked)="keyboardService.deleteCharacters(true)">
  </aspect-keyboard>
</div>
