<h2 mat-dialog-title>{{ 'sectionTemplates.stimulusTitle' | translate }}</h2>
<div mat-dialog-content>
  @if (templateVariant == undefined) {
    <mat-action-list>
      <h3>{{ 'sectionTemplates.readingStimulus' | translate }}</h3>
      <button mat-list-item (click)="templateVariant = 'text'; isValid = true;">
        {{ 'text' | translate }}
      </button>
      <button mat-list-item (click)="templateVariant = 'email'; isValid = true;">
        {{ 'sectionTemplates.email' | translate }}
      </button>
      <button mat-list-item (click)="templateVariant = 'message'; isValid = true;">
        {{ 'sectionTemplates.mobilePhone' | translate }}
      </button>
      <h3>{{ 'sectionTemplates.audioStimulus' | translate }}</h3>
      <button mat-list-item (click)="templateVariant = 'audio1'">
        {{ 'sectionTemplates.audioCombined' | translate }}
      </button>
      <button mat-list-item (click)="templateVariant = 'audio2'">
        {{ 'sectionTemplates.audioSeparate' | translate }}
      </button>
    </mat-action-list>
  }
  @if (templateVariant == 'text') {
    <aspect-editor-text-stimulus></aspect-editor-text-stimulus>
  } @else if (templateVariant == 'email') {
    <aspect-editor-email-stimulus></aspect-editor-email-stimulus>
  } @else if (templateVariant == 'message') {
    <aspect-editor-message-stimulus></aspect-editor-message-stimulus>
  } @else if (templateVariant == 'audio1') {
    <aspect-editor-audio1-stimulus (validityChange)="onValidityChange($event)"></aspect-editor-audio1-stimulus>
  } @else if (templateVariant == 'audio2') {
    <aspect-editor-audio2-stimulus (validityChange)="onValidityChange($event)"></aspect-editor-audio2-stimulus>
  }
</div>
<div mat-dialog-actions>
  <button mat-button [disabled]="!templateVariant || !isValid" (click)="confirmAndClose()">
    {{ 'confirm' | translate }}      </button>
  <button mat-button mat-dialog-close>{{ 'cancel' | translate }}</button>
</div>
